<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:doorbird:config">
		<parameter name="doorbirdId" type="text" required="true">
			<label>ID</label>
			<description>Doorbird Identifier (e.g. 1)</description>
		</parameter>
		<parameter name="doorbirdHost" type="text" required="true">
			<label>Host</label>
			<description>Hostname or IP address of Doorbird</description>
			<context>network-address</context>
		</parameter>
		<parameter name="userId" type="text" required="true">
			<label>User ID</label>
		</parameter>
		<parameter name="userPassword" type="text" required="true">
			<label>Password</label>
			<context>password</context>
		</parameter>
		<parameter name="imageRefreshRate" type="integer" min="2" max="600">
			<label>Image Refresh Rate</label>
			<description>Image refresh rate in seconds (blank to disable)</description>
		</parameter>
		<parameter name="doorbellOffDelay" type="integer" min="1">
			<label>Doorbell Off Delay</label>
			<description>Delay to set doorbell channel OFF after doorbell event (blank to disable)</description>
		</parameter>
		<parameter name="motionOffDelay" type="integer" min="1">
			<label>Motion Off Delay</label>
			<description>Delay to set motion channel OFF after motion event (blank to disable)</description>
		</parameter>
		<parameter name="montageNumImages" type="integer" min="0" max="6">
			<label>Montage Number of Images</label>
			<description>Number of images to include in history montage</description>
			<default>0</default>
		</parameter>
		<parameter name="montageScaleFactor" type="integer" min="1" max="100">
			<label>Montage Scale Factor</label>
			<description>Scaling factor to apply to history montage</description>
			<default>25</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
