# This file defines required service configurations.
# It can be overridden by user specific configurations in conf/services folder.

org.eclipse.smarthome.folder:items=items
org.eclipse.smarthome.folder:sitemaps=sitemap
org.eclipse.smarthome.folder:rules=rules
org.eclipse.smarthome.folder:scripts=script
org.eclipse.smarthome.folder:persistence=persist
org.eclipse.smarthome.folder:things=things

org.eclipse.smarthome.security:option=OFF

org.eclipse.smarthome.persistence:default=rrd4j

org.eclipse.smarthome.chart:provider=default

org.eclipse.smarthome.classicui:defaultSitemap=_default

org.openhab.autoapprove:enabled=false
org.eclipse.smarthome.binding.sonos:opmlPartnerID=IAeIhU42

org.jupnp:multicastResponsePort=0
org.jupnp:streamListenPort=8080
org.jupnp:threadPoolSize=200

com.eclipsesource.jaxrs.connector:root=/rest
com.eclipsesource.jaxrs.swagger.config:swagger.basePath=/rest
com.eclipsesource.jaxrs.swagger.config:swagger.host=localhost:8080
com.eclipsesource.jaxrs.swagger.config:swagger.info.title=openHAB REST API

# Configuration of scheduled thread pool sizes
org.eclipse.smarthome.threadpool:thingHandler=3
org.eclipse.smarthome.threadpool:discovery=3

# Non-scheduled thread pools can also provide a max size
org.eclipse.smarthome.threadpool:safeCall=3,10
