<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
    xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

    <config-description uri="thing-type:openthermgateway:otgw">
        <parameter-group name="connection">
            <label>Connection</label>
            <description>Connection settings.</description>
        </parameter-group>

        <parameter name="ipaddress" type="text" required="true" groupName="connection">
		    <label>Hostname or IP address</label>
		    <description>The hostname or IP address to connect to the OpenTherm Gateway.</description>
		    <context>network-address</context>
		</parameter>
		
		<parameter name="port" type="integer" required="true" groupName="connection" min="0" max="65535">
		    <label>Port</label>
		    <description>The port used to connect to the OpenTherm Gateway.</description>
		</parameter>				
		
        <parameter name="connectionRetryInterval" type="integer" required="true" groupName="connection" min="1" unit="s">
            <label>Connection Retry Interval</label>
            <description>The interval in seconds to retry connecting.</description>
            <default>60</default>
        </parameter>                
        
    </config-description>

</config-description:config-descriptions>
