<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="automation:pythonscripting">
		<parameter name="jythonEmulation" type="boolean" required="true">
			<label>Enable Jython emulation in GraalPy</label>
			<description><![CDATA[
			This enables Jython emulation in GraalPy. It is strongly recommended to update code to GraalPy and Python 3 as the emulation can have performance degradation.
			For tips and instructions, please refer to <a href="https://www.graalvm.org/latest/reference-manual/python/Modern-Python-on-JVM">Jython Migration Guide</a>.
			]]></description>
			<options>
				<option value="true">Enable Jython Emulation</option>
				<option value="false">No Jython Emulation (preferred)</option>
			</options>
			<default>false</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
