<configuration debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org.openhab.binding.modbus" level="trace" />
  <logger name="org.openhab.binding.modbus.tests" level="trace" />
  <logger name="org.openhab.io.transport.modbus" level="trace" />
  <logger name="net.wimpi.modbus" level="trace" />
  <logger name="org.eclipse.smarthome.core.internal.items.ItemUpdater" level="trace" />
  <logger name="org.eclipse.smarthome.core.internal.items.ItemStateConverterImpl" level="debug" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
