<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="push-button:trigger-filter:config">
		<parameter name="command" type="text">
			<label>Command</label>
			<description>Command to send</description>
		</parameter>
		<parameter name="delay" type="integer" min="0" unit="ms">
			<label>Delay</label>
			<description>Delay in milliseconds before triggered</description>
			<default>0</default>
		</parameter>
		<parameter name="period" type="integer" min="0" unit="ms">
			<label>Period</label>
			<description>Time in milliseconds between successive triggers</description>
		</parameter>
	</config-description>

	<config-description uri="push-button:trigger-button:config">
		<parameter name="threshold" type="integer" min="0" unit="ms">
			<label>Threshold</label>
			<description>Long-press threshold in milliseconds</description>
			<default>1000</default>
		</parameter>
	</config-description>

	<config-description uri="module:address:config">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The Nikobus address of the module</description>
		</parameter>
	</config-description>

	<config-description uri="rollershutter-module:rollershutter-output:config">
		<parameter name="duration" type="integer" min="1" unit="s">
			<label>Duration</label>
			<description>Duration in seconds required for a rollershutter to get from open to closed</description>
		</parameter>
		<parameter name="delay" type="integer" min="0" unit="s">
			<label>Delay</label>
			<description>Delay specifying how many seconds after duration module's output is set to OFF. Defaults to 5 seconds</description>
		</parameter>
		<parameter name="reverse" type="boolean">
			<label>Reverse Direction</label>
			<description>Reverse direction of rollershutters. Defaults to false</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
