<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:kodi:kodi">
		<parameter-group name="network">
			<label>Network</label>
			<description>Network settings.</description>
		</parameter-group>
		<parameter-group name="connection">
			<label>Connection</label>
			<description>Connection settings.</description>
		</parameter-group>
		<parameter-group name="notification">
			<label>Notification</label>
			<description>Notification settings.</description>
		</parameter-group>
		<parameter name="ipAddress" type="text" required="true" groupName="network">
			<label>Network Address</label>
			<description>The IP or host name of the Kodi</description>
			<context>network-address</context>
		</parameter>
		<parameter name="port" type="integer" required="true" min="1" max="65535" groupName="network">
			<label>Web Socket Service Port</label>
			<description>Port for the web socket service</description>
			<default>9090</default>
		</parameter>
		<parameter name="httpPort" type="integer" required="true" min="1" max="65535" groupName="network">
			<label>HTTP Service Port</label>
			<description>Port for the HTTP service.</description>
			<default>8080</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="httpUser" type="text" required="false" groupName="network">
			<label>Username</label>
			<description>User name to access HTTP service.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="httpPassword" type="text" required="false" groupName="network">
			<context>password</context>
			<label>Password</label>
			<description>Password to access the HTTP service.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="refreshInterval" type="integer" required="false" min="1" max="60" unit="s"
			groupName="connection">
			<label>Refresh Interval</label>
			<description>The refresh interval to poll Kodi API (in s).</description>
			<default>10</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="notificationTimeout" type="integer" unit="s" required="true" groupName="notification">
			<label>Notification Timeout</label>
			<description>Maximum amount of time for which the notification will be played (in s).</description>
			<default>20</default>
		</parameter>
		<parameter name="notificationVolume" type="integer" min="0" max="100" step="1" unit="%"
			groupName="notification">
			<label>Notification Sound Volume</label>
			<description>Specifies the volume applied to a notification sound (in %).</description>
		</parameter>
	</config-description>

	<config-description uri="channel-type:kodi:pvr-channel">
		<parameter name="group" type="text">
			<label>PVR Channel Group</label>
			<description>The PVR channel group name used to identify the channel id.</description>
			<default>All channels</default>
		</parameter>
	</config-description>

	<config-description uri="channel-type:kodi:shownotification">
		<parameter name="title" type="text" required="false">
			<label>Notification Title</label>
			<description>Title to show for the notification.</description>
			<default>openHAB</default>
		</parameter>
		<parameter name="displayTime" type="integer" required="false" min="100" unit="ms">
			<label>Display Time</label>
			<description>Time the notification is displayed.</description>
			<default>5000</default>
		</parameter>
		<parameter name="icon" type="text" required="false">
			<label>Icon</label>
			<description>Icon name to show with the notification.</description>
		</parameter>
	</config-description>
</config-description:config-descriptions>
