<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:guntamatic:heatingsystem">
		<parameter name="hostname" type="text" required="true">
			<context>network-address</context>
			<label>Hostname</label>
			<description>Hostname or IP address of the Guntamatic Heating System</description>
		</parameter>
		<parameter name="key" type="text" required="false">
			<context>password</context>
			<label>Key</label>
			<description>Optional, but required to read protected parameters and to control the Guntamatic Heating System.
				The key
				needs to be reqested from Guntamatic support.</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" unit="s" min="1" required="false">
			<default>60</default>
			<label>Refresh Interval</label>
			<description>Interval the Guntamatic Heating System is polled in seconds. Default: 60s</description>
		</parameter>
		<parameter name="encoding" type="text" required="false">
			<default>windows-1252</default>
			<label>Encoding</label>
			<description>Code page used by the Guntamatic Heating System. Default: 'windows-1252'</description>
		</parameter>
	</config-description>
</config-description:config-descriptions>
