{{#required}}{{#isNullable}}@org.eclipse.jdt.annotation.Nullable{{/isNullable}}{{^isNullable}}@org.eclipse.jdt.annotation.Nullable{{/isNullable}}{{/required}}{{^required}}@org.eclipse.jdt.annotation.NonNull{{/required}}