<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:lifx:light">
		<parameter name="deviceId" type="text" pattern="([0-9A-Fa-f]{12})" required="false">
			<label>LIFX Device ID</label>
			<description>Identifies the light e.g. "D073D5A1A1A1"</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<label>Host</label>
			<description>Hostname or IP address of the light. Use empty value for automatic discovery.</description>
			<context>network-address</context>
		</parameter>
		<parameter name="fadetime" type="integer" required="false">
			<label>Fade Time</label>
			<description>The time to fade to the new color value (in ms).</description>
			<default>300</default>
		</parameter>
	</config-description>

	<config-description uri="channel-type:lifx:brightness">
		<parameter name="powerOnBrightness" type="integer" min="0" max="100" required="false" unit="%">
			<label>Power On Brightness</label>
			<description>Brightness level used when switching on the light. Use empty value to leave brightness as is.</description>
		</parameter>
	</config-description>

	<config-description uri="channel-type:lifx:color">
		<parameter name="powerOnBrightness" type="integer" min="0" max="100" required="false" unit="%">
			<label>Power On Brightness</label>
			<description>Brightness level used when switching on the light. Use empty value to leave brightness as is.</description>
		</parameter>
		<parameter name="powerOnColor" type="text"
			pattern="(36[0]|3[0-5][0-9]|[12][0-9][0-9]|[1-9][0-9]|[0-9]),(100|[1-9][0-9]|[0-9]),(100|[1-9][0-9]|[0-9])"
			required="false">
			<label>Power On Color</label>
			<description>Comma separated Hue (0-360), saturation (0-100) and brightness (0-100) levels used when switching on the
				light. Use empty value to leave it as is.</description>
		</parameter>
	</config-description>

	<config-description uri="channel-type:lifx:effect">
		<parameter name="effectMorphSpeed" type="decimal" min="0" max="120" step="0.1" required="false" unit="s">
			<label>Morph Effect Speed</label>
			<description>Speed of the morph effect in seconds.</description>
			<default>3</default>
		</parameter>
		<parameter name="effectFlameSpeed" type="decimal" min="0" max="120" step="0.1" required="false" unit="s">
			<label>Flame Effect Speed</label>
			<description>Speed of the flame effect in seconds.</description>
			<default>4</default>
		</parameter>
	</config-description>

	<config-description uri="channel-type:lifx:hevcycle">
		<parameter name="hevCycleDuration" type="integer" min="0" max="86400" step="1" required="false" unit="m">
			<label>HEV Cycle Duration</label>
			<description>HEV cycle duration in seconds. Use empty value for the cycle duration configured in the light.</description>
		</parameter>
	</config-description>

	<config-description uri="channel-type:lifx:temperature">
		<parameter name="powerOnTemperature" type="integer" min="0" max="100" required="false" unit="%">
			<label>Power On Temperature</label>
			<description>Color temperature level used when switching on the light. Use empty value to leave color temperature as
				is.</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
