.antlr*
.classpath
.idea
.project
.DS_Store
*.iml
npm-debug.log
.build.log

.metadata/
bin/
target/
src-gen/
xtend-gen/
.history/

*/plugin.xml_gen
**/.settings/org.eclipse.*

bundles/**/src/main/history
features/**/src/main/history
features/**/src/main/feature

.vscode
.factorypath
pom.xml.versionsBackup
.openapi-generator

.metals
.vim
shell.nix
tags
