<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:chromecast:device">
		<parameter name="ipAddress" type="text">
			<context>network-address</context>
			<label>Network Address</label>
			<description>Network address of the Chromecast device.</description>
			<required>true</required>
		</parameter>
		<parameter name="port" type="integer">
			<label>Network Port</label>
			<description>Network port of the Chromecast device.</description>
			<advanced>true</advanced>
			<default>8009</default>
		</parameter>
		<parameter name="refreshRate" type="integer">
			<label>Refresh Rate</label>
			<description>
				How often the chromecast should schedule a refresh. The chromecast should notify the binding when
				something changes, but if you want to track duration you'll need to schedule a refresh more often.
			</description>
			<advanced>true</advanced>
			<default>10</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
