<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="voice:googletts">
		<parameter-group name="authentication">
			<label>Authentication</label>
			<description>Authentication for connecting to Google Cloud Platform.</description>
		</parameter-group>
		<parameter-group name="tts">
			<label>TTS Configuration</label>
			<description>Parameters for Google Cloud TTS API.</description>
		</parameter-group>

		<parameter name="clientId" type="text" required="true" groupName="authentication">
			<label>Client Id</label>
			<description>Google Cloud Platform OAuth 2.0-Client Id.</description>
		</parameter>
		<parameter name="clientSecret" type="text" required="true" groupName="authentication">
			<context>password</context>
			<label>Client Secret</label>
			<description>Google Cloud Platform OAuth 2.0-Client Secret.</description>
		</parameter>
		<parameter name="authcode" type="text" groupName="authentication">
			<label>Authorization Code</label>
			<description><![CDATA[This code is used once for retrieving the Google Cloud Platform access and refresh tokens. Open the following URL in your browser to generate an authorization code:<br><br>https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/cloud-platform&access_type=offline&prompt=consent&include_granted_scopes=true&response_type=code&redirect_uri=https://www.google.com&client_id={{clientId}}<br><br>After your browser has been redirected to https://www.google.com, the authorization code will be set in the browser URL as value of the "code" URL query parameter.]]></description>
		</parameter>
		<parameter name="pitch" type="decimal" min="-20" max="20" step="0.1" groupName="tts">
			<label>Pitch</label>
			<description>Customize the pitch of your selected voice, up to 20 semitones more or less than the default output.</description>
			<default>0</default>
		</parameter>
		<parameter name="volumeGain" type="decimal" min="-96" max="16" groupName="tts">
			<label>Volume Gain</label>
			<description>Increase the volume of the output by up to 16db or decrease the volume up to -96db.</description>
			<default>0</default>
		</parameter>
		<parameter name="speakingRate" type="decimal" min="0.25" max="4" groupName="tts">
			<label>Speaking Rate</label>
			<description>Speaking rate can be 4x faster or slower than the normal rate.</description>
			<default>1</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
