<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="thing-type:lgtvserial:serial">
		<parameter name="port" type="text" required="true">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>Serial Port</label>
			<description>Select serial port (COM1, /dev/ttyS0, ...)</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" max="65535" min="10" unit="s" required="false">
			<label>Refresh Interval</label>
			<description>Refresh interval in seconds</description>
			<default>120</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="setId" type="integer" required="true">
			<label>Set ID</label>
			<description>Set ID configured in the TV. If 0, will send the commands to every chained TV.</description>
			<default>1</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
