<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="bridge-type:plugwise:stick">
		<parameter name="serialPort" type="text" required="true">
			<label>Serial port</label>
			<context>serial-port</context>
			<description>The serial port of the Stick, e.g. "/dev/ttyUSB0" for Linux or "COM1" for Windows</description>
			<default>/dev/ttyUSB0</default>
		</parameter>
		<parameter name="messageWaitTime" type="integer" min="0" max="500" step="50">
			<label>Message wait time</label>
			<description>The time to wait between messages sent on the ZigBee network (in ms)</description>
			<default>150</default>
			<unitLabel>ms</unitLabel>
		</parameter>
	</config-description>

	<config-description uri="channel-type:plugwise:fasterupdates">
		<parameter name="updateInterval" type="integer" min="1" required="true" unit="s">
			<label>Update interval</label>
			<description>Specifies at what rate the state is updated (in seconds)</description>
			<default>15</default>
			<unitLabel>s</unitLabel>
		</parameter>
	</config-description>

	<config-description uri="channel-type:plugwise:slowerupdates">
		<parameter name="updateInterval" type="integer" min="1" required="true" unit="s">
			<label>Update interval</label>
			<description>Specifies at what rate the state is updated (in seconds)</description>
			<default>60</default>
			<unitLabel>s</unitLabel>
		</parameter>
	</config-description>

	<config-description uri="thing-type:plugwise:relay">
		<parameter name="macAddress" type="text" pattern="(000)(d|D)6(f|F)(0000)([0-9A-Fa-f]{6})|(000)(d|D)6(f|F)(000)([0-9A-Fa-f]{7})" required="true">
			<label>MAC address</label>
			<description>The full device MAC address e.g. "000D6F0000A1B2C3"</description>
		</parameter>
		<parameter name="powerStateChanging" type="text" required="false">
			<label>Power state changing</label>
			<description>Controls if the power state can be changed with commands or is always on/off</description>
			<default>commandSwitching</default>
			<options>
				<option value="commandSwitching">Command switching</option>
				<option value="alwaysOn">Always on</option>
				<option value="alwaysOff">Always off</option>
			</options>
		</parameter>
		<parameter name="suppliesPower" type="boolean" required="false">
			<label>Supplies power</label>
			<description>Enables power production measurements</description>
			<default>false</default>
		</parameter>
		<parameter name="measurementInterval" type="integer" min="5" max="60" step="5" required="false" unit="min">
			<label>Measurement interval</label>
			<description>The energy measurement interval (in minutes)</description>
			<default>60</default>
			<unitLabel>m</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="temporarilyNotInNetwork" type="boolean" required="false">
			<label>Temporarily not in network</label>
			<description>Stops searching for an unplugged device on the ZigBee network traffic</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="updateConfiguration" type="boolean" required="true" readOnly="true">
			<label>Update configuration</label>
			<description>Stores if the device configuration is up to date (automatically enabled/disabled)</description>
			<default>true</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:plugwise:scan">
		<parameter name="macAddress" type="text" pattern="(000)(d|D)6(f|F)(0000)([0-9A-Fa-f]{6})|(000)(d|D)6(f|F)(000)([0-9A-Fa-f]{7})" required="true">
			<label>MAC address</label>
			<description>The full device MAC address e.g. "000D6F0000A1B2C3"</description>
		</parameter>
		<parameter name="sensitivity" type="text" required="false">
			<label>Sensitivity</label>
			<description>The sensitivity of movement detection</description>
			<default>medium</default>
			<options>
				<option value="off">Off</option>
				<option value="medium">Medium</option>
				<option value="high">High</option>
			</options>
		</parameter>
		<parameter name="switchOffDelay" type="integer" min="1" max="240" required="false" unit="min">
			<label>Switch off delay</label>
			<description>The delay the Scan waits before sending an off command when motion is no longer detected (in minutes)</description>
			<default>5</default>
			<unitLabel>m</unitLabel>
		</parameter>
		<parameter name="daylightOverride" type="boolean" required="false">
			<label>Daylight override</label>
			<description>Disables movement detection when there is daylight</description>
			<default>false</default>
		</parameter>
		<parameter name="wakeupInterval" type="integer" min="5" max="1440" step="60" required="false" unit="min">
			<label>Wake-up interval</label>
			<description>The interval in which the Scan wakes up at least once (in minutes)</description>
			<default>1440</default>
			<unitLabel>m</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="wakeupDuration" type="integer" min="10" max="120" step="10" required="false" unit="s">
			<label>Wake-up duration</label>
			<description>The number of seconds the Scan stays awake after it woke up</description>
			<default>10</default>
			<unitLabel>s</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="recalibrate" type="boolean" required="false">
			<label>Recalibrate</label>
			<description>Calculates a new daylight override boundary when the Scan wakes up</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="updateConfiguration" type="boolean" required="true" readOnly="true">
			<label>Update configuration</label>
			<description>Stores if the Scan configuration is up to date (automatically enabled/disabled)</description>
			<default>true</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:plugwise:sense">
		<parameter name="macAddress" type="text" pattern="(000)(d|D)6(f|F)(0000)([0-9A-Fa-f]{6})|(000)(d|D)6(f|F)(000)([0-9A-Fa-f]{7})" required="true">
			<label>MAC address</label>
			<description>The full device MAC address e.g. "000D6F0000A1B2C3"</description>
		</parameter>
		<parameter name="measurementInterval" type="integer" min="5" max="60" step="5" required="false" unit="min">
			<label>Measurement interval</label>
			<description>The interval in which the Sense measures the temperature and humidity (in minutes)</description>
			<default>15</default>
			<unitLabel>m</unitLabel>
		</parameter>
		<parameter name="boundaryType" type="text" required="false">
			<label>Boundary type</label>
			<description>The boundary type that is used for switching</description>
			<default>none</default>
			<options>
				<option value="none">None</option>
				<option value="temperature">Temperature</option>
				<option value="humidity">Humidity</option>
			</options>
		</parameter>
		<parameter name="boundaryAction" type="text" required="false">
			<label>Boundary action</label>
			<description>The boundary switch action when the value is below/above the boundary minimum/maximum</description>
			<default>offBelowOnAbove</default>
			<options>
				<option value="offBelowOnAbove">Off below / On above</option>
				<option value="onBelowOffAbove">On below / Off above</option>
			</options>
		</parameter>
		<parameter name="temperatureBoundaryMin" type="integer" min="0" max="60" step="5" required="false" unit="Cel">
			<label>Temperature minimum</label>
			<description>The minimum boundary for the temperature boundary action</description>
			<default>15</default>
		</parameter>
		<parameter name="temperatureBoundaryMax" type="integer" min="0" max="60" step="5" required="false" unit="Cel">
			<label>Temperature maximum</label>
			<description>The maximum boundary for the temperature boundary action</description>
			<default>25</default>
		</parameter>
		<parameter name="humidityBoundaryMin" type="integer" min="5" max="95" step="5" required="false" unit="%">
			<label>Humidity minimum</label>
			<description>The minimum boundary for the humidity boundary action</description>
			<default>45</default>
		</parameter>
		<parameter name="humidityBoundaryMax" type="integer" min="5" max="95" step="5" required="false" unit="%">
			<label>Humidity maximum</label>
			<description>The maximum boundary for the humidity boundary action</description>
			<default>65</default>
		</parameter>
		<parameter name="wakeupInterval" type="integer" min="5" max="1440" step="60" required="false" unit="min">
			<label>Wake-up interval</label>
			<description>The interval in which the Sense wakes up at least once (in minutes)</description>
			<default>1440</default>
			<unitLabel>m</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="wakeupDuration" type="integer" min="10" max="120" step="10" required="false" unit="s">
			<label>Wake-up duration</label>
			<description>The number of seconds the Sense stays awake after it woke up</description>
			<default>10</default>
			<unitLabel>s</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="updateConfiguration" type="boolean" required="true" readOnly="true">
			<label>Update configuration</label>
			<description>Stores if the Sense configuration is up to date (automatically enabled/disabled)</description>
			<default>true</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:plugwise:switch">
		<parameter name="macAddress" type="text" pattern="(000)(d|D)6(f|F)(0000)([0-9A-Fa-f]{6})|(000)(d|D)6(f|F)(000)([0-9A-Fa-f]{7})" required="true">
			<label>MAC address</label>
			<description>The full device MAC address e.g. "000D6F0000A1B2C3"</description>
		</parameter>
		<parameter name="wakeupInterval" type="integer" min="5" max="1440" step="60" required="false" unit="min">
			<label>Wake-up interval</label>
			<description>The interval in which the Switch wakes up at least once (in minutes)</description>
			<default>1440</default>
			<unitLabel>m</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="wakeupDuration" type="integer" min="10" max="120" step="10" required="false" unit="s">
			<label>Wake-up duration</label>
			<description>The number of seconds the Switch stays awake after it woke up</description>
			<default>10</default>
			<unitLabel>s</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="updateConfiguration" type="boolean" required="true" readOnly="true">
			<label>Update configuration</label>
			<description>Stores if the Switch configuration is up to date (automatically enabled/disabled)</description>
			<default>true</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

</config-description:config-descriptions>
