<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="voice:pollytts">
		<parameter name="accessKey" type="text" required="true">
			<label>Access Key</label>
			<description>The access key part of the AWS credentials. You need to register to get a key.</description>
		</parameter>

		<parameter name="secretKey" type="text" required="true">
			<label>Secret Key</label>
			<description>The secret key part of the AWS credentials. You need to register to get a key.</description>
		</parameter>

		<parameter name="serviceRegion" type="text" required="true">
			<label>Service Region</label>
			<description>The service region used for accessing Polly. To reduce latency select the region closest to you.</description>
			<options>
				<option value="ap-south-1">Asia Pacific (Mumbai)</option>
				<option value="ap-northeast-2">Asia Pacific (Seoul)</option>
				<option value="ap-southeast-1">Asia Pacific (Singapore)</option>
				<option value="ap-southeast-2">Asia Pacific (Sydney)</option>
				<option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
				<option value="us-gov-west-1">AWS GovCloud (US)</option>
				<option value="ca-central-1">Canada (Central)</option>
				<option value="cn-northwest-1">China (Ningxia)</option>
				<option value="eu-central-1">EU (Frankfurt)</option>
				<option value="eu-west-1">EU (Ireland)</option>
				<option value="eu-west-2">EU (London)</option>
				<option value="eu-west-3">EU (Paris)</option>
				<option value="sa-east-1">South America (São Paulo)</option>
				<option value="us-east-1">US East (N. Virginia)</option>
				<option value="us-east-2">US East (Ohio)</option>
				<option value="us-west-1">US West (N. California)</option>
				<option value="us-west-2">US West (Oregon)</option>
			</options>
			<default>eu-west-1</default>
		</parameter>

		<parameter name="audioFormat" type="text">
			<label>Audio Format</label>
			<description>Allows for overriding the system default audio format. "MP3" and "OGG" are the only audio formats that
				are supported.</description>
			<options>
				<option value="default">Use system default</option>
				<option value="MP3">MP3</option>
				<option value="OGG">OGG</option>
			</options>
			<default>default</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
