<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:somfytahoma:device">
		<parameter name="url" type="text">
			<label>Somfy Tahoma device URL</label>
			<description>The identifier of this Somfy device</description>
			<required>true</required>
		</parameter>
	</config-description>

	<config-description uri="thing-type:somfytahoma:gateway">
		<parameter name="id" type="text">
			<label>Somfy Tahoma gateway ID</label>
			<description>The identifier of this Somfy gateway</description>
			<required>true</required>
		</parameter>
	</config-description>

	<config-description uri="bridge-type:somfytahoma:bridge">
		<parameter name="email" type="text">
			<label>Email Address</label>
			<description>Email address for TahomaLink portal</description>
			<required>true</required>
		</parameter>

		<parameter name="password" type="text">
			<context>password</context>
			<label>Password</label>
			<description>Password for TahomaLink portal</description>
			<required>true</required>
		</parameter>

		<parameter name="refresh" type="integer" required="false" min="10">
			<label>Refresh</label>
			<description>Specifies the refresh time in seconds for polling events from Tahoma cloud</description>
			<default>30</default>
		</parameter>

		<parameter name="statusTimeout" type="integer" required="false" min="60">
			<label>Status timeout</label>
			<description>Specifies the timeout in seconds after which the status is got from Tahoma cloud</description>
			<default>300</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
