<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<!-- Bridge -->
	<config-description uri="bridge-type:plugwiseha:gateway">
		<parameter name="host" type="text" required="true">
			<context>network-address</context>
			<label>Host</label>
			<description>Hostname or IP address of the boiler gateway</description>
			<default>adam</default>
		</parameter>
		<parameter name="username" type="text" required="true">
			<label>Username</label>
			<description>Adam HA gateway username (default: smile)</description>
			<default>smile</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="smileId" type="text" pattern="[a-zA-Z0-9]{8}" required="true">
			<context>password</context>
			<label>Smile ID</label>
			<description>The Smile ID is the 8 letter code on the sticker on the back of the Adam boiler gateway</description>
		</parameter>
		<parameter name="refresh" type="integer" min="3" max="300" required="true" unit="s">
			<label>Refresh Interval</label>
			<unitLabel>seconds</unitLabel>
			<description>Refresh interval in seconds</description>
			<default>15</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<!-- Zone thing -->
	<config-description uri="thing-type:plugwiseha:zone">
		<parameter name="id" type="text" required="true" readOnly="false">
			<label>ID</label>
			<description>Location ID for the zone</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:plugwiseha:appliance_boiler">
		<parameter name="id" type="text" required="true" readOnly="false">
			<label>ID</label>
			<description>Appliance ID</description>
		</parameter>
	</config-description>

	<!-- Appliance: Radiator valve -->
	<config-description uri="thing-type:plugwiseha:appliance_valve">
		<parameter name="id" type="text" required="true" readOnly="false">
			<label>ID</label>
			<description>Appliance ID</description>
		</parameter>
		<parameter name="lowBatteryPercentage" type="integer" min="1" max="50" required="true">
			<label>Low Battery Threshold</label>
			<unitLabel>%</unitLabel>
			<description>Battery charge remaining at which to trigger battery low warning</description>
			<default>15</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<!-- Appliance: Pump switch -->
	<config-description uri="thing-type:plugwiseha:appliance_pump">
		<parameter name="id" type="text" required="true" readOnly="false">
			<label>ID</label>
			<description>Appliance ID</description>
		</parameter>
	</config-description>

	<!-- Appliance: Radiator valve -->
	<config-description uri="thing-type:plugwiseha:appliance_thermostat">
		<parameter name="id" type="text" required="true" readOnly="false">
			<label>ID</label>
			<description>Appliance ID</description>
		</parameter>
		<parameter name="lowBatteryPercentage" type="integer" min="1" max="50" required="true">
			<label>Low Battery Threshold</label>
			<unitLabel>%</unitLabel>
			<description>Battery charge remaining at which to trigger battery low warning</description>
			<default>15</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

</config-description:config-descriptions>
