<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>NEEO Integration</title>
        <script src="js/thirdparty/jquery.min.js"></script>
        <script src="js/thirdparty/angular.min.js"></script>
        <script src="js/thirdparty/angular-sanitize.js"></script>
        <script src="js/thirdparty/bootstrap.min.js"></script>
        <script src="js/thirdparty/ui-bootstrap-tpls.min.js"></script>
        <script src="js/thirdparty/jquery.jgrowl.min.js"></script>
        <script src="js/thirdparty/lodash.min.js"></script>
        <script src="js/thirdparty/select.min.js"></script>
        <script src="js/thirdparty/filesaver.js"></script>
        <script src="js/app.js"></script>
        
        <link rel="stylesheet" href="css/thirdparty/all.min.css">
        <link rel="stylesheet" href="css/thirdparty/bootstrap.min.css">
        <link rel="stylesheet" href="css/thirdparty/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/thirdparty/jquery.jgrowl.min.css" />
        <link rel="stylesheet" href="css/thirdparty/select.min.css">
        <link rel="stylesheet" href="css/thirdparty/select2.css">
        <link rel="stylesheet" href="css/site.css">
    </head>

    <body>
        <div id="neeoApp" ng-app="neeo" ng-controller="NeeoCtrl as ctrl" class="container">
            <script type="text/ng-template" id="devicePopover.html">
                <div>
                    <table class="devicePopover">
                        <tr>
                            <td class='popoverName'>UID</td>
                            <td class='popoverValue'>{{device.uid}}</td>
                        </tr>
                        <tr>
                            <td class='popoverName'>Status</td>
                            <td class='popoverValue connected' ng-class="{ 'success': device.thingStatus=='ONLINE', 'danger': device.thingStatus!='ONLINE' }">{{device.thingStatus}}</td>
                        </tr>
                        <tr>
                            <td class='popoverName'>Keys</td>
                            <td class='popoverValue'>{{device.keys.length==0 ? "(None)" : device.keys.join()}}</td>
                        </tr>
                    </table>
                </div>
            </script>

            <script type="text/ng-template" id="channelPopover.html">
                <div>
                    <table  class="channelPopover">
                        <tr>
                            <td class='popoverName'>Read only</td>
                            <td class='popoverValue'>{{channel.isReadOnly}}</td>
                        </tr>
                        <tr>
                            <td class='popoverName'>ItemName</td>
                            <td class='popoverValue'>{{channel.itemName}}</td>
                        </tr>
                        <tr>
                            <td class='popoverName'>Channel Nbr</td>
                            <td class='popoverValue'>{{channel.channelNbr}}</td>
                        </tr>
                        <tr>
                            <td class='popoverName'>Accepted Commands</td>
                            <td class='popoverValue'>{{channel.acceptedCommandTypes.length==0 ? "(None)" : channel.acceptedCommandTypes.join()}}</td>
                        </tr>
                    </table>
                </div>
            </script>
            
            <script type="text/ng-template" id="showlog.html">
                <div class="showLog-header modal-header">
                    <h3 class="showLog-title modal-title" id="showLog-title">Log File</h3>
                </div>
                <div class='logfile' ng-bind-html='$ctrl.log'>
                </div>
                <div class="showLog-footer modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                </div>
            </script>

            <script type="text/ng-template" id="listItems.html">
                <div class="listItems-header modal-header">
                    <h3 class="listItems-title modal-title" id="listItems-title">List Items</h3>
                </div>
                <div ng-form name="overallForm">
                <div class="listItems-body modal-body" id="listItems-body">
                            <button class="btn btn-xs" uib-tooltip="Add a new Virtual Thing" ng-click="$ctrl.addItem()">
                                <span class="far fa-plus-square"></span>
                                <span class="buttonText">Add Item</span>
                            </button>
                        <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Value</th>
                                <th>Label</th>
                                <th>UI Action</th>
                                <th>Thumbnail URI</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="items-item" ng-repeat="item in $ctrl.items track by $index" ng-form name="myForm">
                            <td class="actions">
                            <button class="btn btn-xs" uib-tooltip="Delete Item" ng-click="$ctrl.deleteItem($index)">
                                <span class="fas fa-minus"></span>
                            </button>
                            </td>
                            <td class="itemValue">
                                <input name="value" ng-model='item.itemValue' required>
                                <span class="error" ng-show="myForm.value.$invalid">An item value is required.</span>
                            </td>                       
                            <td class="title">
                                <input name="title" ng-model='item.title' required>
                                <span class="error" ng-show="myForm.title.$invalid">A title is required</span>
                            </td>                       
                            <td class="uiAction">
                               <select ng-model="item.uiAction" required>
                                 <option value="close">Close</option>
                                 <option value="goToRoot">Go to Root</option>
                                 <option value="goBack">Go Back a level</option>
                                 <option value="reload">Reload</option>
                               </select>
                                <span class="error" ng-show="myForm.title.$invalid">A ui action is required</span>
                            </td>                       
                            <td class="thumbNail">
                                <input name="thumbnail" ng-model='item.thumbNailUri'>
                            </td>                       
                        </tr>
                        </tbody>
                        </table>
                </div>
                <div class="listItems-footer modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-disabled="!overallForm.$valid">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
                </div>
            </script>

            <script type="text/ng-template" id="advancedProperties.html">
                <div class="advProp-header modal-header">
                    <h3 class="advProp-title modal-title" id="advProp-title">Advanced Properties</h3>
                </div>
                <div class="advProp-body modal-body" id="advProp-body">
                    <fieldset class="other">
                        <legend>Properties</legend>
                        <div class="props">
                            <label for="driverVersion">Driver Version</label>
                            <input type='number' id="driverVersion" ng-model='$ctrl.props.driverVersion' placeholder='{{$ctrl.props.name}}'>
                            <span>(1 is added when saved)</span>
                        </div>
                        <div class="props">
                            <label for="specificname">Specific Name</label>
                            <input id="specificname" ng-model='$ctrl.props.specificName' placeholder='{{$ctrl.props.name}}'>
                        </div>
                        <div class="props">
                            <label for="iconname">Icon Name</label>
                            <input id="iconname" ng-model='$ctrl.props.iconName'>
                                                <span uib-dropdown>
                                                    <button class="btn btn-xs" uib-dropdown-toggle>
                                                        <i class="fas fa-caret-down" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                        <li ng-repeat="x in $ctrl.imageNames track by $index ">
                                                            <a href="#" ng-click="$ctrl.props.iconName = x.value" ng-bind="x.value"></a>
                                                        </li>
                                                    </ul>
                                                </span>

                        </div>
                    </fieldset>
                    <fieldset class="timings" ng-hide="$ctrl.device.type == '' || $ctrl.device.type == 'ACCESSOIRE' || $ctrl.device.type == 'LIGHT'">
                        <legend>Device Timings</legend>
                        <div class="props timing">
                            <label for="timingOn">ON</label>
                            <input id='timingOn' type='number' ng-model="$ctrl.props.timing.standbyCommandDelay" min="0" max="60000"/>
                        </div>
                        <div class="props timing">
                            <label for="timingSwitch">Switch</label>
                            <input id='timingSwitch' type='number' ng-model="$ctrl.props.timing.sourceSwitchDelay" min="0" max="60000"/>
                        </div>
                        <div class="props timing">
                            <label for="timingOff">OFF</label>
                            <input id='timingOff' type='number' ng-model="$ctrl.props.timing.shutdownDelay" min="0" max="60000"/>
                        </div>
                    </fieldset>
                    <fieldset class="deviceCapabilities">
                        <legend>Device Capabilities</legend>
                        <div class="deviceCapability">
                            <div><label><input type="checkbox" name="checkbox" ng-checked="$ctrl.isAlwaysOn()" ng-click="$ctrl.toggleAlwaysOn()">Always On</label></div>
                        </div>
                    </fieldset>
                </div>
                <div class="advProp-footer modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </script>
            
            <script type="text/ng-template" id="additems.html">
                <div class="addItems-header modal-header">
                    <h3 class="addItems-title modal-title" id="addItems-title">Add Items</h3>
                </div>
                <div class="addItems-body modal-body" id="addItems-body">
                    <div class="addItems-buttons">
                        <div class="addItems-action">
                            <button class="btn btn-xs" uib-tooltip="Add a new Virtual Thing" ng-click="$ctrl.addNewItem()">
                                <span class="far fa-plus-square"></span>
                                <span class="buttonText">Add Item</span>
                            </button>
                        </div>

                        <div class="addItems-action itemDelete">
                            <button class="btn btn-xs" uib-tooltip="Delete All Things" ng-click="$ctrl.deleteAllNewItems()">
                                <span class="far fa-plus-square"></span>
                                <span class="buttonText">Delete All</span>
                            </button>
                        </div>

                        <div class="addItems-action itemImport">
                            <label for="addItems-itemImport" class="importLabel btn btn-xs">
                                <i class="fas fa-upload"></i> Import Items
                            </label>
                            <input id="addItems-itemImport"
                                onchange="angular.element(this).scope().importItems(this)"
                                type="file" accept=".items" />
                        </div>
       
                        <div class="addItems-action itemImportThing">
                            <ui-select ng-model="$ctrl.selectedDevice" theme="select2" style="width: 200px;" title="Choose a device">
                                <ui-select-match placeholder="Select a device...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="device in $ctrl.devices | filter: $select.search">
                                    <div ng-bind-html="device.name | highlight: $select.search"></div>
                                    <small>{{ device.uid }}</small>
                                </ui-select-choices>
                            </ui-select>
                            <button class="btn btn-xs" uib-tooltip="Import Thing Items" ng-disabled="$ctrl.selectedDevice === undefined" ng-click="$ctrl.addThingItems()">
                                <span class="far fa-plus-square"></span>
                                <span class="buttonText">Add Thing Items</span>
                            </button>                       
                        </div>       
                    </div>
                    <div class="addItems-importing" ng-if="$ctrl.isImporting === true">
                        <i class="fas fa-sync fa-spin"></i>
                        <span>Importing Items...</span>
                    </div>
                    <div class="addItems-items" ng-if="$ctrl.isImporting === false">
                        <div class="addItems-item" ng-repeat="newItem in $ctrl.newItems track by $index ">
                            <button class="btn btn-xs" uib-tooltip="Delete Item" ng-click="$ctrl.deleteNewItem($index)">
                                <span class="fas fa-minus"></span>
                            </button>                       
                            <ui-select ng-model="$ctrl.newItems[$index]" theme="select2" style="min-width: 300px;" title="Choose an item">
                                <ui-select-match placeholder="Select an item...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.name as item in $ctrl.items | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    <small>
                                        Label: {{ item.label }} (Type: {{item.type}})
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="addItems-footer modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </script>

            <div class="header">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="img/neeo.svg" />
                            </td>
                            <td>
                                <div class="title">Integration Status and Settings</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="disclaimer">This binding was not written by or supported by NEEO</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <uib-tabset active="active"> 
                <uib-tab index="0">
                    <uib-tab-heading>
                        Brains <i class="glyphicon glyphicon-refresh" ng-click='ctrl.getBrainStatuses()'></i> 
                    </uib-tab-heading>

                    <div class="neeoBrains">
                        <div ng-if="ctrl.isRefreshingBrains === true" class="noBrains empty">Refreshing Brains...</div>
                        <div ng-if="ctrl.brainStatuses.length === 0 && ctrl.isRefreshingBrains === false" class="noBrains empty">No brains have been discovered yet - 
	                        <div class="brainActionNone">
	                            <button class="btn btn-sm" uib-tooltip="Manually adds a brain" ng-click="ctrl.addBrain()">
	                                <span class="buttonText">Add Brain</span>
	                            </button>
	                        </div>
                        </div>
                        <div ng-if="ctrl.brainStatuses.length > 0 && ctrl.isRefreshingBrains === false">
		                        <div class="brainActions">
		                            <button class="btn btn-xs" uib-tooltip="Manually adds a brain" ng-click="ctrl.addBrain()">
		                                <span class="buttonText">Add Brain</span>
		                            </button>
		                        </div>
		                        
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Brain ID</th>
                                            <th>Brain Name</th>
                                            <th>Brain URL</th>
                                            <th>Callback URL</th>
                                            <th>Firmware</th>
                                            <th>Connected?</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="status in ctrl.brainStatuses track by $index " ng-class-even="'evenRow'">
                                            <td>{{status.brainId}}</td>
                                            <td>{{status.brainName}}</td>
                                            <td>{{status.brainUrl}}</td>
                                            <td>{{status.callbackUrl}}</td>
                                            <td>{{status.firmwareVersion}}</td>
                                            <td class="connected" ng-class="{ 'success': status.connected, 'danger': !status.connected }">{{ status.connected ? "OK" : "OFFLINE" }}</td>
                                            <td class="brainActions2">
                                                <button class="btn btn-xs" uib-tooltip="Show EUI" ng-disabled="!status.connected" ng-click="ctrl.showEui(status.brainUrl)">
                                                    <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-xs" uib-tooltip="Show Brain Log" ng-disabled="!status.connected" ng-click="ctrl.showLog(status.brainId)">
                                                    <i class="far fa-file-alt" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-xs" uib-tooltip="Blinks related Brain" ng-disabled="!status.connected" ng-click="ctrl.blinkLed(status.brainId)">
                                                    <i class="far fa-dot-circle" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-xs" uib-tooltip="Disconnects from the Brain" ng-click="ctrl.removeBrain(status.brainId)">
                                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>          
                        </div>
                </uib-tab> 
                <uib-tab index="1" >
                    <uib-tab-heading>
                        Things <i class="glyphicon glyphicon-refresh" ng-click='ctrl.getDevices()'></i> 
                    </uib-tab-heading>

                    <div class="toolBar">
                        <div class="toolBarAction">
                            <input ng-model="ctrl.thingSearch.name" placeholder="Search Things..."/>
                            <button class="btn btn-xs" uib-tooltip="Clear search" ng-disabled="ctrl.devices.length===0" ng-click="ctrl.clearSearch()">
                                <span class="fas fa-times"></span>
                            </button>
                        </div>
                        <div class="toolBarAction">
                            <button class="btn btn-xs" uib-tooltip="Add a new Virtual Thing" ng-disabled="ctrl.devices.length===0" ng-click="ctrl.addVirtualDevice()">
                                <span class="far fa-plus-square"></span>
                                <span class="buttonText">Virtual</span>
                            </button>
                        </div>
                    </div>

                    <div class="openhabThings">
                        <div ng-if="ctrl.isRefreshingDevices === true" class="noThings empty">Refreshing Things... <div class="noThingDetails">This may take awhile if you have a large amount of things on your system.</div></div>
                        <div ng-if="ctrl.devices.length === 0 && ctrl.isRefreshingDevices === false" class="noThings empty">No things have been defined.</div>
                        <div ng-if="ctrl.devices.length > 0 && ctrl.isRefreshingDevices === false">
                                <div class="devices">
                                    <div class="deviceInfo title1">
                                        <div class="deviceLinked"></div>
                                        <div class="deviceExpand"></div>

                                        <div class="deviceInfoPopup"></div>
                                        <div class="deviceName"></div>
                                        <div class="deviceType"></div>

                                        <div class="deviceActions"></div>                 
                                    </div>
                                    <div class="deviceInfo title2">
                                        <div class="deviceLinked"></div>
                                        <div class="deviceExpand"></div>

                                        <div class="deviceInfoPopup"></div>
                                        <div class="deviceName">Name</div>
                                        <div class="deviceType">NEEO Type</div>

                                        <div class="deviceActions">Actions</div>                 
                                    </div>

                                    <div ng-repeat="device in (filteredDevices = (ctrl.devices | filter: ctrl.thingSearch)) track by $index">
                                        <div class="newDeviceBreak deviceBreak" ng-if="$first && device.isNewDevice">
                                            New (Unsaved) Things
                                        </div>
                                        <div class="virtualDeviceBreak deviceBreak" ng-if="!device.isNewDevice && ctrl.isVirtualDevice(device) && ($first || filteredDevices[$index - 1].isNewDevice)">
                                            Virtual Things
                                        </div>
                                        <div class="normalDeviceBreak deviceBreak" ng-if="!ctrl.isVirtualDevice(device) && ($first || ctrl.isVirtualDevice(filteredDevices[$index - 1]))">
                                            openHAB Things
                                        </div>
                                        <div class="deviceInfo" ng-class-even="'deviceEvenRow'" ng-class="{'info': ctrl.selectedDevice == device }">
                                            <div class="deviceLinked">
                                                <i class="far fa-check-circle" aria-hidden="true" ng-show='device.keys !== undefined && device.keys.length > 0'></i>
                                            </div>
                                            <div class="deviceExpand">
                                                <i class="far fa-plus-square" aria-hidden="true" ng-if='ctrl.selectedDevice != device' ng-click="ctrl.selectDevice(device)"></i> <i class="fas fa-minus-square" aria-hidden="true" ng-if='ctrl.selectedDevice == device' ng-click="ctrl.selectDevice(undefined)"></i>
                                            </div>

                                            <div class="deviceInfoPopup" uib-popover-template="'devicePopover.html'" popover-trigger="'outsideClick'" popover-placement="bottom">
                                                <i class="fas fa-info-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="deviceName" ng-if="!ctrl.isVirtualDevice(device)" ng-bind="device.name"></div>
                                            <div class="deviceName" ng-if="ctrl.isVirtualDevice(device)">
                                                <input ng-model="device.name" ng-focus="device.isEditing = true" ng-blur="device.isEditing = false" placeholder="Enter a name..."/>
                                            </div>
                                            <div class="deviceType">
                                                <input ng-model="device.type" ng-change="device.type = device.type.toUpperCase()" />
                                                <span uib-dropdown>
                                                    <button class="btn btn-xs" uib-dropdown-toggle>
                                                        <i class="fas fa-caret-down" aria-hidden="true"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right scrollable-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                        <li ng-repeat="x in ctrl.deviceTypes track by $index ">
                                                            <a href="#" ng-click="device.type = x.value" ng-bind="x.value"></a>
                                                        </li>
                                                    </ul>
                                                </span>
                                            </div>

                                            <div class="deviceActions">
                                                <button uib-tooltip="Advanced Properties" ng-click="ctrl.showAdvancedProperties(device)" class="advProp btn btn-xs" ng-class="">
                                                    <i class="fas fa-cog" aria-hidden="true"></i>
                                                </button>
                                                <button uib-tooltip="Add a virtual item" ng-if="ctrl.isVirtualDevice(device)" ng-click="ctrl.addVirtualItems(device)" class="addItem btn btn-xs" ng-class="">
                                                    <i class="far fa-plus-square" aria-hidden="true"></i>
                                                </button>
                                                <button uib-tooltip="Add a trigger item" ng-click="ctrl.addTriggerChannel(device)" class="addItem btn btn-xs" ng-class="">
                                                    <i class="fas fa-puzzle-piece" aria-hidden="true"></i>
                                                </button>
                                                <button uib-tooltip="Save the device changes" ng-click="ctrl.saveDevice(device)" class="save btn btn-xs" ng-disabled="device.name == undefined || device.channels.length === 0" ng-class="{ 'canSave': device.hasChanges === true }">
                                                    <i class="fas fa-save" aria-hidden="true"></i>
                                                </button>
                                                <button uib-tooltip="Refresh device (losing any changes)" ng-disabled="device.isNewDevice" ng-click="ctrl.refreshDevice(device)" class="refresh btn btn-xs">
                                                    <i class="fas fa-sync-alt" aria-hidden="true"></i>
                                                </button>
                                                <button uib-tooltip="Delete device" ng-if="ctrl.isVirtualDevice(device)" ng-click="ctrl.deleteDevice(device)" class="deleteItem btn btn-xs" ng-class="">
                                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                </button>
                                                <button uib-tooltip="Restore to defaults (losing any changes)" ng-if="!ctrl.isVirtualDevice(device)" ng-click="ctrl.restoreDevice(device)" class="restore btn btn-xs">
                                                    <i class="fas fa-eraser" aria-hidden="true"></i>
                                                </button>
                                                <button uib-tooltip="Export rules template" ng-disabled="device.hasChanges === true" ng-if="ctrl.hasChannel(device, 'trigger')" ng-click="ctrl.exportRules(device)" class="exportRules btn btn-xs">
                                                    <i class="fas fa-download" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="deviceDetails" ng-if="ctrl.selectedDevice == device && ctrl.hasChannel(device, 'trigger')">
                                            <div class="detailHeader">
                                                <div class="detailInfoActions"></div>
                                                <div class='channelItemName'>Item Label</div>
                                                <div class='channelName'>NEEO Label</div>
                                                <div class='channelType'>NEEO Type</div>
                                                <div class='channelLabel'>Event Payload</div>
                                            </div>
                                            <div class="detailInfo" ng-repeat="channel in ctrl.getChannels(device, 'trigger') track by $index" ng-class-even="'detailEvenRow'">
                                                <div class="detailInfoActions">
                                                    <button class="btn btn-xs" ng-click="ctrl.removeChannel(device, channel)">
                                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="channelItemName">
                                                    <input ng-model="channel.itemName" ng-focus="channel.isEditing = true" ng-blur="channel.isEditing = false" placeholder="Enter Event Name (required)..."/>
                                                </div>
                                                <div class="channelLabel">
                                                    <input ng-model="channel.label" placeholder="Enter Label (required)..."/>
                                                </div>

                                                <div class="channelType">
                                                    <select ng-model="channel.type">
                                                        <option value="">(Exclude)</option>
                                                        <option value="button" >Button</option>
                                                    </select>
                                                </div>

                                                <div class="channelValue">
                                                    <input ng-model="channel.value" placeholder="Enter Payload (optional)..." />
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="deviceDetails" ng-if="ctrl.selectedDevice == device && ctrl.hasChannel(device, 'item')">
                                            <div class="detailHeader">
                                                <div class="detailInfoActions"></div>
                                                <div class='detailInfoPopup'></div>
                                                <div class="channelItemType">Type</div>
                                                <div class='channelName'>Item Label</div>
                                                <div class='channelType'>NEEO Type</div>
                                                <div class='channelLabel'>NEEO Label</div>
                                                <div class='channelValue'>Format/Command/Range</div>
                                            </div>
                                            
                                            <div class="detailInfo" ng-repeat="channel in ctrl.getChannels(device, 'item') track by $index" ng-class-even="'detailEvenRow'">
                                                <div class="detailInfoActions">
                                                    <button class="btn btn-xs" ng-if="channel.channelNbr === 1" ng-click="ctrl.addChannel(device, channel)">
                                                        <i class="far fa-plus-square" aria-hidden="true"></i>
                                                    </button>
                                                    <button class="btn btn-xs" ng-if="channel.channelNbr > 1 || ctrl.isVirtualDevice(device)" ng-click="ctrl.removeChannel(device, channel)" ng-class="{'secondButton': channel.channelNbr === 1 && ctrl.isVirtualDevice(device)}">
                                                        <i class="fas fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="detailInfoPopup" uib-popover-template="'channelPopover.html'" popover-trigger="'outsideClick'" popover-placement="bottom">
                                                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                                                </div>

                                                <div class="channelItemType" ng-bind="channel.itemType"></div>
                                                <div class="channelName" ng-bind="channel.itemLabel"></div>

                                                <div class="channelType">
                                                    <select ng-model="channel.type">
                                                        <option value="">(Exclude)</option>
                                                        <option value="textlabel">Text Label</option>
                                                        <option value="button" ng-if='ctrl.isButton(channel)'>Button</option>
                                                        <option value="switch" ng-if='ctrl.isSwitch(channel)'>Switch</option>
                                                        <option value="power" ng-if='ctrl.isPower(channel)'>Power</option>
                                                        <option value="slider" ng-if='ctrl.isSlider(channel)'>Slider</option>
                                                        <option value="imageurl" ng-if='ctrl.isImageUrl(channel)'>Image URL</option>
                                                        <option value="directory" ng-if='ctrl.isList(channel)'>List</option>
                                                        <option value="sensor" ng-if='ctrl.isSensor(channel)'>Sensor</option>
                                                    </select>
                                                </div>


                                                <div class="channelLabel">
                                                    <div class="channelLabelButton" ng-if="channel.type=='sensor' || channel.type=='slider'">
                                                        <input ng-model="channel.label" placeholder="Label" />
                                                    </div>
                                                    
                                                    <div class="channelLabelButton" ng-if="channel.type ==='textlabel'">
                                                        <input ng-model="channel.label" placeholder="Label" ng-disabled='!channel.labelVisible'/>
                                                        <input ng-model="channel.labelVisible" type="checkbox" name="checkbox"/>
                                                    </div>
                                                    
                                                    <div class="channelLabelList" ng-if="channel.type ==='directory'">
                                                        <input ng-model="channel.label" placeholder="Label"/>
                                                        <button class="btn btn-xs" ng-click="ctrl.showListItems(channel)">
                                                            <i class="fas fa-list-ol" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="channelLabelButton" ng-if="channel.type ==='button'">
                                                        <input ng-model="channel.label" placeholder="Label" />
                                                        <span uib-dropdown>
                                                            <button class="btn btn-xs" uib-dropdown-toggle>
                                                                <i class="fas fa-caret-down" aria-hidden="true"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                                <li class="dropdown-header">Hard Buttons</li>
                                                                <li ng-repeat="x in ctrl.hardButtons" ng-click="channel.label = x.value" ng-bind="x.text"></li>

                                                                <li class="dropdown-header">Control Buttons</li>
                                                                <li ng-repeat="x in ctrl.controlButtons" ng-click="channel.label = x.value" ng-bind="x.text"></li>
                                                            </ul>
                                                        </span>
                                                    </div>

                                                    <div class="channelLabelSwitch" ng-if="channel.type ==='switch'">
                                                        <input ng-model="channel.label" />
                                                        <span uib-dropdown>
                                                            <button class="btn btn-xs" uib-dropdown-toggle>
                                                                <i class="fas fa-caret-down" aria-hidden="true"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                                <li ng-repeat="x in ctrl.dualButtons" ng-click="channel.label = x.value" ng-bind="x.text"></li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="channelValue">
                                                    <div class="channelValueText" ng-if="channel.type==='textlabel'">
                                                        <input ng-model="channel.value" placeholder="String Format (Java)" />
                                                    </div>
                                                    <div class="channelValueText" ng-if="(channel.type==='button' && ctrl.isSpecialButton(channel))">
                                                        <input ng-model="channel.value" placeholder="Command" />
                                                    </div>
                                                    <div class="channelValueImage" ng-if="channel.type==='imageurl'">
                                                        <input ng-model="channel.value" placeholder="Image Size" />
                                                        <span uib-dropdown>
                                                            <button class="btn btn-xs" uib-dropdown-toggle>
                                                                <i class="fas fa-caret-down" aria-hidden="true"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                                <li ng-click="channel.value = 'small'">Small</li>
                                                                <li ng-click="channel.value = 'large'">Large</li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                    <div class="channelValueCmd" ng-if="channel.type==='button' && !ctrl.isSpecialButton(channel)">
                                                        <input ng-model="channel.value" placeholder="Command" />
                                                        <span uib-dropdown>
                                                            <button class="btn btn-xs" uib-dropdown-toggle>
                                                                <i class="fas fa-caret-down" aria-hidden="true"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                                <li ng-click="channel.value = 'On'" ng-if="channel.acceptedCommandTypes.includes('onofftype')">On</li>
                                                                <li ng-click="channel.value = 'Off'" ng-if="channel.acceptedCommandTypes.includes('onofftype')">Off</li>
                                                                <li ng-click="channel.value = 'Increase'" ng-if="channel.acceptedCommandTypes.includes('increasedecreasetype')">Increase</li>
                                                                <li ng-click="channel.value = 'Decrease'" ng-if="channel.acceptedCommandTypes.includes('increasedecreasetype')">Decrease</li>
                                                                <li ng-click="channel.value = 'Stop'" ng-if="channel.acceptedCommandTypes.includes('stopmovetype')">Stop</li>
                                                                <li ng-click="channel.value = 'Move'" ng-if="channel.acceptedCommandTypes.includes('stopmovetype')">Move</li>
                                                                <li ng-click="channel.value = 'Next'" ng-if="channel.acceptedCommandTypes.includes('nextprevioustype')">Next</li>
                                                                <li ng-click="channel.value = 'Previous'" ng-if="channel.acceptedCommandTypes.includes('nextprevioustype')">Previous</li>
                                                                <li ng-click="channel.value = 'Open'" ng-if="channel.acceptedCommandTypes.includes('openclosedtype')">Open</li>
                                                                <li ng-click="channel.value = 'Closed'" ng-if="channel.acceptedCommandTypes.includes('openclosedtype')">Closed</li>
                                                                <li ng-click="channel.value = 'Play'" ng-if="channel.acceptedCommandTypes.includes('playpausetype')">Play</li>
                                                                <li ng-click="channel.value = 'Pause'" ng-if="channel.acceptedCommandTypes.includes('playpausetype')">Pause</li>
                                                                <li ng-click="channel.value = 'Rewind'" ng-if="channel.acceptedCommandTypes.includes('rewindfastforwardtype')">Rewind</li>
                                                                <li ng-click="channel.value = 'FastForward'" ng-if="channel.acceptedCommandTypes.includes('rewindfastforwardtype')">Fast Forward</li>
                                                                <li ng-click="channel.value = 'Up'" ng-if="channel.acceptedCommandTypes.includes('updowntype')">Up</li>
                                                                <li ng-click="channel.value = 'Down'" ng-if="channel.acceptedCommandTypes.includes('updowntype')">Down</li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                    <div class="channelRange" ng-if="channel.type==='slider' || (channel.type==='sensor' && ctrl.isRangeSensor(channel))">
                                                        <input class='rangeInput' ng-model="channel.range.minValue" placeholder="Min" />
                                                        <input class='rangeInput' ng-model="channel.range.maxValue" placeholder="Max" />
                                                        <input class='rangeInput' ng-model="channel.range.unit" placeholder="Unit" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </body>
</html>