<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:playstation:PS3">
		<parameter name="ipAddress" type="text" required="true">
			<context>network-address</context>
			<label>IP Address</label>
			<description>The IP address of the PlayStation 3.</description>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:playstation:PS4">
		<parameter name="userCredential" type="text" required="true" min="64" max="64" pattern="[0-9A-Fa-f]*">
			<label>User Credential</label>
			<description>User credential to communicate with the PlayStation 4.</description>
		</parameter>
		<parameter name="passCode" type="text" min="4" max="4" pattern="[0-9]*">
			<context>password</context>
			<label>Pass Code</label>
			<description>Passcode to log in to the PlayStation 4.</description>
		</parameter>
		<parameter name="pairingCode" type="text" min="8" max="8" pattern="[0-9]*">
			<label>Pairing Code</label>
			<description>Code to pair the openHAB device with the PlayStation 4. Only needed during pairing.</description>
		</parameter>
		<parameter name="connectionTimeout" type="integer" min="0" unit="s">
			<label>Connection Timeout</label>
			<description>How many seconds after the last command the connection to the PS4 closes. Use 0 to never close the
				connection.</description>
			<default>60</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="autoConnect" type="boolean">
			<label>Auto Connect</label>
			<description>Whether the binding should try to connect to the PS4 as soon as it's turned on.</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="artworkSize" type="integer" min="128" max="1024">
			<label>Artwork Size</label>
			<description>The width and height of the downloaded artwork.</description>
			<default>320</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ipAddress" type="text" required="true">
			<context>network-address</context>
			<label>IP Address</label>
			<description>The IP address of the PlayStation 4.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ipPort" type="integer">
			<label>IP Port</label>
			<description>The IP port used to communicate with the PlayStation 4.</description>
			<default>997</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="outboundIP" type="text">
			<context>network-address</context>
			<label>Outbound IP</label>
			<description>IP address of the network interface to use.</description>
			<advanced>true</advanced>
		</parameter>
	</config-description>

</config-description:config-descriptions>
