<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
    xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
        http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

  <config-description uri="channel-type:homematic:config">
	<parameter name="forceUpdate" type="boolean" required="false">
	    <label>forceUpdate</label>
	    <description>If true, the new value is always sent to the Homematic gateway even it equals the current value</description>
	    <default>false</default>
	</parameter>
	<parameter name="delay" type="decimal" min="0.0" max="86400.0">
	    <label>delay</label>
	    <description>Delays transmission of a command to the Homematic gateway (in seconds)</description>
	    <default>0.0</default>
	</parameter>
  </config-description>
</config-description:config-descriptions>