<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="channel-type:homematic:config">
		<parameter name="delay" type="decimal" min="0.0" max="86400.0">
			<label>Delay</label>
			<description>Delays transmission of a command to the Homematic gateway, duplicate commands are filtered out (in seconds)</description>
			<default>0.0</default>
		</parameter>
		<parameter name="receiveDelay" type="decimal" min="0.0" max="86400.0">
			<label>Receive Delay</label>
			<description>Delays a received event from the Homematic gateway, duplicate events are filtered out (in seconds)</description>
			<default>0.0</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
