<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<!-- Config for OpenWeatherMap Binding -->
	<config-description uri="bridge-type:openweathermap:weather-api">
		<parameter name="apikey" type="text" required="true">
			<context>password</context>
			<label>API Key</label>
			<description>API key to access the OpenWeatherMap API.</description>
		</parameter>
		<parameter name="apiVersion" type="text">
			<label>One Call API Version</label>
			<description>One Call API version (defaults to 2.5, version 3.0 is available, but needs different subscription).</description>
			<default>2.5</default>
			<options>
				<option value="2.5">2.5</option>
				<option value="3.0">3.0</option>
			</options>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="1" unit="min">
			<label>Refresh Interval</label>
			<description>Specifies the refresh interval (in minutes).</description>
			<default>60</default>
		</parameter>
		<parameter name="language" type="text">
			<label>Language</label>
			<description>Language to be used by the OpenWeatherMap API.</description>
			<options>
				<option value="af">Afrikaans</option>
				<option value="al">Albanian</option>
				<option value="ar">Arabic</option>
				<option value="az">Azerbaijani</option>
				<option value="eu">Basque</option>
				<option value="bg">Bulgarian</option>
				<option value="ca">Catalan</option>
				<option value="zh_cn">Chinese - Simplified</option>
				<option value="zh_tw">Chinese - Traditional</option>
				<option value="hr">Croatian</option>
				<option value="cz">Czech</option>
				<option value="da">Danish</option>
				<option value="nl">Dutch</option>
				<option value="en">English</option>
				<option value="fi">Finnish</option>
				<option value="fr">French</option>
				<option value="gl">Galician</option>
				<option value="de">German</option>
				<option value="el">Greek</option>
				<option value="he">Hebrew</option>
				<option value="hi">Hindi</option>
				<option value="hu">Hungarian</option>
				<option value="id">Indonesian</option>
				<option value="it">Italian</option>
				<option value="ja">Japanese</option>
				<option value="kr">Korean</option>
				<option value="la">Latvian</option>
				<option value="lt">Lithuanian</option>
				<option value="mk">Macedonian</option>
				<option value="no">Norwegian</option>
				<option value="fa">Persian (Farsi)</option>
				<option value="pl">Polish</option>
				<option value="pt_br">Português Brasil</option>
				<option value="pt">Portuguese</option>
				<option value="ro">Romanian</option>
				<option value="ru">Russian</option>
				<option value="sr">Serbian</option>
				<option value="sk">Slovak</option>
				<option value="sl">Slovenian</option>
				<option value="es">Spanish</option>
				<option value="se">Swedish</option>
				<option value="th">Thai</option>
				<option value="tr">Turkish</option>
				<option value="uk">Ukrainian</option>
				<option value="vi">Vietnamese</option>
				<option value="zu">Zulu</option>
			</options>
		</parameter>
	</config-description>

	<config-description uri="thing-type:openweathermap:weather-and-forecast">
		<parameter name="location" type="text" required="true">
			<context>location</context>
			<label>Location of Weather</label>
			<description>Location of weather in geographical coordinates (latitude/longitude/altitude).</description>
		</parameter>
		<parameter name="forecastHours" type="integer" min="0" max="120" step="3">
			<label>Number of Hours</label>
			<description>Number of hours for hourly forecast.</description>
			<default>24</default>
		</parameter>
		<parameter name="forecastDays" type="integer" min="0" max="16" step="1">
			<label>Number of Days</label>
			<description>Number of days for daily forecast.</description>
			<default>6</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:openweathermap:uvindex">
		<parameter name="location" type="text" required="true">
			<context>location</context>
			<label>Location of Weather</label>
			<description>Location of weather in geographical coordinates (latitude/longitude/altitude).</description>
		</parameter>
		<parameter name="forecastDays" type="integer" min="1" max="8" step="1">
			<label>Number of Days</label>
			<description>Number of days for UV Index forecast.</description>
			<default>6</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:openweathermap:air-pollution">
		<parameter name="location" type="text" required="true">
			<context>location</context>
			<label>Location of Weather</label>
			<description>Location of weather in geographical coordinates (latitude/longitude/altitude).</description>
		</parameter>
		<parameter name="forecastHours" type="integer" min="0" max="120" step="1">
			<label>Number of Hours</label>
			<description>Number of hours for air pollution forecast.</description>
			<default>0</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:openweathermap:onecall">
		<parameter name="location" type="text" required="true">
			<context>location</context>
			<label>Location of Weather</label>
			<description>Location of weather in geographical coordinates (latitude/longitude/altitude).</description>
		</parameter>
		<parameter name="forecastDays" type="integer" min="0" max="8" step="1">
			<label>Number of Days</label>
			<description>Number of days for daily forecast, including the current day.</description>
			<default>6</default>
		</parameter>
		<parameter name="forecastHours" type="integer" min="0" max="48" step="1">
			<label>Number of Hours</label>
			<description>Number of hours for hourly forecast.</description>
			<default>12</default>
		</parameter>
		<parameter name="forecastMinutes" type="integer" min="0" max="60" step="1">
			<label>Number of Minutes</label>
			<description>Number of minutes for minutely precipitation forecast.</description>
			<default>0</default>
		</parameter>
		<parameter name="numberOfAlerts" type="integer" min="0" max="5" step="1">
			<label>Number of Alerts</label>
			<description>Number of alerts to be shown.</description>
			<default>0</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:openweathermap:onecall-history">
		<parameter name="location" type="text" required="true">
			<context>location</context>
			<label>Location of Weather</label>
			<description>Location of weather in geographical coordinates (latitude/longitude/altitude).</description>
		</parameter>
		<parameter name="historyDay" type="integer" min="1" max="5" step="1">
			<label>History Day</label>
			<description>Relative number of days in the past for historical data.</description>
			<default>1</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
