<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:samsungtv:tv">
		<parameter name="hostName" type="text" required="true">
			<label>Host name</label>
			<description>Network address of the Samsung TV.</description>
			<context>network-address</context>
		</parameter>
		<parameter name="port" type="integer" min="1" max="65335">
			<label>TCP Port</label>
			<description>TCP port of the Samsung TV.</description>
			<default>55000</default>
		</parameter>
		<parameter name="macAddress" type="text">
			<label>MAC Address</label>
			<description>MAC  Address of the Samsung TV.</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" unit="ms">
			<label>Refresh Interval</label>
			<description>States how often a refresh shall occur in milliseconds.
			</description>
			<default>1000</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
