<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:millheat:account">
		<parameter name="username" type="text" required="true">
			<label>Username</label>
			<description>Your Millheat app username (email)</description>
		</parameter>

		<parameter name="password" type="text" required="true">
			<label>Password</label>
			<description>Your Millheat app password</description>
			<context>password</context>
		</parameter>

		<parameter name="refreshInterval" type="integer" min="30" unit="s">
			<label>Refresh Interval</label>
			<description>Specifies the refresh time in seconds for polling temperature updates from Millheat service</description>
			<default>120</default>
		</parameter>

	</config-description>

	<config-description uri="thing-type:millheat:heater">
		<parameter name="macAddress" type="text">
			<label>MAC Address</label>
			<description>Either MAC address or heaterId is required</description>
		</parameter>
		<parameter name="heaterId" type="integer">
			<label>Heater ID</label>
			<description>Either MAC address or heaterId is required</description>
		</parameter>
		<parameter name="power" type="integer">
			<label>Heating Power</label>
			<description>Number of watts this heater is consuming when it is heating. This value is sent to the currentPower
				channel when the heater is heating in order to track energy usage</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:millheat:room">
		<parameter name="roomId" type="integer" required="true">
			<label>Room ID</label>
		</parameter>
	</config-description>

	<config-description uri="thing-type:millheat:home">
		<parameter name="homeId" type="integer" required="true">
			<label>Home ID</label>
		</parameter>
	</config-description>

</config-description:config-descriptions>
