<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
		http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:netatmo:bridge">
		<parameter name="clientId" type="text">
			<label>Client ID</label>
			<description>Client ID provided for the application you created on http://dev.netatmo.com/createapp</description>
			<required>true</required>
		</parameter>

		<parameter name="clientSecret" type="text">
			<label>Client Secret</label>
			<description>Client Secret provided for the application you created</description>
			<required>true</required>
		</parameter>

		<parameter name="username" type="text">
			<label>Username</label>
			<description>Your Netatmo API username (email)</description>
			<required>true</required>
		</parameter>

		<parameter name="password" type="text">
			<label>Password</label>
			<description>Your Netatmo API password</description>
			<required>true</required>
			<context>password</context>
		</parameter>

		<parameter name="readStation" type="boolean" required="true">
			<label>Access Weather Station</label>
			<description>Read weather station's data.</description>
			<default>true</default>
		</parameter>

		<parameter name="readHealthyHomeCoach" type="boolean" required="true">
			<label>Access Healthy Home Coach</label>
			<description>Read healthy home coach's data.</description>
			<default>false</default>
		</parameter>

		<parameter name="readThermostat" type="boolean" required="true">
			<label>Access Thermostat</label>
			<description>Read and Write thermostat's data.</description>
			<default>false</default>
		</parameter>

		<parameter name="readWelcome" type="boolean" required="true">
			<label>Access Welcome camera</label>
			<description>Read and Access Welcome camera's data.</description>
			<default>false</default>
		</parameter>

		<parameter name="webHookUrl" type="text" required="false">
			<label>Webhook address</label>
			<description>Protocol, public IP and port to access OH2 server from Internet.</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="reconnectInterval" type="integer" required="true">
			<label>Reconnect Interval</label>
			<description>The reconnection interval to Netatmo API (in s).</description>
			<default>5400</default>
			<advanced>true</advanced>
		</parameter>

	</config-description>

	<config-description uri="thing-type:netatmo:station">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})">
			<label>Equipment ID</label>
			<description>Id of the Device (mac address)</description>
			<required>true</required>
		</parameter>
	</config-description>

	<config-description uri="thing-type:netatmo:plug">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})">
			<label>Equipment ID</label>
			<description>Id of the Device (mac address)</description>
			<required>true</required>
		</parameter>
	</config-description>

	<config-description uri="thing-type:netatmo:module">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})">
			<label>Module ID</label>
			<description>Id of the Module</description>
			<required>true</required>
		</parameter>

		<parameter name="parentId" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})">
			<label>Device ID</label>
			<description>Id of the main device</description>
			<required>true</required>
		</parameter>
	</config-description>

	<config-description uri="thing-type:netatmo:natherm1">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})">
			<label>Module ID</label>
			<description>Id of the Module</description>
			<required>true</required>
		</parameter>

		<parameter name="parentId" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})">
			<label>Device ID</label>
			<description>Id of the main device</description>
			<required>true</required>
		</parameter>

		<parameter name="setpointDefaultDuration" type="integer" required="false">
			<label>Setpoint duration</label>
			<description>Default duration of thermostat change when force to max or manual.</description>
			<default>60</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:netatmo:welcomehome">
		<parameter name="id" type="text" required="true">
			<label>Home ID</label>
			<description>UUID of the home</description>
		</parameter>

		<parameter name="refreshInterval" type="integer" required="false">
			<label>Refresh Interval</label>
			<description>The refresh interval to poll Netatmo API (in ms).</description>
			<default>300000</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:netatmo:nawelcomecamera">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})">
			<label>Camera ID</label>
			<description>Camera MAC Address</description>
			<required>true</required>
		</parameter>

		<parameter name="parentId" type="text">
			<label>Home ID</label>
			<description>UUID of the home hosting the camera</description>
			<required>true</required>
		</parameter>
	</config-description>

	<config-description uri="thing-type:netatmo:nawelcomeperson">
		<parameter name="id" type="text">
			<label>Person ID</label>
			<description>UUID of the Person</description>
			<required>true</required>
		</parameter>

		<parameter name="parentId" type="text">
			<label>Home ID</label>
			<description>UUID of the home</description>
			<required>true</required>
		</parameter>
	</config-description>

</config-description:config-descriptions>
