<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
	http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">
	<config-description uri="thing-type:konnected:module">
		<parameter name="authToken" type="text" required="true">
			<label>Auth_Token</label>
			<description>This is the Authority Token used to communicate with the Konnected Module.</description>
		</parameter>
		<parameter name="hostAddress" type="text">
			<label>OpenHAB Address</label>
			<description> The host address and port of openhab: example 192.168.1.180:8080.  If blank the binding will auto determine the address based on the address and port the server is bound to.</description>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
