<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
    xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
        http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">
    <config-description uri="io:myopenhab">
        <parameter name="mode" type="text" required="true">
            <label>Mode</label>
            <description>What mode to use with the my.opehab service</description>
            <options>
                <option value="persistence">Persistence</option>
                <option value="none">No persistence</option>
            </options>
            <default>persistence</default>
        </parameter>
        <parameter name="baseURL" type="text" required="false">
            <label>Base URL for the my.openhab server</label>
            <description>Base URL for the my.openhab server</description>
            <default>https://my.openhab.org/</default>
        </parameter>
    </config-description>
</config-description:config-descriptions>