<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:pushover:pushover-account">
		<parameter name="apikey" type="text" required="true">
			<context>password</context>
			<label>API Token / Key</label>
			<description>Your API token / key (APP_TOKEN) to access the Pushover Message API.</description>
		</parameter>
		<parameter name="user" type="text" required="true">
			<context>password</context>
			<label>User / Group Key</label>
			<description>Your user key or group key (USER_KEY) to which you want to push notifications.</description>
		</parameter>
		<parameter name="title" type="text">
			<label>Title</label>
			<description>The default title of a message.</description>
			<default>openHAB</default>
		</parameter>
		<parameter name="format" type="text">
			<label>Format</label>
			<description>The default format of a message.</description>
			<default>none</default>
			<options>
				<option value="none">None</option>
				<option value="html">HTML</option>
				<option value="monospace">monospace</option>
			</options>
		</parameter>
		<parameter name="sound" type="text">
			<label>Notification Sound</label>
			<description>The notification sound on target device.</description>
			<default>default</default>
		</parameter>
		<parameter name="retry" type="integer" min="30" unit="s">
			<advanced>true</advanced>
			<label>Retry</label>
			<description>The retry parameter specifies how often the Pushover servers will send the same notification to the
				user.</description>
			<default>300</default>
		</parameter>
		<parameter name="expire" type="integer" min="0" max="10800" unit="s">
			<advanced>true</advanced>
			<label>Expire</label>
			<description>The expire parameter specifies how long your notification will continue to be retried.</description>
			<default>3600</default>
		</parameter>
		<parameter name="timeout" type="integer" min="0" max="10800" unit="s">
			<advanced>true</advanced>
			<label>Timeout</label>
			<description>The timeout parameter specifies maximum number of seconds a request to Pushover can
				take.</description>
			<default>10</default>
		</parameter>
		<parameter name="idleTimeout" type="integer" min="0" max="10800" unit="s">
			<advanced>true</advanced>
			<label>Idle Timeout</label>
			<description>The idle-timeout parameter specifies maximum number of seconds a connection with Pushover can be idle.</description>
			<default>300</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
