<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:mqtt:awtrixclock">
		<parameter name="basetopic" type="text" required="true">
			<label>Base topic</label>
			<description>Base topic as configured for the Awtrix clock</description>
			<default>awtrix</default>
		</parameter>
		<parameter name="appLockTimeout" type="integer" required="true">
			<label>Timeout for app selection</label>
			<description>Timeout before app rotation starts again</description>
			<default>10</default>
		</parameter>
		<parameter name="discoverDefaultApps" type="boolean" required="true">
			<label>Enable discovery for built-in default apps</label>
			<description>Currently changing settings for default apps is not implemented. Its recommended to ignore them for
				discovery</description>
			<default>false</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:mqtt:awtrixapp">
		<parameter name="appname" type="text" required="true">
			<label>App name</label>
			<description>Name of the app</description>
		</parameter>
		<parameter name="useButtons" type="boolean" required="true">
			<label>Button controlled</label>
			<description>Select button locks on app and app will emit subsequent button events</description>
			<default>false</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
