######################## VoiceRSS Text-to-Speech Engine ########################

# API key you got when you subscribed to the Voice RSS service
# Open your profile to get the value: http://www.voicerss.org/personel/
#apiKey=1234567890
