emotionml-checker-java-1.0-SNAPSHOT.jar
freetts-1.0.jar
freetts-de-1.0.jar
freetts-en_us-1.0.jar
jtok-core-1.9.1.jar
marytts-lang-de-5.1-SNAPSHOT.jar
marytts-lang-en-5.1-SNAPSHOT.jar
mwdumper-1.16.jar
opennlp-maxent-3.0.1-incubating.jar
opennlp-tools-1.5.1-incubating.jar
sgt-3.0.jar
voice-bits1-hsmm-5.0-SNAPSHOT.jar
voice-bits3-hsmm-5.0-SNAPSHOT.jar
voice-cmu-slt-hsmm-5.0.jar
