<table class="main-table">
  <thead>
  <tr>
    <th></th>
    <th>Today</th>
    <th>Weekly</th>
    <th>Monthly</th>
    <th>Cost</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="room in smarthome.rooms">
    <th>{{room.label}}</th>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <th>ROOM 1</th>
    <td><span class="green">23 kW</span></td>
    <td><span class="orange">150 kW</span></td>
    <td><span class="red">580 kW</span></td>
    <td>$2,000</td>
  </tr>
  <tr>
    <th>ROOM 2</th>
    <td><span class="green">23 kW</span></td>
    <td><span class="orange">150 kW</span></td>
    <td><span class="red">580 kW</span></td>
    <td>$2,000</td>
  </tr>
  <tr>
    <th>ROOM 3</th>
    <td><span class="green">23 kW</span></td>
    <td><span class="orange">150 kW</span></td>
    <td><span class="red">580 kW</span></td>
    <td>$2,000</td>
  </tr>
  <tr>
    <th>LIVING<br>ROOM</th>
    <td><span class="green">23 kW</span></td>
    <td><span class="orange">150 kW</span></td>
    <td><span class="red">580 kW</span></td>
    <td>$2,000</td>
  </tr>
  <tr>
    <th>RINING<br>ROOM</th>
    <td><span class="green">23 kW</span></td>
    <td><span class="orange">150 kW</span></td>
    <td><span class="red">580 kW</span></td>
    <td>$2,000</td>
  </tr>
  <tr>
    <th>KITCHEN</th>
    <td><span class="green">23 kW</span></td>
    <td><span class="orange">150 kW</span></td>
    <td><span class="red">580 kW</span></td>
    <td>$2,000</td>
  </tr>
  </tbody>
</table>