<ul class="weather-widget">
  <li>
    <div class="group">
      <h4><strong>TODAY, {{weather.date | date : 'dd MMMM'}}</strong></h4>
      <p class="muted">{{weather.locationLabel}}</p>
      <h1><strong>{{weather.temperature}}°</strong> <small>-°</small></h1>
    </div>
    <i class="icon-weather-large i-sunny-large"></i>
    <!--<i class="icon-weather-large i-rainy-large"></i>
    <i class="icon-weather-large i-cloudy-large"></i>
    <i class="icon-weather-large i-storm-large"></i>-->
  </li>
  <li>
    <p>
      <strong>TUE</strong>
      <br>
      <small class="muted">13 MAR</small>
    </p>
    <i class="icon i-sunny"></i>
    <h3>24°</h3>
  </li>
  <li>
    <p>
      <strong>WED</strong>
      <br>
      <small class="muted">14 MAR</small>
    </p>
    <i class="icon i-cloudy"></i>
    <h3>25°</h3>
  </li>
  <li>
    <p>
      <strong>THU</strong>
      <br>
      <small class="muted">15 MAR</small>
    </p>
    <i class="icon i-rainy"></i>
    <h3>19°</h3>
  </li>
  <li>
    <p>
      <strong>FRI</strong>
      <br>
      <small class="muted">16 MAR</small>
    </p>
    <i class="icon i-storm"></i>
    <h3>23°</h3>
  </li>
  <li>
    <p>
      <strong>SAT</strong>
      <br>
      <small class="muted">17 MAR</small>
    </p>
    <i class="icon i-cloudy"></i>
    <h3>22°</h3>
  </li>
</ul>