<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="binding:mqtt.homeassistant">

		<parameter name="status" type="boolean" required="false">
			<label>Publish Online Status</label>
			<default>true</default>
			<description><![CDATA[
				Publish <tt>online</tt> to <tt>homeassistant/status</tt> when discovering Home Assistant
				things in order to trigger devices to publish up-to-date discovery information.
				If you also run Home Assistant <i>and</i> other services that depend on knowing if Home
				Assistant is not running, then it's possible for those services to be out-of-sync with
				the actual status of Home Assistant, and you may want to disable this.
				]]></description>
		</parameter>

	</config-description>
</config-description:config-descriptions>
