<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:ups:config">
		<parameter name="device" type="text" required="true">
			<label>Device</label>
			<description>UPS server name</description>
		</parameter>
		<parameter name="host" type="text" required="true">
			<context>network-address</context>
			<label>Host</label>
			<description>UPS server host or ip-address</description>
			<default>localhost</default>
		</parameter>
		<parameter name="username" type="text">
			<label>Username</label>
			<description>UPS server username to login</description>
		</parameter>
		<parameter name="password" type="text">
			<context>password</context>
			<label>Password</label>
			<description>UPS server password to login</description>
		</parameter>
		<parameter name="port" type="integer">
			<label>Port</label>
			<description>UPS server port</description>
			<default>3493</default>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh</label>
			<description>Refresh interval for state updates in seconds</description>
			<default>60</default>
		</parameter>
	</config-description>

	<config-description uri="channel-type:ups:dynamic-channel-config">
		<parameter name="networkupstools" type="text" required="true">
			<label>NUT Variable</label>
			<description>The name of the NUT variable</description>
		</parameter>
	</config-description>

	<config-description uri="channel-type:ups:dynamic-channel-config-quantity-type">
		<parameter name="networkupstools" type="text" required="true">
			<label>NUT Variable</label>
			<description>The name of the NUT variable</description>
		</parameter>
		<parameter name="unit" type="text" required="true">
			<label>Unit</label>
			<description>The unit of the data</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
