<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="io:openhabcloud">
		<parameter name="mode" type="text" required="true">
			<label>Mode</label>
			<description>What features of the openHAB Cloud service should be used.</description>
			<options>
				<option value="notification">Notifications</option>
				<option value="remote">Notifications &amp; Remote Access</option>
			</options>
			<default>remote</default>
		</parameter>
		<parameter name="expose" type="text" required="false" multiple="true">
			<label>Items to Expose</label>
			<description>List of items that are made accessible to IFTTT and similar services.</description>
			<context>item</context>
		</parameter>
		<parameter name="baseURL" type="text" required="false">
			<label>Base URL</label>
			<description>Base URL for the openHAB Cloud server.</description>
			<default>https://myopenhab.org/</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
