<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
		xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
		http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">
	<config-description uri="thing-type:gpstracker:tracker">
		<parameter name="externalRegionsJSON" type="text" required="false" readOnly="true">
			<context>script</context>
			<label>External Regions</label>
			<description>External region definition received from tracker</description>
			<default>[]</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>
	<config-description uri="binding:gpstracker">
		<parameter-group name="primaryRegion">
			<label>Primary Location</label>
			<description>Primary location e.g. HOME</description>
			<advanced>false</advanced>
		</parameter-group>
		<parameter name="name" type="text" required="false" groupName="primaryRegion">
			<label>Name</label>
			<description>Primary location name. This location uses the coordinates defined at System/Regional
				settings.
			</description>
			<advanced>false</advanced>
			<default>Home</default>
		</parameter>
		<parameter name="location" type="text" required="false" readOnly="true" groupName="primaryRegion">
			<label>Location</label>
			<description>This is read-only here. To change the primary location edit the
				System/Regional Settings.
			</description>
			<advanced>false</advanced>
		</parameter>
		<parameter name="radius" type="integer" required="false" groupName="primaryRegion">
			<label>Radius</label>
			<description>Radius of the primary location</description>
			<default>100</default>
			<advanced>false</advanced>
		</parameter>
		<parameter name="triggerEvent" type="boolean" required="false" groupName="primaryRegion">
			<label>Use Trigger Events</label>
			<description>If set to TRUE entering and leaving the location will trigger an event instead of switching
				ON/OFF the region switch.
			</description>
			<advanced>false</advanced>
			<default>true</default>
		</parameter>
		<parameter name="additionalRegionsJSON" type="text" required="false">
			<context>script</context>
			<label>Additional Regions</label>
			<description>JSON object containing monitored regions definitions.</description>
			<default>[]</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
