<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head"></head>

<body>
<nav th:replace="base :: topNav"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="base :: sidebarMenu (current='dashboard')"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div th:each="bridgeHandler: ${bridgeHandlers}" th:with="thing=${bridgeHandler.getThing()}, queue=${bridgeHandler.getEventSourceClient().getLatestEvents()}, status=${bridgeHandler.getThing().getStatus().toString()}, uid=${bridgeHandler.getThing().getUID().getAsString()}">
                <h2 th:text="${thing.getLabel() + ' (' + uid + ')'}" style="display: inline-block;">Bridge xy</h2>
                <h4 class="text-muted">API requests per second</h4>
                <div class="request-chart" th:attr="data-bridge-id=${uid}"></div>
            </div>
        </main>
    </div>
</div>

<!--/*/ <th:block th:include="base :: js">
    </th:block> /*/-->

</body>
</html>
