# Defining the default sitemap to use
org.eclipse.smarthome.classicui:defaultSitemap=_default

# The icon type to use, either png or svg
#org.eclipse.smarthome.classicui:iconType=

# Disable in-memory caching of html fragments
# If this is true, on every request the html files are loaded from disk.
org.eclipse.smarthome.classicui:disableHtmlCache=false
