<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:hdpowerview:repeater">
		<parameter name="id" type="integer" min="1" required="true">
			<label>ID</label>
			<description>The numeric ID of the PowerView Repeater in the Hub</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:hdpowerview:shade">
		<parameter name="id" type="integer" min="1" required="true">
			<label>ID</label>
			<description>The numeric ID of the PowerView Shade in the Hub/Gateway</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
