addons/binding/org.openhab.binding.wizlighting/OSGI-INF/WizLightingHandlerFactory.xml
addons/binding/org.openhab.binding.wizlighting/OSGI-INF/WizLightingDiscovery.xml
addons/binding/org.openhab.binding.wizlighting/OSGI-INF/WizLightingMediator.xml