.bottom-one {
    margin-bottom: 1cm;
}

.u-hide {
    display: none !important; }
  
.u-show {
    display: block !important; }

.u-invisible {
    visibility: hidden !important; }
  
.u-visible {
    visibility: visible !important; }