<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="channel-type:insteon:dimmer">
		<parameter name="onLevel" type="integer" min="0" max="100">
			<label>On Level</label>
			<description>Override the dimmer on level local setting.</description>
		</parameter>
		<parameter name="rampRate" type="decimal">
			<label>Ramp Rate</label>
			<description>Override the dimmer ramp rate local setting.</description>
			<options>
				<option value="0.1">0.1 Seconds (Instant)</option>
				<option value="0.3">0.3 Seconds (Fast)</option>
				<option value="2">2 Seconds (Medium)</option>
				<option value="6.5">6.5 Seconds (Slow)</option>
				<option value="19">19 Seconds</option>
				<option value="23.5">23.5 Seconds</option>
				<option value="28">28 Seconds</option>
				<option value="32">32 Seconds</option>
				<option value="38.5">38.5 Seconds</option>
				<option value="47">47 Seconds</option>
				<option value="90">1.5 Minutes</option>
				<option value="150">2.5 Minutes</option>
				<option value="210">3.5 Minutes</option>
				<option value="270">4.5 Minutes</option>
				<option value="360">6 Minutes</option>
				<option value="480">8 Minutes</option>
			</options>
		</parameter>
	</config-description>

</config-description:config-descriptions>
