testtools>=0.9.30
python-subunit # subunit
selenium

-e svn+http://closure-linter.googlecode.com/svn/trunk/#egg=closure-linter

# Requirements for using -x
pyvirtualdisplay
pyscreenshot
--allow-external=PIL
--allow-unverified=PIL
PIL
