<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>openHAB</title>
<link type="text/css" href="fonts/icomoon.css" rel="stylesheet" media="all">
<link type="text/css" href="bootstrap.min.css" rel="stylesheet"></link>
<link type="text/css" href="main.css" rel="stylesheet"></link>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"><link>
</head>

<body>
    <header>
        <div class="container">
            <img src="img/openhab-logo.png" />
            <h3>Empowering the Smart Home</h3>
        </div>
    </header>
    <section class="container">
        <h1>Welcome to openHAB 2.0</h1>
        <div class="line">
            <div class="decorator"></div>
            <hr />
        </div>
        <div class="links row">
<!--entries-->
        </div>
    </section>
    <footer>
        <p>openHAB 2.0 - Copyright © 2015 openHAB UG (haftungsbeschränkt) / All rights reserved</p>
    </footer>
</body>
</html>