<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="thing-type:konnected:module">
		<parameter-group name="actions">
			<label>Actions</label>
			<description/>
		</parameter-group>
		<parameter name="baseUrl" type="text" required="true">
			<label>Base URL</label>
			<description>The base URL of the Konnected Alarm Panel.</description>
		</parameter>
		<parameter name="blink" type="boolean">
			<label>Blink</label>
			<description> When set to false the Led on the device won't blink during transmission.</description>
			<default>true</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="discovery" type="boolean">
			<label>Discovery</label>
			<description>If set to false the device will not respond to discovery requests via UPnP. Make sure you have
				statically assigned an IP address to the module before turning this setting off. See
				https://help.konnected.io/support/solutions/articles/32000023968-disabling-device-discovery</description>
			<default>true</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="retryCount" type="integer">
			<label>Retry Count</label>
			<description>The number of times the binding attempts to send http requests to the Konnected Alarm Panel. Increase
				this setting if you are experiencing situations where the module is reporting as offline but you can access the
				website of the Alarm Panel to confirm that the Alarm Panel is Konnected to the Network. This will allow the binding
				to attempt more retries before it considers the connection a failure and marks the thing as offline.</description>
			<default>2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="requestTimeout" type="integer">
			<label>Request Timeout</label>
			<description>The timeout period in seconds for HTTP requests to the Konnected Alarm Panel. The default is 30.
				Adjusting this setting can help in networks situations with high latency where the binding is erroneously reporting
				the thing as offline.</description>
			<default>30</default>
			<advanced>true</advanced>
		</parameter>

		<parameter name="callbackUrl" type="text">
			<label>Callback URL</label>
			<description>The URL where the Konnected panel will make callbacks. The default is to auto detect the port and IP
				address of openHAB. This may not work in case you use a reverse proxy or openHAB
				is running in Docker. Then the
				plugin
				is bound to the /konnected http context.</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="controller_softreset" type="boolean" groupName="actions">
			<label>Soft Reset Module</label>
			<description>Send A Restart Command to the Module.</description>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="controller_removewifi" type="boolean" groupName="actions">
			<label>Factory Reset</label>
			<description>Resets the module to Factory Conditions.</description>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
		<parameter name="controller_sendConfig" type="boolean" groupName="actions">
			<label>Update Settings</label>
			<description>Manually sends the settings to the module. The binding will send settings on every restart and if there
				are any configuration changes but this can be used to manually update the settings as needed.</description>
			<advanced>true</advanced>
			<default>false</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
