<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:mqtt:rgb">
		<parameter name="defaultCommand" type="text" required="true">
			<label>Default Command</label>
			<description>When the send command button is pressed, if no selection is made from the command channel then use this
				command by default. TIP: use "set_white" for RGBW globes to set back to white light quickly.
			</description>
			<default>night_mode</default>
		</parameter>

		<parameter name="oneTriggersNightMode" type="boolean" required="true">
			<label>1 Triggers Night Mode</label>
			<description>Night Mode is a much lower level of light and this allows it to be auto selected when your fader/slider
				moves to 1%. NOTE: Night mode locks out some controls of a physical remote.
			</description>
			<default>false</default>
		</parameter>

		<parameter name="powerFailsToMinimum" type="boolean" required="true">
			<label>Default to the lowest level of light when the power fails.</label>
			<description>If lights loose power from the power switch OR a power outage, they will default to the lowest
				brightness.
			</description>
			<default>true</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:mqtt:cct">
		<parameter name="dimmedCT" type="integer" required="false" min="153" max="370">
			<label>Dimmed Colour Temp</label>
			<description>Traditional globes grow warmer the more they are dimmed. Set this to 370, or leave blank to disable.
			</description>
		</parameter>

		<parameter name="oneTriggersNightMode" type="boolean" required="true">
			<label>1 Triggers Night Mode</label>
			<description>Night Mode is a much lower level of light and this allows it to be auto selected when your fader/slider
				moves to 1%. NOTE: Night mode locks out some controls of a physical remote.
			</description>
			<default>false</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:mqtt:rgbandcct">
		<parameter name="defaultCommand" type="text" required="true">
			<label>Default Command</label>
			<description>When the send command button is pressed, if no selection is made from the command channel then use this
				command by default. TIP: use "set_white" for RGBW globes to set back to white light quickly.
			</description>
			<default>night_mode</default>
		</parameter>

		<parameter name="whiteHue" type="integer" required="true" min="-1" max="360">
			<label>White Hue</label>
			<description>When both the whiteHue and whiteSat values are seen by the binding it will trigger the white LEDS. Set
				to -1 to disable, 0 for Alexa, or 35 for Google Home.
			</description>
			<default>35</default>
		</parameter>

		<parameter name="whiteSat" type="integer" required="true" min="-1" max="100">
			<label>White Saturation</label>
			<description>When both the whiteHue and whiteSat values are seen by the binding it will trigger the white LEDS. Set
				to -1 to disable, 100 for Alexa or 32 for Google Home.
			</description>
			<default>32</default>
		</parameter>

		<parameter name="favouriteWhite" type="integer" required="true" min="153" max="370">
			<label>Favourite White</label>
			<description>When one of the shortcuts triggers white mode, use this for the colour white instead of the default
				colour.
			</description>
			<default>200</default>
		</parameter>

		<parameter name="dimmedCT" type="integer" required="false" min="153" max="370">
			<label>Dimmed Colour Temp</label>
			<description>Traditional globes grow warmer the more they are dimmed. Set this to 370, or leave blank to disable.
			</description>
		</parameter>

		<parameter name="oneTriggersNightMode" type="boolean" required="true">
			<label>1% Triggers Night Mode</label>
			<description>Night Mode is a much lower level of light and this allows it to be auto selected when your fader/slider
				moves to 1%. NOTE: Night mode locks out some controls of a physical remote.
			</description>
			<default>false</default>
		</parameter>

		<parameter name="powerFailsToMinimum" type="boolean" required="true">
			<label>Default to the lowest level of light when the power fails.</label>
			<description>If lights loose power from the power switch OR a power outage, they will default to the lowest
				brightness.
			</description>
			<default>true</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:mqtt:rgbw">
		<parameter name="defaultCommand" type="text" required="true">
			<label>Default Command</label>
			<description>When the send command button is pressed, if no selection is made from the command channel then use this
				command by default. TIP: use "set_white" for RGBW globes to set back to white light quickly.
			</description>
			<default>night_mode</default>
		</parameter>

		<parameter name="whiteHue" type="integer" required="true" min="-1" max="360">
			<label>White Hue</label>
			<description>When both the whiteHue and whiteSat values are seen by the binding it will trigger the white LEDS. Set
				to -1 to disable, 0 for Alexa, or 35 for Google Home.
			</description>
			<default>35</default>
		</parameter>

		<parameter name="whiteSat" type="integer" required="true" min="-1" max="100">
			<label>White Saturation</label>
			<description>When both the whiteHue and whiteSat values are seen by the binding it will trigger the white LEDS. Set
				to -1 to disable, 100 for Alexa or 32 for Google Home.
			</description>
			<default>32</default>
		</parameter>

		<parameter name="oneTriggersNightMode" type="boolean" required="true">
			<label>1 Triggers Night Mode</label>
			<description>Night Mode is a much lower level of light and this allows it to be auto selected when your fader/slider
				moves to 1%. NOTE: Night mode locks out some controls of a physical remote.
			</description>
			<default>false</default>
		</parameter>

		<parameter name="powerFailsToMinimum" type="boolean" required="true">
			<label>Default to the lowest level of light when the power fails.</label>
			<description>If lights loose power from the power switch OR a power outage, they will default to the lowest
				brightness.
			</description>
			<default>true</default>
		</parameter>

		<parameter name="whiteThreshold" type="integer" required="true" min="-1" max="99">
			<label>White Threshold</label>
			<description>RGBW globes do not respond to saturation changes, so this feature allows you to specify a number that
				if
				the saturation drops below, it will trigger the white mode. -1 will disable this feature.
			</description>
			<default>12</default>
		</parameter>

	</config-description>

</config-description:config-descriptions>
