<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="enocean:genericChannel:config">
		<parameter name="transformationType" type="text">
			<label>Transformation Type</label>
			<description>The type of the transformation, e.g. "MAP"</description>
			<required>true</required>
		</parameter>
		<parameter name="transformationFunction" type="text">
			<label>Transformation Function</label>
			<description>The transformation function, e.g. for transformation type map => filename of mapping file</description>
			<required>true</required>
		</parameter>
	</config-description>

	<config-description uri="enocean:listeningRockerChannel:config">
		<parameter name="enoceanId" type="text">
			<label>EnOceanId</label>
			<description>EnOcean Id to listen to</description>
		</parameter>
		<parameter name="channel" type="text">
			<label>Channel</label>
			<description>Channel of rocker switch to listen to</description>
			<options>
				<option value="channelA">Channel A</option>
				<option value="channelB">Channel B</option>
			</options>
			<default>channelA</default>
		</parameter>
		<parameter name="switchMode" type="text">
			<label>Switch mode</label>
			<options>
				<option value="rockerSwitch">Rocker switch</option>
				<option value="toggleButtonDir1">Toggle button (upper button)</option>
				<option value="toggleButtonDir2">Toggle button (lower button)</option>
			</options>
			<default>rockerSwitch</default>
		</parameter>
	</config-description>

	<config-description uri="enocean:virtualRockerChannel:config">
		<parameter name="duration" type="integer">
			<label>Time in ms between Press and Release message</label>
			<default>250</default>
		</parameter>
		<parameter name="switchMode" type="text">
			<label>Switch mode</label>
			<options>
				<option value="rockerSwitch">Rocker switch</option>
				<option value="toggleButtonDir1">Toggle button (upper button)</option>
				<option value="toggleButtonDir2">Toggle button (lower button)</option>
			</options>
			<default>rockerSwitch</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
