<!DOCTYPE html>
<html lang="en" ng-app="SmartHomeManagerApp">
<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Eclipse SmartHome Manager</title>


<!-- lib css files -->
<!--link
	href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,'
	rel='stylesheet' type='text/css'></link-->

<link type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link type="text/css"	href="bower_components/angular-material/angular-material.min.css"	rel="stylesheet">

<!-- custom css files -->
<!--link type="text/css" href="css/main.css" rel="stylesheet"></link-->
<link type="text/css" href="css/components.css" rel="stylesheet">
<link type="text/css" href="css/layout.css" rel="stylesheet">
<link type="text/css" href="css/views.css" rel="stylesheet">

<!-- Fonts -->
<link type="text/css" href="fonts/icomoon/icomoon.css" rel="stylesheet"
	media="all">
<link type="text/css" href="fonts/md-icons/md-icons.css"
	rel="stylesheet" media="all">


<!-- link rel="import" href="components/paper-elements/paper-elements.html"-->

<link rel="shortcut icon" href="img/favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="img/app-icon.png" />
<link rel="apple-touch-startup-image" href="img/splash-ipad-h.png"
	media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
<link rel="apple-touch-startup-image" href="img/splash-ipad-v.png"
	media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
<link rel="apple-touch-startup-image" href="img/splash-iphone.png"
	media="screen and (max-device-width: 320px)" />

</head>

<body ng-controller="BodyController" ng-class="getSchemeClass()">
	<nav class="menu slide-menu-left" ng-controller="NavController">
		<div class="top clickable" ng-click="navigateToRoot()">
			<img id="logo" alt="Eclipse SmartHome Logo" ng-if="isEshTheme()"
				src="img/esh_logo.png"> <img id="logo" alt="openHAB Logo"
				ng-if="!isEshTheme()" src="img/openhab_logo.png">
			<h1 class="title">{{isEshTheme() ? 'SmartHome' : 'openHAB 2.0'}}</h1>
		</div>
		<ul>
			<!-- li><a href="#"><span class="icon icon-dashboard"></span>
					Dashboard</a></li-->
			<li ng-class="{active: isActive('control')}"><a href="#control"><span
					class="icon icon-equalizer"></span> Control</a></li>
			<li ng-class="{active: isActive('setup')}"><a
				ng-click="open('setup')" class="clickable"><span
					class="icon md-icon-add-circle-outline"></span> Setup Wizard <span
					ng-show="getNumberOfNewDiscoveryResults() > 0" class="badge">{{getNumberOfNewDiscoveryResults()}}</span></a>
				<ul ng-show="isActive('setup')">
					<li ng-class="{active: isSubActive('search')}"><a
						href="#setup/search">Search</a></li>
					<li ng-class="{active: isSubActive('manual-setup')}"><a
						href="#setup/manual-setup/choose">Manual Setup</a></li>
				</ul></li>
			<!-- li><a href="#"><span class="icon icon-cogs"></span>
					Automation</a></li-->
			<li ng-class="{active: isActive('configuration')}"><a
				ng-click="open('configuration')" class="clickable"><span
					class="icon icon-wrench"></span> Configuration</a>
				<ul ng-show="isActive('configuration')">
					<li ng-class="{active: isSubActive('bindings')}"><a
						href="#configuration/bindings">Bindings</a></li>
					<li ng-class="{active: isSubActive('groups')}"><a
						href="#configuration/groups">Groups</a></li>
					<li ng-class="{active: isSubActive('things')}"><a
						href="#configuration/things">Things</a></li>
				</ul></li>
			<li ng-class="{active: isActive('preferences')}"><a
				href="#preferences"><span class="icon icon-brightness-contrast"></span>
					Preferences</a></li>
		</ul>
		<div class="bottom">
			<span>Paper UI</span>
		</div>
	</nav>

	<div id="wrapper" ng-class="{tallheader: isBigTitle()}">
		<header ng-class="{big: isBigTitle()}">
			<a href="#" class="open-menu">&#x2261;</a>
			<div class="title" ng-class="{container: isBigTitle()}">
				<h1>
					{{title}} <span ng-repeat="subtitle in subtitles" class="subtitle"><span
						class="chevron md-icon-chevron-right"></span> {{subtitle}}</span>
				</h1>
				<p ng-show="isBigTitle() && headerText" class="title-text">{{headerText}}</p>
			</div>
		</header>

		<ng-view autoscroll="true"></ng-view>

		<footer> </footer>
	</div>

	<!-- lib js files -->
	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script><!-- TODO: Check if really needed -->

	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script><!-- TODO: Create custom variant to save space -->
	<script src="bower_components/tinycolor/tinycolor.js"></script>
	<script src="bower_components/masonry/dist/masonry.pkgd.min.js"></script><!-- TODO: Use angularized version? -->
	<script src="bower_components/sprintf/dist/sprintf.min.js"></script>

	<!-- custom js files -->
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/services.rest.js"></script>
	<script src="js/services.repositories.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/controllers.control.js"></script>
	<script src="js/controllers.setup.js"></script>
	<script src="js/controllers.configuration.js"></script>
	<script src="js/main.js"></script>
</body>
</html>