<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="binding:unifiprotect">
		<parameter name="downloadBinaries" type="boolean">
			<label>Download Stream Binaries</label>
			<description>Download the stream binaries for go2rtc and ffmpeg if not already present on the system PATH</description>
			<default>true</default>
			<required>true</required>
		</parameter>
		<parameter name="useStun" type="boolean">
			<label>Use STUN for external IP discovery</label>
			<description>Use STUN for external IP discovery. This will allow camera streams to work behind NATs when outside your
				local network (e.g. when using the openHAB cloud service). STUN will incur an approximately 5 second delay starting
				the stream as it discovers your external IP.
			</description>
			<default>true</default>
			<required>true</required>
		</parameter>
	</config-description>
	<config-description uri="thing-type:unifiprotect:snapshot-config">
		<parameter name="sequence" type="text" required="false">
			<label>Sequence</label>
			<description>The order in which a snapshot is taken relative to the event or item state change. By default, a
				snapshot is taken before the trigger event fires or item state updates so its immediately available for use in
				rules. This however can cause a slight delay in the rule execution if the snapshot itself is delayed. To take a
				snapshot after the event trigger fires or item state updates, you can set this to "after". If you do not want to
				take a snapshot on a trigger event or item state update, you can set this to "none". Image items can also be updated
				in rules using either the setImage action (`actions.HTTP.setImage`) or by sending a Refresh command to the item.</description>
			<default>before</default>
			<required>true</required>
			<options>
				<option value="before">Take a snapshot before firing the trigger event or updating the item state.</option>
				<option value="after">Take a snapshot after firing the trigger event or updating the item state.</option>
				<option value="none">Do not take a snapshot automatically.</option>
			</options>
		</parameter>
	</config-description>
	<config-description uri="thing-type:unifiprotect:latching-contact-config">
		<parameter name="motionLatchDelay" type="integer" required="false" min="5000">
			<label>Motion Latch Delay</label>
			<description>The delay in milliseconds to wait before the contact is considered latched/closed after the last motion
				event.</description>
			<default>5000</default>
			<required>false</required>
		</parameter>
	</config-description>
</config-description:config-descriptions>
