<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:mqtt:player">
		<parameter name="playerAddress" type="text" required="true">
			<context>network-address</context>
			<label>Player Address</label>
			<description>Player IP Address or Host Name</description>
		</parameter>
		<parameter name="playerMQTTTopic" type="text" required="true">
			<context>name</context>
			<label>MQTT Player Topic</label>
			<description>MQTT Player Status Topic</description>
		</parameter>
	</config-description>
</config-description:config-descriptions>
