<?xml version="1.0" encoding="UTF-8"?>
<thing:thing-descriptions bindingId="satel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:thing="http://eclipse.org/smarthome/schemas/thing-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/thing-description/v1.0.0 http://eclipse.org/smarthome/schemas/thing-description-1.0.0.xsd">

	<thing-type id="system">

		<supported-bridge-type-refs>
			<bridge-type-ref id="ethm-1" />
			<bridge-type-ref id="int-rs" />
		</supported-bridge-type-refs>

		<label>@text/system.label</label>
		<description>@text/system.description</description>

		<channels>
			<channel typeId="date_time" id="date_time">
				<label>@text/system.date_time.label</label>
				<description>@text/system.date_time.description</description>
			</channel>
			<channel typeId="state" id="troubles">
				<label>@text/system.troubles.label</label>
				<description>@text/system.troubles.description</description>
			</channel>
			<channel typeId="state" id="troubles_memory">
                <label>@text/system.troubles_memory.label</label>
                <description>@text/system.troubles_memory.description</description>
			</channel>
			<channel typeId="state_ro" id="service_mode">
                <label>@text/system.service_mode.label</label>
                <description>@text/system.service_mode.description</description>
			</channel>
			<channel typeId="state_adv_ro" id="acu100_present">
                <label>@text/system.acu100_present.label</label>
                <description>@text/system.acu100_present.description</description>
			</channel>
			<channel typeId="state_adv_ro" id="intrx_present">
                <label>@text/system.intrx_present.label</label>
                <description>@text/system.intrx_present.description</description>
			</channel>
			<channel typeId="state_adv_ro" id="grade23_set">
                <label>@text/system.grade23_set.label</label>
                <description>@text/system.grade23_set.description</description>
			</channel>
            <channel typeId="string" id="user_code">
                <label>@text/system.user_code.label</label>
                <description>@text/system.user_code.description</description>
            </channel>
		</channels>

	</thing-type>

	<channel-type id="date_time">
		<item-type>DateTime</item-type>
		<label>Date and time</label>
		<category>Alarm</category>
	</channel-type>

    <channel-type id="string">
        <item-type>String</item-type>
        <label>String</label>
        <category>Alarm</category>
    </channel-type>

</thing:thing-descriptions>
