<?xml version="1.0" encoding="UTF-8"?>
<thing:thing-descriptions bindingId="satel" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:thing="http://eclipse.org/smarthome/schemas/thing-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/thing-description/v1.0.0 http://eclipse.org/smarthome/schemas/thing-description-1.0.0.xsd">

	<thing-type id="system">

		<supported-bridge-type-refs>
			<bridge-type-ref id="ethm-1" />
			<bridge-type-ref id="int-rs" />
		</supported-bridge-type-refs>

		<label>Alarm system</label>
		<description>A logical thing describing general status of the alarm system.</description>

		<channels>
			<channel typeId="date_time" id="date_time">
				<label>Date and time</label>
				<description>Current date and time in the alarm system</description>
			</channel>
			<channel typeId="state" id="troubles">
				<label>Troubles</label>
				<description>Active when the system has troubles (trouble led is blinking on a panel)</description>
			</channel>
			<channel typeId="state" id="troubles_memory">
				<label>Troubles memory</label>
				<description></description>
			</channel>
			<channel typeId="state_ro" id="service_mode">
				<label>Service mode</label>
				<description>Active when the system is in service mode</description>
			</channel>
			<channel typeId="state_adv_ro" id="acu100_present">
				<label>ACU-100 present</label>
				<description>Active when there is an ACU-100 module installed in the system</description>
			</channel>
			<channel typeId="state_adv_ro" id="intrx_present">
				<label>INT-RX present</label>
				<description>Active when there is an INT-RX module installed in the system</description>
			</channel>
			<channel typeId="state_adv_ro" id="grade23_set">
				<label>Grade2/Grade3 set</label>
				<description>Active when Grade2/Grade3 option is set in the system</description>
			</channel>
			<channel typeId="string" id="user_code">
				<label>User code</label>
				<description>Accepts string commands that override configured user code. Send empty string to revert user code to the one in the configuration.</description>
			</channel>
		</channels>

	</thing-type>

	<channel-type id="date_time">
		<item-type>DateTime</item-type>
		<label>Date and time</label>
		<category>Alarm</category>
	</channel-type>

	<channel-type id="string">
		<item-type>String</item-type>
		<label>String</label>
		<category>Alarm</category>
	</channel-type>

</thing:thing-descriptions>
