<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="bridge-type:velbus:bridge">
		<parameter name="port" type="text" required="true">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>Serial Port</label>
			<description>Select serial port (COM1, /dev/ttyS0, ...)</description>
		</parameter>
		<parameter name="timeUpdateInterval" type="integer" unit="min">
			<label>Time Update Interval</label>
			<description>The interval (in minutes) at which the realtime clock, date and daylight savings status of the modules
				will be updated, default 360. If set to 0 or left empty, no refresh will be scheduled.</description>
			<default>360</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="reconnectionInterval" type="integer" unit="s">
			<label>Reconnection Interval</label>
			<description>The interval (in seconds) at which reconnections should be reattempted in case of a communication
				problem, default 15. If set to 0 or left empty, no reconnections will be attempted.</description>
			<default>15</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="bridge-type:velbus:networkbridge">
		<parameter name="address" type="text" required="true">
			<context>network-address</context>
			<label>IP Address or Hostname</label>
			<description>IP Address or hostname of Velbus server</description>
		</parameter>
		<parameter name="port" type="integer" required="true">
			<label>Port</label>
			<description>Network port to communicate with Velbus server</description>
		</parameter>
		<parameter name="timeUpdateInterval" type="integer" unit="min">
			<label>Time Update Interval</label>
			<description>The interval (in minutes) at which the realtime clock, date and daylight savings status of the modules
				will be updated, default 360. If set to 0 or left empty, no refresh will be scheduled.</description>
			<default>360</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="reconnectionInterval" type="integer" unit="s">
			<label>Reconnection Interval</label>
			<description>The interval (in seconds) at which reconnections should be reattempted in case of a communication
				problem, default 15. If set to 0 or left empty, no reconnections will be attempted.</description>
			<default>15</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:temperatureSensorDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh Interval</label>
			<description>Refresh interval for the temperature sensor (in seconds), default 300. If set to 0 or left empty, no
				refresh will be scheduled.</description>
			<default>300</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:1channelDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:1channelDeviceWithDimspeed">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="dimspeed" type="integer" unit="s">
			<label>Dimspeed</label>
			<description>The time (in seconds) needed for dimming from 0 to 100%.</description>
			<default>0</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:2channelDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:4channelDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:4channelDeviceWithDimspeed">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="dimspeed" type="integer" unit="s">
			<label>Dimspeed</label>
			<description>The time (in seconds) needed for dimming from 0 to 100%.</description>
			<default>0</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:5channelDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:6channelDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH6" type="text">
			<label>CH6 Name</label>
			<description>The name of CH6.</description>
			<default>CH6</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:7channelDeviceWithCounters">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh Interval</label>
			<description>Refresh interval for the counters (in seconds), default 300. If set to 0 or left empty, no refresh will
				be scheduled.</description>
			<default>300</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH6" type="text">
			<label>CH6 Name</label>
			<description>The name of CH6.</description>
			<default>CH6</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH7" type="text">
			<label>CH7 Name</label>
			<description>The name of CH7.</description>
			<default>CH7</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter1Unit" type="text">
			<label>Counter 1 Unit</label>
			<description>The unit for Counter 1.</description>
			<default>kWh</default>
			<options>
				<option value="kWh">kWh</option>
				<option value="liters">liters</option>
				<option value="m³">m³</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter1PulseMultiplier" type="decimal">
			<label>Counter 1 Pulse Multiplier</label>
			<description>The pulse multiplier for counter 1.</description>
			<default>1</default>
			<options>
				<option value="1">x1</option>
				<option value="2.5">x2.5</option>
				<option value="0.05">x0.05</option>
				<option value="0.01">x0.01</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter2Unit" type="text">
			<label>Counter 2 Unit</label>
			<description>The unit for Counter 2.</description>
			<default>kWh</default>
			<options>
				<option value="kWh">kWh</option>
				<option value="liters">liters</option>
				<option value="m³">m³</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter2PulseMultiplier" type="decimal">
			<label>Counter 2 Pulse Multiplier</label>
			<description>The pulse multiplier for counter 2.</description>
			<default>1</default>
			<options>
				<option value="1">x1</option>
				<option value="2.5">x2.5</option>
				<option value="0.05">x0.05</option>
				<option value="0.01">x0.01</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter3Unit" type="text">
			<label>Counter 3 Unit</label>
			<description>The unit for Counter 3.</description>
			<default>kWh</default>
			<options>
				<option value="kWh">kWh</option>
				<option value="liters">liters</option>
				<option value="m³">m³</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter3PulseMultiplier" type="decimal">
			<label>Counter 3 Pulse Multiplier</label>
			<description>The pulse multiplier for counter 3.</description>
			<default>1</default>
			<options>
				<option value="1">x1</option>
				<option value="2.5">x2.5</option>
				<option value="0.05">x0.05</option>
				<option value="0.01">x0.01</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter4Unit" type="text">
			<label>Counter 4 Unit</label>
			<description>The unit for Counter 4.</description>
			<default>kWh</default>
			<options>
				<option value="kWh">kWh</option>
				<option value="liters">liters</option>
				<option value="m³">m³</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="counter4PulseMultiplier" type="decimal">
			<label>Counter 4 Pulse Multiplier</label>
			<description>The pulse multiplier for counter 4.</description>
			<default>1</default>
			<options>
				<option value="1">x1</option>
				<option value="2.5">x2.5</option>
				<option value="0.05">x0.05</option>
				<option value="0.01">x0.01</option>
			</options>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:7channelDeviceWithTemperatureSensor">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh Interval</label>
			<description>Refresh interval for the temperature sensor (in seconds), default 300. If set to 0 or left empty, no
				refresh will be scheduled.</description>
			<default>300</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH6" type="text">
			<label>CH6 Name</label>
			<description>The name of CH6.</description>
			<default>CH6</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH7" type="text">
			<label>CH7 Name</label>
			<description>The name of CH7.</description>
			<default>CH7</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:8channelDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH6" type="text">
			<label>CH6 Name</label>
			<description>The name of CH6.</description>
			<default>CH6</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH7" type="text">
			<label>CH7 Name</label>
			<description>The name of CH7.</description>
			<default>CH7</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH8" type="text">
			<label>CH8 Name</label>
			<description>The name of CH8.</description>
			<default>CH8</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:9channelDeviceWithTemperatureSensor">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh Interval</label>
			<description>Refresh interval for the temperature sensor (in seconds), default 300. If set to 0 or left empty, no
				refresh will be scheduled.</description>
			<default>300</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH6" type="text">
			<label>CH6 Name</label>
			<description>The name of CH6.</description>
			<default>CH6</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH7" type="text">
			<label>CH7 Name</label>
			<description>The name of CH7.</description>
			<default>CH7</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH8" type="text">
			<label>CH8 Name</label>
			<description>The name of CH8.</description>
			<default>CH8</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH9" type="text">
			<label>CH9 Name</label>
			<description>The name of CH9 (temperature sensor channel).</description>
			<default>Temperature</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:13channelDevice">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh Interval</label>
			<description>Refresh interval for the sensors (in seconds), default 300. If set to 0 or left empty, no refresh will
				be scheduled.</description>
			<default>300</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH6" type="text">
			<label>CH6 Name</label>
			<description>The name of CH6.</description>
			<default>CH6</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH7" type="text">
			<label>CH7 Name</label>
			<description>The name of CH7.</description>
			<default>CH7</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH8" type="text">
			<label>CH8 Name</label>
			<description>The name of CH8.</description>
			<default>CH8</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH9" type="text">
			<label>CH9 Name</label>
			<description>The name of CH9.</description>
			<default>CH9</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH10" type="text">
			<label>CH10 Name</label>
			<description>The name of CH10.</description>
			<default>CH10</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH11" type="text">
			<label>CH11 Name</label>
			<description>The name of CH11.</description>
			<default>CH11</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH12" type="text">
			<label>CH12 Name</label>
			<description>The name of CH12.</description>
			<default>CH12</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH13" type="text">
			<label>CH13 Name</label>
			<description>The name of CH13.</description>
			<default>CH13</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:velbus:33channelDeviceWithTemperatureSensor">
		<parameter name="address" type="text" required="true">
			<label>Address</label>
			<description>The velbus address of the device</description>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh Interval</label>
			<description>Refresh interval for the temperature sensor (in seconds), default 300. If set to 0 or left empty, no
				refresh will be scheduled.</description>
			<default>300</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH1" type="text">
			<label>CH1 Name</label>
			<description>The name of CH1.</description>
			<default>CH1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH2" type="text">
			<label>CH2 Name</label>
			<description>The name of CH2.</description>
			<default>CH2</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH3" type="text">
			<label>CH3 Name</label>
			<description>The name of CH3.</description>
			<default>CH3</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH4" type="text">
			<label>CH4 Name</label>
			<description>The name of CH4.</description>
			<default>CH4</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH5" type="text">
			<label>CH5 Name</label>
			<description>The name of CH5.</description>
			<default>CH5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH6" type="text">
			<label>CH6 Name</label>
			<description>The name of CH6.</description>
			<default>CH6</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH7" type="text">
			<label>CH7 Name</label>
			<description>The name of CH7.</description>
			<default>CH7</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH8" type="text">
			<label>CH8 Name</label>
			<description>The name of CH8.</description>
			<default>CH8</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH9" type="text">
			<label>CH9 Name</label>
			<description>The name of CH9.</description>
			<default>CH9</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH10" type="text">
			<label>CH10 Name</label>
			<description>The name of CH10.</description>
			<default>CH10</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH11" type="text">
			<label>CH11 Name</label>
			<description>The name of CH11.</description>
			<default>CH11</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH12" type="text">
			<label>CH12 Name</label>
			<description>The name of CH12.</description>
			<default>CH12</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH13" type="text">
			<label>CH13 Name</label>
			<description>The name of CH13.</description>
			<default>CH13</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH14" type="text">
			<label>CH14 Name</label>
			<description>The name of CH14.</description>
			<default>CH14</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH15" type="text">
			<label>CH15 Name</label>
			<description>The name of CH15.</description>
			<default>CH15</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH16" type="text">
			<label>CH16 Name</label>
			<description>The name of CH16.</description>
			<default>CH16</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH17" type="text">
			<label>CH17 Name</label>
			<description>The name of CH17.</description>
			<default>CH17</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH18" type="text">
			<label>CH18 Name</label>
			<description>The name of CH18.</description>
			<default>CH18</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH19" type="text">
			<label>CH19 Name</label>
			<description>The name of CH19.</description>
			<default>CH19</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH20" type="text">
			<label>CH20 Name</label>
			<description>The name of CH20.</description>
			<default>CH20</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH21" type="text">
			<label>CH21 Name</label>
			<description>The name of CH21.</description>
			<default>CH21</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH22" type="text">
			<label>CH22 Name</label>
			<description>The name of CH22.</description>
			<default>CH22</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH23" type="text">
			<label>CH23 Name</label>
			<description>The name of CH23.</description>
			<default>CH23</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH24" type="text">
			<label>CH24 Name</label>
			<description>The name of CH24.</description>
			<default>CH24</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH25" type="text">
			<label>CH25 Name</label>
			<description>The name of CH25.</description>
			<default>CH25</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH26" type="text">
			<label>CH26 Name</label>
			<description>The name of CH26.</description>
			<default>CH26</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH27" type="text">
			<label>CH27 Name</label>
			<description>The name of CH27.</description>
			<default>CH27</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH28" type="text">
			<label>CH28 Name</label>
			<description>The name of CH28.</description>
			<default>CH28</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH29" type="text">
			<label>CH29 Name</label>
			<description>The name of CH29.</description>
			<default>CH29</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH30" type="text">
			<label>CH30 Name</label>
			<description>The name of CH30.</description>
			<default>CH30</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH31" type="text">
			<label>CH31 Name</label>
			<description>The name of CH31.</description>
			<default>CH31</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH32" type="text">
			<label>CH32 Name</label>
			<description>The name of CH32.</description>
			<default>CH32</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="CH33" type="text">
			<label>CH33 Name</label>
			<description>The name of CH33 (temperature sensor channel).</description>
			<default>Temperature</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
