<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="openHAB 2" sequenceNumber="127">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.6.2.v201407030533"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.6.2.v201407030533"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/maintenance/R201407030533"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.10/core/R201405190339"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.2.9.v20150224"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140606-1602"/>
<repository location="http://download.eclipse.org/releases/luna/201406250900/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4/R-4.4.2-201502041700"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.source" version="3.0.0.v201312141243"/>
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="com.google.gson.source" version="2.2.4.v201311231704"/>
<unit id="com.google.guava" version="10.0.1.v201203051515"/>
<unit id="com.google.guava.source" version="10.0.1.v201203051515"/>
<unit id="com.ibm.icu.base" version="52.1.0.v201404171520"/>
<unit id="com.ibm.icu.base.source" version="52.1.0.v201404171520"/>
<unit id="javax.persistence" version="1.0.0.v200905011740"/>
<unit id="javax.persistence.source" version="1.0.0.v200905011740"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.annotation" version="1.2.0.v201401042248"/>
<unit id="javax.transaction" version="1.1.1.v201105210645"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="javax.servlet" version="3.1.0.v20140303-1611"/>
<unit id="javax.servlet.source" version="3.1.0.v20140303-1611"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.activation.source" version="1.1.0.v201211130549"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="org.apache.ant" version="1.9.2.v201404171502"/>
<unit id="org.apache.ant.source" version="1.9.2.v201404171502"/>
<unit id="org.apache.commons.exec" version="1.1.0.v201301240602"/>
<unit id="org.apache.commons.exec.source" version="1.1.0.v201301240602"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.net.source" version="3.2.0.v201305141515"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.2.6.v201311072007"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.2.5.v201311072007"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="org.mockito" version="1.9.5.v201311280930"/>
<unit id="org.mockito.source" version="1.9.5.v201311280930"/>
<unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
<unit id="org.objectweb.asm.source" version="5.0.1.v201404251740"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="org.objenesis" version="1.0.0.v201105211943"/>
<unit id="org.objenesis.source" version="1.0.0.v201105211943"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.jcl.source" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.log4j.source" version="1.7.2.v20130115-1340"/>
<unit id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jupnp.feature.feature.group" version="0.0.0"/>
<unit id="org.jupnp.feature.source.feature.group" version="0.0.0"/>
<repository location="http://www.openhab.org/jupnp/update-site/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.provider.security.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.connector.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.security.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.jersey.runtime.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.source.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.jersey.runtime.feature.feature.group" version="0.0.0"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="0.0.0"/>
<repository location="http://hstaudacher.github.io/osgi-jax-rs-connector/4.3.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.smarthome.feature.runtime.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.binding.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.rest.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.core.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.console.equinox.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.console.equinox.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.binding.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.model.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.rest.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.runtime.model.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.test.feature.group" version="0.0.0"/>
<unit id="org.eclipse.smarthome.feature.test.source.feature.group" version="0.0.0"/>
<repository location="https://openhab.ci.cloudbees.com/job/smarthome/lastSuccessfulBuild/artifact/products/org.eclipse.smarthome.repo/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.groovy23.feature.feature.group" version="0.0.0"/>
<repository location="http://dist.springsource.org/release/GRECLIPSE/e4.4/"/>
</location>
</locations>
</target>
