<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:comfoair:serial">
		<parameter name="serialPort" type="text" required="true">
			<label>Serial Port</label>
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<description>Serial port that the ComfoAir is connected to</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" max="65535" min="10" unit="s" required="false">
			<label>Refresh Interval</label>
			<description>Refresh interval in seconds</description>
			<default>60</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
