<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:deconz:bridge">
		<parameter name="host" type="text" required="true">
			<label>Host Address</label>
			<context>network-address</context>
			<description>IP address or host name of deCONZ interface.</description>
		</parameter>
		<parameter name="httpPort" type="integer" required="false" min="0" max="65335">
			<label>HTTP Port</label>
			<description>Port of the deCONZ HTTP interface.</description>
			<default>80</default>
		</parameter>
		<parameter name="port" type="integer" required="false" min="0" max="65335">
			<label>Websocket Port</label>
			<description>Port of the deCONZ Websocket.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="apikey" type="text" required="false">
			<label>API Key</label>
			<context>password</context>
			<description>If no API Key is provided, a new one will be requested. You need to authorize the access on the deCONZ web interface.</description>
		</parameter>
		<parameter name="timeout" type="integer" required="false" unit="ms" min="0">
			<label>Timeout</label>
			<description>Timeout for asynchronous HTTP requests (in milliseconds).</description>
			<advanced>true</advanced>
			<default>2000</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:deconz:sensor">
		<parameter name="id" type="text" required="true">
			<label>Sensor ID</label>
			<description>The deCONZ bridge assigns an integer number ID to each sensor.</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
