<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:radiothermostat:thermostatconfig">
		<parameter-group name="heating">
			<label>Heating Program</label>
			<description>This group defines the setpoints for the heating program.</description>
		</parameter-group>

		<parameter-group name="cooling">
			<label>Cooling Program</label>
			<description>This group defines the setpoints for the cooling program.</description>
		</parameter-group>

		<parameter name="hostName" type="text" required="true">
			<context>network-address</context>
			<label>Thermostat Host Name/IP Address</label>
			<description>Host Name or IP Address of the Thermostat</description>
		</parameter>
		<parameter name="refresh" type="integer" min="1" required="false" unit="min">
			<label>Refresh Interval</label>
			<description>Specifies the Refresh Interval in Minutes</description>
			<default>2</default>
		</parameter>
		<parameter name="logRefresh" type="integer" min="5" required="false" unit="min">
			<label>Run-time Log Refresh Interval</label>
			<description>Specifies the Run-time Log and Humidity Refresh Interval in Minutes</description>
			<default>10</default>
		</parameter>
		<parameter name="isCT80" type="boolean">
			<label>Enable CT80 Thermostat Options</label>
			<description>Optional Flag to Enable Additional Features Only Available on the CT80 Thermostat</description>
			<default>false</default>
		</parameter>
		<parameter name="disableLogs" type="boolean">
			<label>Disable Retrieval of Run-time Data</label>
			<description>Optional Flag to Disable the Retrieval of Run-time Data from the Thermostat</description>
			<default>false</default>
		</parameter>
		<parameter name="setpointMode" type="text">
			<label>Setpoint Mode</label>
			<description>Run in absolute or temporary setpoint mode</description>
			<default>temporary</default>
			<options>
				<option value="absolute">Absolute</option>
				<option value="temporary">Temporary</option>
			</options>
		</parameter>
		<parameter name="clockSync" type="boolean">
			<label>Enable Thermostat Clock Sync</label>
			<description>Optional Flag to sync the thermostat's clock with the host system clock</description>
			<default>true</default>
		</parameter>

		<parameter name="monMorningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Monday Morning</label>
			<description>Monday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monMorningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Monday Morning Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monDayHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Monday Day</label>
			<description>Monday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monDayHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Monday Day Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monEveningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Monday Evening</label>
			<description>Monday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monEveningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Monday Evening Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monNightHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Monday Night</label>
			<description>Monday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monNightHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Monday Night Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueMorningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Tuesday Morning</label>
			<description>Tuesday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueMorningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Tuesday Morning Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueDayHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Tuesday Day</label>
			<description>Tuesday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueDayHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Tuesday Day Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueEveningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Tuesday Evening</label>
			<description>Tuesday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueEveningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Tuesday Evening Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueNightHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Tuesday Night</label>
			<description>Tuesday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueNightHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Tuesday Night Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedMorningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Wednesday Morning</label>
			<description>Wednesday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedMorningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Wednesday Morning Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedDayHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Wednesday Day</label>
			<description>Wednesday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedDayHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Wednesday Day Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedEveningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Wednesday Evening</label>
			<description>Wednesday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedEveningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Wednesday Evening Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedNightHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Wednesday Night</label>
			<description>Wednesday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedNightHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Wednesday Night Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuMorningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Thursday Morning</label>
			<description>Thursday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuMorningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Thursday Morning Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuDayHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Thursday Day</label>
			<description>Thursday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuDayHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Thursday Day Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuEveningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Thursday Evening</label>
			<description>Thursday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuEveningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Thursday Evening Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuNightHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Thursday Night</label>
			<description>Thursday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuNightHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Thursday Night Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friMorningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Friday Morning</label>
			<description>Friday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friMorningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Friday Morning Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friDayHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Friday Day</label>
			<description>Friday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friDayHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Friday Day Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friEveningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Friday Evening</label>
			<description>Friday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friEveningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Friday Evening Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friNightHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Friday Night</label>
			<description>Friday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friNightHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Friday Night Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satMorningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Saturday Morning</label>
			<description>Saturday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satMorningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Saturday Morning Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satDayHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Saturday Day</label>
			<description>Saturday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satDayHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Saturday Day Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satEveningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Saturday Evening</label>
			<description>Saturday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satEveningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Saturday Evening Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satNightHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Saturday Night</label>
			<description>Saturday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satNightHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Saturday Night Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunMorningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Sunday Morning</label>
			<description>Sunday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunMorningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Sunday Morning Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunDayHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Sunday Day</label>
			<description>Sunday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunDayHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Sunday Day Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunEveningHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="heating">
			<label>Sunday Evening</label>
			<description>Sunday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunEveningHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Sunday Evening Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunNightHeatTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="heating">
			<label>Sunday Night</label>
			<description>Sunday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunNightHeatTemp" type="integer" min="45" max="95" unit="F" groupName="heating">
			<label>Sunday Night Heat Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monMorningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Monday Morning</label>
			<description>Monday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monMorningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Monday Morning Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monDayCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Monday Day</label>
			<description>Monday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monDayCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Monday Day Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monEveningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Monday Evening</label>
			<description>Monday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monEveningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Monday Evening Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monNightCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Monday Night</label>
			<description>Monday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="monNightCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Monday Night Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueMorningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Tuesday Morning</label>
			<description>Tuesday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueMorningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Tuesday Morning Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueDayCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Tuesday Day</label>
			<description>Tuesday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueDayCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Tuesday Day Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueEveningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Tuesday Evening</label>
			<description>Tuesday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueEveningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Tuesday Evening Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueNightCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Tuesday Night</label>
			<description>Tuesday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="tueNightCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Tuesday Night Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedMorningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Wednesday Morning</label>
			<description>Wednesday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedMorningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Wednesday Morning Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedDayCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Wednesday Day</label>
			<description>Wednesday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedDayCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Wednesday Day Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedEveningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Wednesday Evening</label>
			<description>Wednesday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedEveningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Wednesday Evening Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedNightCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Wednesday Night</label>
			<description>Wednesday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="wedNightCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Wednesday Night Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuMorningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Thursday Morning</label>
			<description>Thursday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuMorningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Thursday Morning Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuDayCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Thursday Day</label>
			<description>Thursday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuDayCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Thursday Day Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuEveningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Thursday Evening</label>
			<description>Thursday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuEveningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Thursday Evening Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuNightCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Thursday Night</label>
			<description>Thursday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="thuNightCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Thursday Night Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friMorningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Friday Morning</label>
			<description>Friday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friMorningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Friday Morning Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friDayCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Friday Day</label>
			<description>Friday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friDayCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Friday Day Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friEveningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Friday Evening</label>
			<description>Friday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friEveningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Friday Evening Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friNightCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Friday Night</label>
			<description>Friday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="friNightCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Friday Night Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satMorningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Saturday Morning</label>
			<description>Saturday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satMorningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Saturday Morning Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satDayCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Saturday Day</label>
			<description>Saturday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satDayCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Saturday Day Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satEveningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Saturday Evening</label>
			<description>Saturday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satEveningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Saturday Evening Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satNightCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Saturday Night</label>
			<description>Saturday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="satNightCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Saturday Night Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunMorningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Sunday Morning</label>
			<description>Sunday Morning setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunMorningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Sunday Morning Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunDayCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Sunday Day</label>
			<description>Sunday Day setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunDayCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Sunday Day Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunEveningCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
			groupName="cooling">
			<label>Sunday Evening</label>
			<description>Sunday Evening setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunEveningCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Sunday Evening Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunNightCoolTime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" groupName="cooling">
			<label>Sunday Night</label>
			<description>Sunday Night setpoint start time (HH:mm)</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="sunNightCoolTemp" type="integer" min="45" max="95" unit="F" groupName="cooling">
			<label>Sunday Night Cool Setpoint</label>
			<description>The setpoint in Degrees Fahrenheit</description>
			<unitLabel>degrees F</unitLabel>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
