<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="thing-type:solarwatt:energymanager">
		<parameter name="hostname" type="text">
			<label>Hostname</label>
			<description>Hostname or IP address of the Solarwatt Energymanager.</description>
			<context>network-address</context>
		</parameter>
		<parameter name="refresh" type="integer" unit="s">
			<label>Refresh Interval</label>
			<description>Interval between updates to device data (in seconds).</description>
			<default>30</default>
			<unitLabel>s</unitLabel>
			<advanced>true</advanced>
		</parameter>
		<parameter name="rescan" type="integer" unit="min">
			<label>Device Rescan Interval</label>
			<description>Interval between scans for newly detected devices (in minutes).</description>
			<default>5</default>
			<unitLabel>min</unitLabel>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:solarwatt:device">
		<parameter name="guid" type="text">
			<label>Device GUID</label>
			<description>GUID of the device as used by the Solarwatt Energymanager.</description>
		</parameter>
	</config-description>
</config-description:config-descriptions>
