<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="netatmo:rain-measurement:config">
		<parameter name="period" type="text">
			<label>Period</label>
			<options>
				<option value="30min">30 minutes</option>
				<option value="1hour">1 hour</option>
				<option value="3hours">3 hours</option>
				<option value="1day">This day</option>
				<option value="1week">This week</option>
				<option value="1month">This month</option>
			</options>
			<default>1week</default>
		</parameter>
	</config-description>

	<config-description uri="netatmo:measurement:config">
		<parameter name="limit" type="text">
			<label>Limit</label>
			<options>
				<option value="MIN">Minimum</option>
				<option value="MAX">Maximum</option>
			</options>
			<default>MIN</default>
		</parameter>
		<parameter name="period" type="text">
			<label>Period</label>
			<options>
				<option value="30min">30 minutes</option>
				<option value="1hour">1 hour</option>
				<option value="3hours">3 hours</option>
				<option value="1day">This day</option>
				<option value="1week">This week</option>
				<option value="1month">This month</option>
			</options>
			<default>1week</default>
		</parameter>
	</config-description>

	<config-description uri="netatmo:timestamp:config">
		<parameter name="limit" type="text">
			<label>Limit</label>
			<options>
				<option value="DATE_MIN">Date Minimum</option>
				<option value="DATE_MAX">Date Maximum</option>
			</options>
			<default>DATE_MIN</default>
		</parameter>
		<parameter name="period" type="text">
			<label>Period</label>
			<options>
				<option value="1week">This week</option>
				<option value="1month">This month</option>
			</options>
			<default>1week</default>
		</parameter>
	</config-description>

	<config-description uri="netatmo:device">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})" required="true">
			<label>Equipment ID</label>
		</parameter>
	</config-description>

	<config-description uri="netatmo:virtual">
		<parameter name="id" type="text" required="true">
			<label>UUID</label>
		</parameter>
	</config-description>

	<config-description uri="netatmo:configurable">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})" required="true">
			<label>Equipment ID</label>
		</parameter>

		<parameter name="refreshInterval" type="integer" min="2000" unit="ms">
			<label>Refresh Interval</label>
			<default>300000</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>


</config-description:config-descriptions>
