<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="netatmo:api_bridge">
		<parameter name="clientId" type="text" required="true">
			<label>Client ID</label>
			<description>Client ID provided for the application you created on http://dev.netatmo.com/createapp</description>
		</parameter>

		<parameter name="clientSecret" type="text" required="true">
			<label>Client Secret</label>
			<description>Client Secret provided for the application you created.</description>
			<context>password</context>
		</parameter>

		<parameter name="webHookUrl" type="text" required="false">
			<label>Webhook Address</label>
			<description>Protocol, public IP or hostname and port to access openHAB server from Internet.</description>
		</parameter>

		<parameter name="webHookPostfix" type="text" required="false">
			<label>Webhook Postfix</label>
			<description>String appended to the generated webhook address (should start with `/`).</description>
		</parameter>

		<parameter name="reconnectInterval" type="integer" unit="s">
			<label>Reconnect Interval</label>
			<description>The reconnection interval to Netatmo API (in s).</description>
			<default>300</default>
		</parameter>
	</config-description>

	<config-description uri="netatmo:sum_rain:config">
		<parameter name="period" type="text">
			<label>Period</label>
			<description>Observation period for summing rain quantities.</description>
			<options>
				<option value="30min">30 minutes</option>
				<option value="1hour">1 hour</option>
				<option value="3hours">3 hours</option>
				<option value="1day">This day</option>
				<option value="1week">This week</option>
				<option value="1month">This month</option>
			</options>
			<default>1week</default>
		</parameter>
	</config-description>

	<config-description uri="netatmo:measure:config">
		<parameter name="limit" type="text">
			<label>Boundary</label>
			<description>Defines the requested boundary.</description>
			<options>
				<option value="MIN">Minimum</option>
				<option value="MAX">Maximum</option>
			</options>
			<default>MIN</default>
		</parameter>
		<parameter name="period" type="text">
			<label>Period</label>
			<description>Observation period for searched boundary.</description>
			<options>
				<option value="30min">30 minutes</option>
				<option value="1hour">1 hour</option>
				<option value="3hours">3 hours</option>
				<option value="1day">This day</option>
				<option value="1week">This week</option>
				<option value="1month">This month</option>
			</options>
			<default>1week</default>
		</parameter>
	</config-description>

	<config-description uri="netatmo:timestamp:config">
		<parameter name="limit" type="text">
			<label>Boundary</label>
			<description>Defines the requested boundary.</description>
			<options>
				<option value="DATE_MIN">Timestamp of minimum</option>
				<option value="DATE_MAX">Timestamp of maximum</option>
			</options>
			<default>DATE_MIN</default>
		</parameter>
		<parameter name="period" type="text">
			<label>Period</label>
			<description>Observation period for the queried value.</description>
			<options>
				<option value="1week">This week</option>
				<option value="1month">This month</option>
			</options>
			<default>1week</default>
		</parameter>
	</config-description>

	<config-description uri="netatmo:device">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})" required="true">
			<label>Equipment ID</label>
			<description>ID of the device (MAC address).</description>
		</parameter>
	</config-description>

	<config-description uri="netatmo:weather">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})" required="true">
			<label>Equipment ID</label>
			<description>ID of the device (MAC address).</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="120" unit="s">
			<label>Refresh Interval</label>
			<description>The refresh interval to poll Netatmo API (in seconds).</description>
			<default>600</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="netatmo:camera">
		<parameter name="id" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})" required="true">
			<label>Equipment ID</label>
			<description>ID of the device (MAC address).</description>
		</parameter>
		<parameter name="ipAddress" type="text" required="false">
			<label>Network Address</label>
			<description>The IP or host name used as fallback in case of erroneous API answer to ping requests.</description>
			<context>network-address</context>
		</parameter>
	</config-description>

	<config-description uri="netatmo:virtual">
		<parameter name="id" type="text" required="true">
			<label>Thing ID</label>
			<description>Unique identifier of the thing defined by Netatmo.</description>
		</parameter>
	</config-description>

	<config-description uri="netatmo:home">
		<parameter name="id" type="text" required="false">
			<label>Thing ID</label>
			<description>Unique identifier of the thing defined by Netatmo.</description>
		</parameter>

		<parameter name="securityId" type="text" required="false">
			<label>Security ID</label>
			<description>Unique identifier of the home handling security devices.</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="energyId" type="text" required="false">
			<label>Energy ID</label>
			<description>Unique identifier of the home handling energy devices.</description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="refreshInterval" type="integer" min="60" unit="s">
			<label>Refresh Interval</label>
			<description>The refresh interval to poll Netatmo API (in seconds).</description>
			<default>180</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
