<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:miio:config">
		<parameter name="host" type="text" required="true">
			<context>network-address</context>
			<label>IP Address</label>
		</parameter>
		<parameter name="token" type="text" pattern="^([A-Fa-f0-9]{96}|[A-Fa-f0-9]{32}|.{16})$" required="true">
			<label>Token</label>
			<description>Token for communication (in Hex)</description>
		</parameter>
		<parameter name="deviceId" type="text" required="true">
			<label>Device ID</label>
			<description>Device ID number for communication</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="model" type="text" required="false">
			<label>Device Model String</label>
			<description>Device model string, used to determine the subtype.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="communication" type="text" required="false">
			<default>direct</default>
			<label>Communication Method</label>
			<description>Determines how the binding communicates with this device</description>
			<options>
				<option value="direct">Direct (Default)</option>
				<option value="cloud">Cloud</option>
			</options>
			<advanced>true</advanced>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="0" max="9999" required="false">
			<label>Refresh Interval</label>
			<description>Refresh interval for refreshing the data in seconds. (0=disabled)</description>
			<default>30</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="timeout" type="integer" min="1000" max="60000" required="false">
			<label>Timeout</label>
			<description>Timeout time in milliseconds</description>
			<default>15000</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="cloudServer" type="text" required="false">
			<label>Cloud Server Country Code</label>
			<description>Country code (2 characters) of the Xiaomi cloud server. See binding documentation for mapping of the
				country to cloud server</description>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
