<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="persistence:dynamodb">

		<!--
			############################ Amazon DynamoDB Persistence Service ##################################
			#
			# The following parameters are used to configure Amazon DynamoDB Persistence.
			#
			# Further details at https://www.openhab.org/addons/persistence/dynamodb/
			#

			# PID SETTING
			#
			# When configuring the persistence using file (instead UI),
			# make sure the first line in the configuration file is the
			# pid definition (remove the comment prefix #)

			#pid:pid:org.openhab.dynamodb

			#
			# CONNECTION SETTINGS (follow OPTION 1 or OPTION 2)
			#

			# OPTION 1 (using accessKey and secretKey)
			#accessKey=AKIAIOSFODNN7EXAMPLE
			#secretKey=3+AAAAABBBbbbCCCCCCdddddd+7mnbIOLH
			#region=eu-west-1

			# OPTION 2 (using profilesConfigFile and profile)
			# where profilesConfigFile points to AWS credentials file
			# Please note that the user that runs openHAB must have approriate read rights to the credential file.
			# See below for an example how the credentials file should look like
			#profilesConfigFile=/etc/openhab2/aws_creds
			#profile=fooprofile
			#region=eu-west-1

			# UNCOMMENT THE BELOW ALWAYS (otherwise legacy table schema with 'tablePrefix' is used)
			#table=openhab

			# Credentials file example:
			#
			# [fooprofile]
			# aws_access_key_id=AKIAIOSFODNN7EXAMPLE
			# aws_secret_access_key=3+AAAAABBBbbbCCCCCCdddddd+7mnbIOLH

			#
			# ADVANCED CONFIGURATION (OPTIONAL)
			#

			# Expire time for data in days (relative to stored timestamp).
			# Data older than this is removed automatically using DynamoDB Time to Live (TTL)
			# feature.
			#expireDays=

			# read capacity for the created tables
			#readCapacityUnits=1

			# write capacity for the created tables
			#writeCapacityUnits=1

			# LEGACY SCHEMA: table prefix used in the name of created tables
			#tablePrefix=openhab-

		-->

		<parameter name="region" type="text" required="true">
			<label>AWS region ID</label>
			<description><![CDATA[AWS region ID<br />
			The region needs to match the region of the AWS user that will access Amazon DynamoDB.<br />
			For example, eu-west-1.]]></description>
		</parameter>

		<parameter name="accessKey" type="text" required="false">
			<label>AWS access key</label>
			<description><![CDATA[AWS access key<br />
			Give either 1) access key and secret key, or 2) credentials file and profile name.
			]]></description>
		</parameter>

		<parameter name="secretKey" type="text" required="false">
			<label>AWS secret key</label>
			<description><![CDATA[AWS secret key<br />
			Give either 1) access key and secret key, or 2) credentials file and profile name.
			]]></description>
		</parameter>


		<parameter name="profilesConfigFile" type="text" required="false">
			<label>AWS credentials file</label>
			<description><![CDATA[Path to the AWS credentials file. <br />
			For example, /etc/openhab/aws_creds. Please note that the user that runs openHAB must have approriate read rights to the credential file. <br />
			Give either 1) access key and secret key, or 2) credentials file and profile name.
			]]></description>
		</parameter>

		<parameter name="profile" type="text" required="false">
			<label>Profile name</label>
			<description><![CDATA[Profile name in AWS credentials file. <br />
			Give either 1) access key and secret key, or 2) credentials file and profile name.
			]]></description>
		</parameter>

		<parameter name="table" type="text" required="false">
			<label>Table</label>
			<description><![CDATA[Table name. <br />
			Specify this parameter over Table Prefix to use the new optimized table format.]]></description>
			<default>openhab</default> <!-- set by default, preferring new schema format -->
		</parameter>

		<parameter name="readCapacityUnits" type="integer" required="false" min="1">
			<description><![CDATA[Provisioned read capacity.<br />
			Default is 1.]]></description>
			<label>Read Capacity</label>
			<advanced>true</advanced>
		</parameter>

		<parameter name="writeCapacityUnits" type="integer" required="false" min="1">
			<label>Write Capacity</label>
			<description><![CDATA[Provisioned write capacity.<br />
			Default is 1.]]></description>
			<advanced>true</advanced>
		</parameter>

		<parameter name="expireDays" type="integer" required="false" min="1">
			<label>Data Expiry, in Days</label>
			<description><![CDATA[Expire time for data.<br />
			Data older than this is automatically removed by DynamoDB Time to Live (TTL) feature. Use empty value to disable data expiration.
			]]></description>
			<advanced>true</advanced>
			<default></default> <!-- empty by default, giving preference to new table schema -->
		</parameter>

		<parameter name="tablePrefix" type="text" required="false">
			<label>Table Prefix</label>
			<description><![CDATA[Legacy: Table prefix used in the name of created tables. <br />
			Default is "openhab-"]]></description>
			<advanced>true</advanced>
			<default></default> <!-- empty by default, giving preference to new table schema -->
		</parameter>

	</config-description>

</config-description:config-descriptions>
