#
# min server threads
#
org.ops4j.pax.web.server.minThreads = 2

#
# max server threads
#
org.ops4j.pax.web.server.maxThreads = 20

#
# location of jetty config
#
org.ops4j.pax.web.config.file = ${openhab.runtime}/etc/jetty.xml

#
# enable https
#
org.osgi.service.http.secure.enabled = true

#
# http port. 
# This is currently also in the setenv
# org.osgi.service.http.port = 8080

#
# https port, default is 8443. 
# This is currently also in the setenv
#
#org.osgi.service.http.port.secure = 8443

#
# The number of minutes after which an inactive session will timeout.
#
org.ops4j.pax.web.session.timeout = 10

#
# Specifies if the connections established use the nio classes from java. 
#
org.osgi.service.http.useNIO = true

#
# Set to true if certificate-based client authentication at the server is "wanted".
#
org.ops4j.pax.web.ssl.clientauthwanted = false

#
# Set to true if certificate-based client authentication at the server is "required".
#
org.ops4j.pax.web.ssl.clientauthneeded = false

#
# The time in milliseconds that the connection can be idle before it is closed.
#
org.ops4j.pax.web.server.idleTimeout = 300000

#
# Listening addresses. This should match host in the sslconnector/name attribute in jetty.xml
#
org.ops4j.pax.web.listening.addresses = 0.0.0.0
