<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
        http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="io:homekit">
		<parameter name="port" type="integer" required="true">
			<label>Port</label>
			<description>Defines the port the HomeKit integration listens on.</description>
			<default>9124</default>
		</parameter>
		<parameter name="pin" type="text" pattern="\d{3}-\d{2}-\d{3}" required="true">
			<label>Pin</label>
			<description>Defines the pin, used for pairing, in the form ###-##-###.</description>
			<default>031-45-154</default>
		</parameter>
		<parameter name="useFahrenheitTemperature" type="boolean" required="true">
			<label>Use Fahrenheit Temperature</label>
			<description>Defines whether or not to direct HomeKit clients to use fahrenheit temperatures instead of celsius.</description>
			<default>false</default>
		</parameter>
		<parameter name="thermostatCoolMode" type="text" required="true">
			<label>Thermostat Cool Mode</label>
			<description>Defines the string to look for in thermostat heatingCoolingMode characteristics to indicate COOL mode.</description>
			<default>CoolOn</default>
		</parameter>
		<parameter name="thermostatHeatMode" type="text" required="true">
			<label>Thermostat Heat Mode</label>
			<description>Defines the string to look for in thermostat heatingCoolingMode characteristics to indicate HEAT mode.</description>
			<default>HeatOn</default>
		</parameter>
		<parameter name="thermostatAutoMode" type="text" required="true">
			<label>Thermostat Auto Mode</label>
			<description>Defines the string to look for in thermostat heatingCoolingMode characteristics to indicate AUTO mode.</description>
			<default>Auto</default>
		</parameter>
		<parameter name="thermostatOffMode" type="text" required="true">
			<label>Thermostat Off Mode</label>
			<description>Defines the string to look for in thermostat heatingCoolingMode characteristics to indicate OFF mode.</description>
			<default>Off</default>
		</parameter>
		<parameter name="networkInterface" type="text" required="false">
			<label>Network Interface</label>
			<description>Defines the IP address of the network interface to expose the HomeKit integration on.</description>
		</parameter>
	</config-description>
</config-description:config-descriptions>
