<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="io:homekit">
		<parameter-group name="core">
			<label>Core Configuration.</label>
			<advanced>false</advanced>
		</parameter-group>
		<parameter-group name="thermostat">
			<label>Thermostat Settings</label>
			<description>Advanced thermostat settings.</description>
			<advanced>true</advanced>
		</parameter-group>
		<parameter-group name="network">
			<label>Network Settings</label>
			<description>Advanced network settings.</description>
			<advanced>true</advanced>
		</parameter-group>
		<parameter name="name" type="text" required="false" groupName="core">
			<label>Bridge name</label>
			<description>Name of the HomeKit bridge.</description>
			<default>openHAB</default>
		</parameter>
		<parameter name="qrCode" type="text" required="false" groupName="core">
			<label>HomeKit QR Code</label>
			<context>qrcode</context>
			<description>Scan QR code with home app to add openHAB as HomeKit bridge.</description>
		</parameter>
		<parameter name="port" type="integer" required="true" groupName="network">
			<label>Port</label>
			<description>Defines the port the HomeKit integration listens on.</description>
			<default>9123</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="instances" type="integer" required="true" groupName="core">
			<label>Instances</label>
			<description>Defines how many bridges to expose. Necessary if you have more than 149 accessories. Accessories must be
				assigned to additional instances via metadata. Additional bridges will use incrementing port numbers.</description>
			<default>1</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="pin" type="text" pattern="\d{3}-\d{2}-\d{3}" required="true" groupName="core">
			<label>Pin</label>
			<description>Defines the pin, used for pairing, in the form ###-##-###.</description>
			<default>031-45-154</default>
		</parameter>
		<parameter name="setupId" type="text" pattern="[0-9A-Z]{4}" required="false" groupName="core">
			<label>Setup ID</label>
			<description>Setup ID used for pairing using QR Code. Alphanumeric code of length 4.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="networkInterface" type="text" required="false" groupName="network">
			<label>Network Interface</label>
			<description>Defines the IP address of the network interface to expose the HomeKit integration on.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="useDummyAccessories" type="boolean" required="true" groupName="core">
			<label>Use Dummy Accessories</label>
			<description><![CDATA[Create dummy accessories when an item is missing. See <a href="https://www.openhab.org/addons/integrations/homekit/#dummy-accessories">the documentation</a> for more information.
			]]></description>
			<default>false</default>
		</parameter>
		<parameter name="useFahrenheitTemperature" type="boolean" required="true" groupName="thermostat">
			<label>Use Fahrenheit Temperature</label>
			<description>Defines whether or not to direct HomeKit clients to use fahrenheit temperatures instead of celsius.</description>
			<default>false</default>
		</parameter>
		<parameter name="useOHmDNS" type="boolean" required="false" groupName="network">
			<label>Use openHAB mDNS service</label>
			<description>Defines whether mDNS service of openHAB or a separate instance of mDNS should be used.</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="blockUserDeletion" type="boolean" required="false" groupName="core">
			<label>Block deletion of the HomeKit user</label>
			<description>Block deletion of the HomeKit user information from openHAB and the unpairing of devices.</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
