<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:rotel:serial">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (serial over IP)</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandip">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the Rotel device (IP connection) or the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (IP or serial over IP). For IP connection to the Rotel device, keep the default port 9590</description>
			<default>9590</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandip2">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the Rotel device (IP connection) or the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (IP or serial over IP). For IP connection to the Rotel device, keep the default port 9590</description>
			<default>9596</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandipandprotocol">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the Rotel device (IP connection) or the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (IP or serial over IP). For IP connection to the Rotel device, keep the default port 9590</description>
			<default>9590</default>
		</parameter>
		<parameter name="protocol" type="text" required="false">
			<label>Protocol Version</label>
			<description>Choose one of the two protocol versions (depends on your device firmware)</description>
			<limitToOptions>true</limitToOptions>
			<options>
				<option value="ASCII_V1">ASCII V1</option>
				<option value="ASCII_V2">ASCII V2</option>
			</options>
			<default>ASCII_V2</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandprotocol">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (serial over IP)</description>
		</parameter>
		<parameter name="protocol" type="text" required="false">
			<label>Protocol Version</label>
			<description>Choose one of the two protocol versions (depends on your device firmware)</description>
			<limitToOptions>true</limitToOptions>
			<options>
				<option value="ASCII_V1">ASCII V1</option>
				<option value="ASCII_V2">ASCII V2</option>
			</options>
			<default>ASCII_V2</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial2">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (serial over IP)</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>Input Label Video 1</label>
			<description>Label setup for the source Video 1</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>Input Label Video 2</label>
			<description>Label setup for the source Video 2</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>Input Label Video 3</label>
			<description>Label setup for the source Video 3</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>Input Label Video 4</label>
			<description>Label setup for the source Video 4</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>Input Label Video 5</label>
			<description>Label setup for the source Video 5</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial3">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (serial over IP)</description>
		</parameter>
		<parameter name="inputLabelCd" type="text" required="false">
			<label>Input Label CD</label>
			<description>Label setup for the source CD</description>
		</parameter>
		<parameter name="inputLabelTuner" type="text" required="false">
			<label>Input Label Tuner</label>
			<description>Label setup for the source Tuner</description>
		</parameter>
		<parameter name="inputLabelTape" type="text" required="false">
			<label>Input Label Tape</label>
			<description>Label setup for the source Tape</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>Input Label Video 1</label>
			<description>Label setup for the source Video 1</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>Input Label Video 2</label>
			<description>Label setup for the source Video 2</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>Input Label Video 3</label>
			<description>Label setup for the source Video 3</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>Input Label Video 4</label>
			<description>Label setup for the source Video 4</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>Input Label Video 5</label>
			<description>Label setup for the source Video 5</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial4">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (serial over IP)</description>
		</parameter>
		<parameter name="inputLabelCd" type="text" required="false">
			<label>Input Label CD</label>
			<description>Label setup for the source CD</description>
		</parameter>
		<parameter name="inputLabelTuner" type="text" required="false">
			<label>Input Label Tuner</label>
			<description>Label setup for the source Tuner</description>
		</parameter>
		<parameter name="inputLabelTape" type="text" required="false">
			<label>Input Label Tape</label>
			<description>Label setup for the source Tape</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>Input Label Video 1</label>
			<description>Label setup for the source Video 1</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>Input Label Video 2</label>
			<description>Label setup for the source Video 2</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>Input Label Video 3</label>
			<description>Label setup for the source Video 3</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>Input Label Video 4</label>
			<description>Label setup for the source Video 4</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>Input Label Video 5</label>
			<description>Label setup for the source Video 5</description>
		</parameter>
		<parameter name="inputLabelMulti" type="text" required="false">
			<label>Input Label Multi Input</label>
			<description>Label setup for the source Multi Input</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial5">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<label>Serial Port</label>
			<description>Serial port to use for connecting to the Rotel device</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>Address</label>
			<description>Host name or IP address of the machine connected to the Rotel device (serial over IP)</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>Port</label>
			<description>Communication port (serial over IP)</description>
		</parameter>
		<parameter name="inputLabelCd" type="text" required="false">
			<label>Input Label CD</label>
			<description>Label setup for the source CD</description>
		</parameter>
		<parameter name="inputLabelTuner" type="text" required="false">
			<label>Input Label Tuner</label>
			<description>Label setup for the source Tuner</description>
		</parameter>
		<parameter name="inputLabelUsb" type="text" required="false">
			<label>Input Label USB</label>
			<description>Label setup for the source USB</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>Input Label Video 1</label>
			<description>Label setup for the source Video 1</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>Input Label Video 2</label>
			<description>Label setup for the source Video 2</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>Input Label Video 3</label>
			<description>Label setup for the source Video 3</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>Input Label Video 4</label>
			<description>Label setup for the source Video 4</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>Input Label Video 5</label>
			<description>Label setup for the source Video 5</description>
		</parameter>
		<parameter name="inputLabelVideo6" type="text" required="false">
			<label>Input Label Video 6</label>
			<description>Label setup for the source Video 6</description>
		</parameter>
		<parameter name="inputLabelMulti" type="text" required="false">
			<label>Input Label Multi Input</label>
			<description>Label setup for the source Multi Input</description>
		</parameter>
	</config-description>
</config-description:config-descriptions>
