<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:sensibo:account">
		<parameter name="apiKey" type="text" required="true">
			<label>API Key</label>
			<description>Your Sensibo app API key</description>
		</parameter>

		<parameter name="refreshInterval" type="integer" min="30" unit="s">
			<label>Refresh Interval</label>
			<description>How often to fetch updates from Sensibo service (polling interval)</description>
			<default>120</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:sensibo:sensibosky">
		<parameter name="macAddress" type="text" required="true">
			<label>MAC Address</label>
			<description>With or without colons</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
