<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:rotel:serial">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.hostOverIp.label</label>
			<description>@text/config.hostOverIp.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.portOverIp.label</label>
			<description>@text/config.portOverIp.description</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandip">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.host.label</label>
			<description>@text/config.host.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.port.label</label>
			<description>@text/config.port.description</description>
			<default>9590</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandip2">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.host.label</label>
			<description>@text/config.host.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.port.label</label>
			<description>@text/config.port.description</description>
			<default>9596</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandipandprotocol">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.host.label</label>
			<description>@text/config.host.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.port.label</label>
			<description>@text/config.port.description</description>
			<default>9590</default>
		</parameter>
		<parameter name="protocol" type="text" required="false">
			<label>@text/config.protocol.label</label>
			<description>@text/config.protocol.description</description>
			<limitToOptions>true</limitToOptions>
			<options>
				<option value="ASCII_V1">@text/config.protocol.option.ASCII_V1</option>
				<option value="ASCII_V2">@text/config.protocol.option.ASCII_V2</option>
			</options>
			<default>ASCII_V2</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serialandprotocol">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.hostOverIp.label</label>
			<description>@text/config.hostOverIp.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.portOverIp.label</label>
			<description>@text/config.portOverIp.description</description>
		</parameter>
		<parameter name="protocol" type="text" required="false">
			<label>@text/config.protocol.label</label>
			<description>@text/config.protocol.description</description>
			<limitToOptions>true</limitToOptions>
			<options>
				<option value="ASCII_V1">@text/config.protocol.option.ASCII_V1</option>
				<option value="ASCII_V2">@text/config.protocol.option.ASCII_V2</option>
			</options>
			<default>ASCII_V2</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial2">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.hostOverIp.label</label>
			<description>@text/config.hostOverIp.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.portOverIp.label</label>
			<description>@text/config.portOverIp.description</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>@text/config.inputLabelVideo1.label</label>
			<description>@text/config.inputLabelVideo1.description</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>@text/config.inputLabelVideo2.label</label>
			<description>@text/config.inputLabelVideo2.description</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>@text/config.inputLabelVideo3.label</label>
			<description>@text/config.inputLabelVideo3.description</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>@text/config.inputLabelVideo4.label</label>
			<description>@text/config.inputLabelVideo4.description</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>@text/config.inputLabelVideo5.label</label>
			<description>@text/config.inputLabelVideo5.description</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial3">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.hostOverIp.label</label>
			<description>@text/config.hostOverIp.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.portOverIp.label</label>
			<description>@text/config.portOverIp.description</description>
		</parameter>
		<parameter name="inputLabelCd" type="text" required="false">
			<label>@text/config.inputLabelCd.label</label>
			<description>@text/config.inputLabelCd.description</description>
		</parameter>
		<parameter name="inputLabelTuner" type="text" required="false">
			<label>@text/config.inputLabelTuner.label</label>
			<description>@text/config.inputLabelTuner.description</description>
		</parameter>
		<parameter name="inputLabelTape" type="text" required="false">
			<label>@text/config.inputLabelTape.label</label>
			<description>@text/config.inputLabelTape.description</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>@text/config.inputLabelVideo1.label</label>
			<description>@text/config.inputLabelVideo1.description</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>@text/config.inputLabelVideo2.label</label>
			<description>@text/config.inputLabelVideo2.description</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>@text/config.inputLabelVideo3.label</label>
			<description>@text/config.inputLabelVideo3.description</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>@text/config.inputLabelVideo4.label</label>
			<description>@text/config.inputLabelVideo4.description</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>@text/config.inputLabelVideo5.label</label>
			<description>@text/config.inputLabelVideo5.description</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial4">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.hostOverIp.label</label>
			<description>@text/config.hostOverIp.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.portOverIp.label</label>
			<description>@text/config.portOverIp.description</description>
		</parameter>
		<parameter name="inputLabelCd" type="text" required="false">
			<label>@text/config.inputLabelCd.label</label>
			<description>@text/config.inputLabelCd.description</description>
		</parameter>
		<parameter name="inputLabelTuner" type="text" required="false">
			<label>@text/config.inputLabelTuner.label</label>
			<description>@text/config.inputLabelTuner.description</description>
		</parameter>
		<parameter name="inputLabelTape" type="text" required="false">
			<label>@text/config.inputLabelTape.label</label>
			<description>@text/config.inputLabelTape.description</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>@text/config.inputLabelVideo1.label</label>
			<description>@text/config.inputLabelVideo1.description</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>@text/config.inputLabelVideo2.label</label>
			<description>@text/config.inputLabelVideo2.description</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>@text/config.inputLabelVideo3.label</label>
			<description>@text/config.inputLabelVideo3.description</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>@text/config.inputLabelVideo4.label</label>
			<description>@text/config.inputLabelVideo4.description</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>@text/config.inputLabelVideo5.label</label>
			<description>@text/config.inputLabelVideo5.description</description>
		</parameter>
		<parameter name="inputLabelMulti" type="text" required="false">
			<label>@text/config.inputLabelMulti.label</label>
			<description>@text/config.inputLabelMulti.description</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:rotel:serial5">
		<parameter name="serialPort" type="text" required="false">
			<context>serial-port</context>
			<limitToOptions>false</limitToOptions>
			<label>@text/config.serialPort.label</label>
			<description>@text/config.serialPort.description</description>
		</parameter>
		<parameter name="host" type="text" required="false">
			<context>network-address</context>
			<label>@text/config.hostOverIp.label</label>
			<description>@text/config.hostOverIp.description</description>
		</parameter>
		<parameter name="port" type="integer" required="false">
			<label>@text/config.portOverIp.label</label>
			<description>@text/config.portOverIp.description</description>
		</parameter>
		<parameter name="inputLabelCd" type="text" required="false">
			<label>@text/config.inputLabelCd.label</label>
			<description>@text/config.inputLabelCd.description</description>
		</parameter>
		<parameter name="inputLabelTuner" type="text" required="false">
			<label>@text/config.inputLabelTuner.label</label>
			<description>@text/config.inputLabelTuner.description</description>
		</parameter>
		<parameter name="inputLabelUsb" type="text" required="false">
			<label>@text/config.inputLabelUsb.label</label>
			<description>@text/config.inputLabelUsb.description</description>
		</parameter>
		<parameter name="inputLabelVideo1" type="text" required="false">
			<label>@text/config.inputLabelVideo1.label</label>
			<description>@text/config.inputLabelVideo1.description</description>
		</parameter>
		<parameter name="inputLabelVideo2" type="text" required="false">
			<label>@text/config.inputLabelVideo2.label</label>
			<description>@text/config.inputLabelVideo2.description</description>
		</parameter>
		<parameter name="inputLabelVideo3" type="text" required="false">
			<label>@text/config.inputLabelVideo3.label</label>
			<description>@text/config.inputLabelVideo3.description</description>
		</parameter>
		<parameter name="inputLabelVideo4" type="text" required="false">
			<label>@text/config.inputLabelVideo4.label</label>
			<description>@text/config.inputLabelVideo4.description</description>
		</parameter>
		<parameter name="inputLabelVideo5" type="text" required="false">
			<label>@text/config.inputLabelVideo5.label</label>
			<description>@text/config.inputLabelVideo5.description</description>
		</parameter>
		<parameter name="inputLabelVideo6" type="text" required="false">
			<label>@text/config.inputLabelVideo6.label</label>
			<description>@text/config.inputLabelVideo6.description</description>
		</parameter>
		<parameter name="inputLabelMulti" type="text" required="false">
			<label>@text/config.inputLabelMulti.label</label>
			<description>@text/config.inputLabelMulti.description</description>
		</parameter>
	</config-description>

</config-description:config-descriptions>
