@font-face {
    font-family: 'vw_headline_otblack';
    src: url('../fonts/vwheadlineot-black-webfont-webfont.eot');
    src: url('../fonts/vwheadlineot-black-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vwheadlineot-black-webfont-webfont.woff2') format('woff2'),
    url('../fonts/vwheadlineot-black-webfont-webfont.woff') format('woff'),
    url('../fonts/vwheadlineot-black-webfont-webfont.ttf') format('truetype'),
    url('../fonts/vwheadlineot-black-webfont-webfont.svg#vw_headline_otblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vw_headline_otbook';
    src: url('../fonts/vwheadlineot-book-webfont-webfont.eot');
    src: url('../fonts/vwheadlineot-book-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vwheadlineot-book-webfont-webfont.woff2') format('woff2'),
    url('../fonts/vwheadlineot-book-webfont-webfont.woff') format('woff'),
    url('../fonts/vwheadlineot-book-webfont-webfont.ttf') format('truetype'),
    url('../fonts/vwheadlineot-book-webfont-webfont.svg#vw_headline_otbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'vw_headline_otbook', sans-serif;
    font-size: .875em;
    line-height: 1.65;
    color: #2b2c2e;
    font-weight: 400;
    background: #eaedf1;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

ol, ul {
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
}

.no-style-list li {
    margin: 0 0 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

strong {
    font-family: 'vw_headline_otblack', sans-serif;;
    font-weight: normal;
}

.no-margin {
    margin: 0 !important;
}

.group {
    margin: 0 0 30px;
}

.group * {
    margin: 0;
}

.container {
    max-width: 700px;
    padding: 0 50px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    line-height: 1.2;
    font-weight: normal
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .75em;
}

small {
    font-size: 70%;
}

a {
    color: #4fa7e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.white-link {
    color: #fff;
}

.underline {
    text-decoration: underline;
}

.underline:hover {
    text-decoration: none;
}

.visible-mobile {
    display: none !important;
}

*:visited,
*:focus,
*:active {
    outline: none !important;
}

p {
    margin: 0 0 30px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after,
header:before,
header:after,
.select-group:before,
.select-group:after,
.value-group:before,
.value-group:after {
    display: table;
    content: " ";
    clear: both;
}

.cols-margin .col1,
.cols-margin .col2,
.cols-margin .col3,
.cols-margin .col4,
.cols-margin .col5,
.cols-margin .col6,
.cols-margin .col7,
.cols-margin .col8,
.cols-margin .col9,
.cols-margin .col10,
.cols-margin .col11,
.cols-margin .col12 {
    margin-bottom: 30px;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
    float: left;
    padding: 0 15px;
}

.col1 {
    width: 8.333%;
}

.col2 {
    width: 16.666%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.333%;
}

.col5 {
    width: 41.666%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.333%;
}

.col8 {
    width: 66.663%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.333%;
}

.col11 {
    width: 91.663%;
}

.col12 {
    width: 100%;
}

.icon {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.i-lock {
    background-position: 0 0;
    width: 36px;
    height: 48px;
}

.i-notification {
    background-position: 0 -53px;
    width: 24px;
    height: 25px;
}

.i-logout {
    background-position: 0 -83px;
    width: 24px;
    height: 25px;
}

.i-room {
    background-position: center -318px;
    width: 100%;
    height: 38px;
}

.active .i-room {
    background-position: center -361px;
}

.i-energy-center {
    background-position: center -404px;
    width: 100%;
    height: 38px;
}

.active .i-energy-center {
    background-position: center -447px;
}

.i-access {
    background-position: center -490px;
    width: 100%;
    height: 38px;
}

.active .i-access {
    background-position: center -533px;
}

.i-cctv {
    background-position: center -576px;
    width: 100%;
    height: 38px;
}

.active .i-cctv {
    background-position: center -619px;
}

.i-cost-settings {
    background-position: center -662px;
    width: 100%;
    height: 38px;
}

.active .i-cost-settings {
    background-position: center -705px;
}

.i-alert {
    background-position: center -1041px;
    width: 100%;
    height: 38px;
}

.active .i-alert {
    background-position: center -1086px;
}

.i-cloudy {
    background-position: 0 -113px;
    width: 40px;
    height: 40px;
}

.i-rainy {
    background-position: 0 -158px;
    width: 40px;
    height: 40px;
}

.i-storm {
    background-position: 0 -203px;
    width: 40px;
    height: 40px;
}

.i-sunny {
    background-position: 0 -248px;
    width: 40px;
    height: 40px;
}

.i-door {
    background-position: 0 -973px;
    width: 45px;
    height: 63px;
    z-index: 2;
}

.control-box input:checked + .i-door {
    background-position: 0 -905px;
}

.i-light {
    background-position: 0 -743px;
    width: 42px;
    height: 44px;
    z-index: 2;
    margin: 10px 0;
}

.i-light-on {
    background-position: center -792px;
    width: 50px;
    height: 44px;
    z-index: 2;
}

.control-box input:checked + .i-light {
    background-position: 0 -792px;
}

.icon-appliance {
    display: inline-block;
    background-image: url(../img/sprite-appliances.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.icon-light-on-small {
    background-position: center 0;
}

.i-tv {
    background-position: center -42px;
}

.i-power {
    background-position: center -84px;
}

.i-cctv-small {
    background-position: center -126px;
}

.i-blinds {
    background-position: center -168px;
}

.i-fan {
    background-position: center -210px;
}

.i-door-small {
    background-position: center -252px;
}

.i-microwave {
    background-position: center -294px;
}

.i-sound-system {
    background-position: center -336px;
}

.i-sensor {
    background-position: center -378px;
}

.i-fridge {
    background-position: center -420px;
}

.icon-weather-large {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-image: url(../img/weather-sprite-large.png);
    background-repeat: no-repeat;
}

.icon-weather-large.i-sunny-large {
    background-position: 0 0;
}

.icon-weather-large.i-cloudy-large {
    background-position: 0 -85px;
}

.icon-weather-large.i-rainy-large {
    background-position: 0 -170px;
}

.icon-weather-large.i-storm-large {
    background-position: 0 -255px;
}

.icon-full-screen {
    background-position: 0 -1131px;
    width: 16px;
    height: 16px;
}

.power-status {
    width: 45px;
    height: 63px;
    text-align: center;
    z-index: 2;
    display: inline-block;
    position: relative;
    padding: 40px 0 0;
}

.power-status:before {
    content: 'OFF';
    color: #ccc;
}

.control-box input:checked + .power-status:before {
    content: 'ON';
    font-family: 'vw_headline_otblack', sans-serif;
    color: inherit;
}

.login-form {
    width: 460px;
    margin: 200px auto 0;
    background: #4fa7e2;
    border-radius: 3px;
    padding: 40px 100px;
}

.field,
.tinynav {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    border: none;
    padding: 12px 15px;
    margin: 0;
    font-family: 'vw_headline_otbook', sans-serif;;
    font-size: 1em;
}

.field:disabled {
    background: #f2f2f2;
}

::-webkit-input-placeholder {
    font-family: 'vw_headline_otbook', sans-serif;;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'vw_headline_otbook', sans-serif;;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'vw_headline_otbook', sans-serif;;
}

:-ms-input-placeholder {
    font-family: 'vw_headline_otbook', sans-serif;;
}

.form-group {
    margin: 0 0 20px;
}

.login-form .form-group {
    margin: 0 0 12px;
}

.btn {
    display: inline-block;
    line-height: 1;
    border: none;
    font-size: 1em;
    font-family: 'vw_headline_otblack', sans-serif;;
    text-transform: uppercase;
    color: #fff;
    background: #4087b6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 13px 15px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background: #3c7fab;
    text-decoration: none;
}

.btn-block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

header {
    background: #4a9dd4;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    padding: 0 400px 0 150px;
}

.nav-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 2.1em;
}

.logo-wrap {
    width: 150px;
    padding: 13px 0;
    background: #4694c8;
    border-left: 5px solid #3f85b4;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-wrap span {
    display: block;
    text-align: center;
    color: #fff;
    line-height: 1;
}

.logo-wrap span:first-child {
    text-transform: uppercase;
    font-size: 2.143em;
}

.search-bar {
    margin-top: 15px;
    position: relative;
}

.search-bar:before {
    content: '';
    background: url(../img/sprite.png) no-repeat 0 -293px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 17px;
}

.search-bar input {
    background: #6eb1dd;
    padding-left: 50px;
    color: #fff;
}

.mobile-search-bar {
    margin: 0;
}

.mobile-search-bar input {
    border-radius: 0;
    padding-left: 35px;
    background: #eee;
    color: #2b2c2e;
}

.mobile-search-bar:before {
    background: url(../img/sprite.png) no-repeat -27px -293px;
    width: 15px;
    height: 15px;
    top: 14px;
    left: 12px;
}

.user-area {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.user-area li {
    float: left;
    display: inline-block;
    border-left: 1px solid #4695c9;
    height: 70px;
}

.user-area .wrap {
    display: inline-block;
    height: 70px;
}

.user-area .wrap:hover {
    background: #4899ce;
}

.user-area .notifications,
.user-area .logout {
    width: 78px;
    text-align: center;
    padding: 22px 0 0;
}

.user-area .notifications {
    width: 79px;
    position: relative;
    cursor: pointer;
}

.user-area .notifications:hover:after {
    border-color: #4899ce transparent transparent transparent;
}

.user-area .notifications:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #4a9dd4 transparent transparent transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    z-index: 1;
    -webkit-transition: bottom .3s ease;
    -moz-transition: bottom .3s ease;
    -o-transition: bottom .3s ease;
    transition: bottom .3s ease;
}

.user-area .notifications-active {
    background: #4899ce;
}

.user-area .notifications-active:after {
    bottom: -10px;
    border-color: #4899ce transparent transparent transparent;
}

.user-area .notifications .unread {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #fff;
    background: #fe6a07;
    padding: 0 7px;
    border-radius: 100px;
    font-family: 'vw_headline_otblack', sans-serif;;
}

.notifications-popup {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    width: 400px;
    background: #4087b6;
    padding: 30px;
    max-height: 500px;
    overflow: auto;
    z-index: 9;
}

.notifications-popup *:last-child {
    margin: 0;
}

.notifications-popup .main-table {
    color: #fff;
}

.main-table {
    width: 100%;
    font-weight: normal;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    margin: 0 0 20px;
}

.main-table th,
.main-table td {
    padding: 0;
    vertical-align: top;
    text-align: left;
    font-weight: inherit;
    padding: 10px 0;
    line-height: 1.3;
}

.main-table th:last-child,
.main-table td:last-child {
    text-align: right;
}

.main-table th {
    font-family: 'vw_headline_otblack', sans-serif;;
}

.main-table tr {
    border-bottom: 1px solid #ddd;
}

.notifications-popup .main-table tr,
.notifications-popup .main-table {
    border-color: #5c99c1;
}

.checkbox-wrap {
    cursor: pointer;
    display: inline-block;
}

.checkbox-wrap input {
    display: none;
}

.checkbox-wrap .checkbox {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 3px;
    background: #fff;
    opacity: .5;
    position: relative;
    bottom: -3px;
}

.checkbox-wrap input:checked + .checkbox {
    background: #fff url(../img/sprite.png) no-repeat 3px -885px;
    opacity: 1;
}

.checkbox-wrap input:disabled + .checkbox {
    opacity: .5;
    cursor: not-allowed;
}

.radio-wrap {
    cursor: pointer;
    display: inline-block;
}

.radio-wrap input {
    display: none;
}

.radio-wrap .radio {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 30px;
    background: #fff;
    opacity: .5;
    position: relative;
    bottom: -3px;
}

.radio-wrap input:checked + .radio:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background: #333;
    display: inline-block;
}

.radio-wrap input:checked + .radio {
    opacity: 1;
}

.radio-wrap input:disabled + .radio {
    cursor: not-allowed;
    opacity: .5;
}

.user-area .user {
    width: 240px;
    padding: 22px 0 0 80px;
    position: relative;
    color: #fff;
    text-align: left;
    margin: 0;
}

.user {
    text-decoration: none;
    line-height: 1;
    text-align: center;
    display: block;
    color: #2b2c2e;
    margin: 20px 0;
}

.user:hover {
    text-decoration: none;
}

.user-area .user .photo-wrap {
    border-radius: 100px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 20px;
}

.user .photo-wrap {
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto 10px;
}

.user-area .user .welcome {
    opacity: .5;
    color: inherit;
}

.user .welcome {
    color: #a0a2ab;
    text-transform: uppercase;
    font-size: 0.786em;
    display: block;
}

.user .user-name {
    display: block;
    font-size: 1.286em;
}

.left-sidebar {
    overflow: auto;
    position: fixed;
    padding-top: 69px;
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    width: 150px;
    height: 100%;
    border-left: 5px solid #4fa7e2;
}

.nav {
    text-align: center;
}

.nav li:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.nav li {
    border-top: 1px solid #e5e5e5;
}

.nav li a {
    text-transform: uppercase;
    color: #a0a2ab;
    font-family: 'vw_headline_otblack', sans-serif;;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1;
    padding: 20px 10px;
    display: block;
}

.nav li a:hover {
    color: #4fa7e2;
}

.nav .active a {
    background: #4fa7e2;
    color: #fff;
}

.nav .active a:hover {
    color: #fff;
}

.nav .active {
    border-top: 1px solid #4fa7e2;
}

.nav .active + li {
    border-top-color: #4fa7e2;
}

.nav .active:last-child {
    border-bottom-color: #4fa7e2;
}

.nav li a .icon {
    margin-bottom: 5px;
}

.right-sidebar {
    overflow: auto;
    padding: 100px 30px 30px;
    background: #4fa7e2;
    width: 400px;
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0;
    right: 0;
    color: #fff;
}

.horizontal-divider {
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

.green {
    color: #75e100;
}

.orange {
    color: #f1d700;
}

.red {
    color: #ff0000;
}

.blue {
    color: #4fa7e2;
}

.right-sidebar .main-table tr,
.right-sidebar .main-table {
    border-color: #8cc6ec;
}

.right-sidebar .muted {
    color: #a6d3f0;
}

.weather-widget {
    overflow: hidden;
    margin: 0;
}

.weather-widget h3 {
    margin: 0;
}

.weather-widget li {
    float: left;
    width: 20%;
}

.weather-widget li:first-child {
    width: 100%;
    float: none;
    position: relative;
    padding-right: 90px;
    margin-bottom: 20px;
    max-width: 400px;
}

.weather-widget li:first-child .icon-weather-large {
    position: absolute;
    top: 0;
    right: 0;
}

.weather-widget li p {
    line-height: 1;
    margin-bottom: 10px;
}

.page-content {
    padding: 140px 400px 50px 150px;
}

.control-box {
    cursor: pointer;
    background: #fff;
    display: block;
    padding: 30px 0 60px;
    position: relative;
    text-align: center;
    height: 160px;
    border-radius: 3px;
}

.control-box input {
    display: none;
}

.control-box input:checked ~ .control-name {
    background: #fff3b3;
}

.control-box .control-name {
    display: block;
    position: absolute;
    padding: 110px 20px 0;
    bottom: 0;
    left: 0;
    height: 100%;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    font-size: 1.2em;
    line-height: 1;
    font-family: 'vw_headline_otblack', sans-serif;;
}

.master-switch {
    position: relative;
    padding: 0 60px;
    display: block;
    cursor: pointer;
    margin: 0 0 30px;
}

.master-switch input {
    display: none;
}

.master-switch .left,
.master-switch .right {
    position: absolute;
    top: 0;
    font-family: 'vw_headline_otblack', sans-serif;;
    text-transform: uppercase;
    font-size: 1.7em;
    line-height: 1.3;
}

.master-switch .left {
    left: 0;
}

.master-switch .right {
    right: 0;
}

.master-switch .switch {
    display: block;
    height: 30px;
    position: relative;
    border-radius: 100px;
    background: #cb2c2c;
    -webkit-transition: background ease .3s;
    -moz-transition: background ease .3s;
    transition: background ease .3s;
}

.master-switch .switch:before {
    content: '';
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 100px;
    border: 1px solid #d1d3d2;
    position: absolute;
    top: -6px;
    left: 100%;
    margin-left: -35px;
    z-index: 2;
    -webkit-transition: left ease .3s, margin-left ease .3s;
    -moz-transition: left ease .3s, margin-left ease .3s;
    transition: left ease .3s, margin-left ease .3s;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .13);
}

.master-switch input:checked + .switch {
    background: #7fcb2c;
}

.master-switch input:checked + .switch:before {
    left: -6px;
    margin-left: 0;
}

.switch-small {
    padding: 0;
}

.switch-small .switch {
    height: 20px;
}

.switch-small .switch:before {
    height: 28px;
    width: 28px;
    margin-left: -25px;
}

.switch-small input:checked + .switch:before {
    margin-left: 0;
}

.panel {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}

.panel * {
    margin: 0;
}

.canvas-wrap {
    margin: 0 0 30px;
}

.single-rate {
    position: relative;
    display: block;
}

.single-rate span {
    position: absolute;
    top: 9px;
    left: 15px;
    color: #999;
}

.single-rate .field {
    padding-left: 60px;
}

.days-wrap {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

/*.days-wrap:after {
	content:'';
	position:absolute;
	z-index:-1;
	width:100%;
	height:2px;
	background:#fff;
	opacity:.2;
	top:35px;
	left:0;
	}*/

.days-wrap .day {
    float: left;
    width: 14.28%;
}

.select-group,
.value-group {
    margin-bottom: 20px;
}

.select-group select {
    width: 33.33%;
    float: left;
    padding-left: 10px;
    padding-right: 0;
    border-left: 1px solid #eee;
    border-radius: 0;
}

.select-group select:first-child {
    border-left: none;
    border-radius: 3px 0 0 3px;
}

.select-group select:last-child {
    border-radius: 0 3px 3px 0;
}

.value-group .value {
    width: 50%;
    float: left;
}

.value-group .value:first-child input {
    border-radius: 3px 0 0 3px;
}

.value-group .value:last-child input {
    border-radius: 0 3px 3px 0;
}

.timeframe {
    position: relative;
}

.timeframe .delete {
    text-decoration: none;
}

.timeframe .delete:before {
    content: '\2715  Delete this timeframe';
    display: none;
}

.timeframe .delete:after {
    content: '\2715';
    color: #999;
    position: absolute;
    bottom: 20px;
    right: -15px;
    padding: 10px;
}

.timeframe span {
    display: block;
}

.text-overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider-container {
    position: relative;
    padding-bottom: 25px;
}

.slider-container .slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.tinynav {
    display: none;
    margin: 0 0 30px;
}

.large-margin {
    margin: 30px 0 60px;
}

.small-margin {
    margin: 0 0 10px;
}

.line-list li {
    border-bottom: 1px solid #dfe2e6;
    padding: 15px 0;
    display: list-item !important;
}

#side-nav a {
    display: block;
    opacity: .5;
    font-size: 1.2em;
}

#side-nav .selected a {
    opacity: 1;
}

#side-nav li {
    padding-right: 15px;
    position: relative;
}

#side-nav .selected:after {
    content: '\203A';
    font-size: 2em;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0;
    color: #ccc;
    line-height: 1;
}

.up-case {
    text-transform: uppercase;
}

.radio-block-wrap {
    padding: 0 75px 0 50px;
    margin: 10px 0;
    position: relative;
}

.radio-block-wrap .icon-appliance {
    position: absolute;
    top: 0;
    left: 0;
}

.radio-block-wrap .switch-small {
    width: 60px;
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0;
}

.line-list .slider {
    margin: 30px 0 15px;
}

.muted {
    color: #bbb;
}

.cancel {
    margin-top: 8px;
    display: inline-block;
}

label {
    display: block;
}

.tabs label {
    display: block;
}

.full-screen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    opacity: .3;
}

.full-screen-btn:hover {
    opacity: 1;
}

.full-screen {
    margin: 30px;
    max-width: none;
    overflow: visible;
}

.full-screen .mfp-close {
    height: 30px;
    width: 30px;
    line-height: 30px;
    top: -30px;
    right: -30px;
}

@media (min-width: 768px) {
    .nav-btn {
        display: none;
    }

    .nav {
        display: block !important;
    }
}

@media (max-width: 1200px) {

    .container {
        padding: 0 30px;
        max-width: none;
    }

    header .container {
        padding: 0 30px;
    }

    .right-sidebar {
        position: static;
        width: 100%;
        padding: 30px 30px 50px 180px;
        background: #4da3dc;
    }

    .page-content {
        padding: 120px 0 50px 150px;
    }

    .timeframe {
        padding-right: 30px;
    }

    .timeframe .delete:after {
        right: 5px;
    }
}

@media (max-width: 767px) {
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12 {
        width: 100%;
        float: none;
    }

    .fixed-row .col1 {
        width: 8.333%;
    }

    .fixed-row .col2 {
        width: 16.666%;
    }

    .fixed-row .col3 {
        width: 25%;
    }

    .fixed-row .col4 {
        width: 33.333%;
    }

    .fixed-row .col5 {
        width: 41.666%;
    }

    .fixed-row .col6 {
        width: 50%;
    }

    .fixed-row .col7 {
        width: 58.333%;
    }

    .fixed-row .col8 {
        width: 66.663%;
    }

    .fixed-row .col9 {
        width: 75%;
    }

    .fixed-row .col10 {
        width: 83.333%;
    }

    .fixed-row .col11 {
        width: 91.663%;
    }

    .fixed-row .col12 {
        width: 100%;
    }

    .fixed-row .col1,
    .fixed-row .col2,
    .fixed-row .col3,
    .fixed-row .col4,
    .fixed-row .col5,
    .fixed-row .col6,
    .fixed-row .col7,
    .fixed-row .col8,
    .fixed-row .col9,
    .fixed-row .col10,
    .fixed-row .col11,
    .fixed-row .col12 {
        float: left;
    }

    .container {
        padding: 0 20px;
    }

    .login-form {
        width: auto;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 80px 20px;
        border-radius: 0px;
        overflow: auto;
    }

    .visible-mobile {
        display: inherit !important;
    }

    .hidden-mobile {
        display: none !important;
    }

    .mobile-center {
        text-align: center;
    }

    header {
        padding: 0;
    }

    header,
    .logo-wrap,
    .user-area .wrap,
    .user-area li {
        height: 50px;
    }

    .user-area .notifications, .user-area .logout {
        padding: 13px 0 0;
        width: 50px;
    }

    .i-notification,
    .i-logout {
        -moz-transform: scale(.6);
        -webkit-transform: scale(.6);
        -o-transform: scale(.6);
        -ms-transform: scale(.6);
        transform: scale(.6);
    }

    .user-area .notifications .unread {
        top: 5px;
        right: 5px;
        font-size: .875em;
    }

    .logo-wrap {
        background: none;
        border: none;
        padding: 7px 0;
        font-size: .8em;
        left: 50%;
        width: 100px;
        margin-left: -50px;
    }

    .left-sidebar {
        padding-top: 50px;
        width: 70%;
        left: -100%;
        z-index: 10;
        transition: left .3s ease;
        -webkit-transition: left .3s ease;
        -moz-transition: left .3s ease;
    }

    .left-sidebar-active {
        left: 0;
    }

    .right-sidebar {
        padding: 30px 20px;
    }

    .page-content {
        padding: 80px 0 30px;
    }

    .blackout {
        overflow: hidden;
    }

    body:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        -webkit-transition: opacity .1s ease;
        -moz-transition: opacity .1s ease;
        transition: opacity .1s ease;
        opacity: 0;
        z-index: -1;
    }

    .blackout:after {
        z-index: 7;
        left: 0;
        opacity: .6;
    }

    .notifications-popup {
        width: 100%;
        height: 100%;
        max-height: none;
        top: 0;
        padding-top: 80px;
    }

    .two-cols-mobile {
        margin: 0 -10px 20px;
    }

    .two-cols-mobile .col4 {
        width: 50%;
        float: left;
        padding: 0 10px;
    }

    .cols-margin .col1,
    .cols-margin .col2,
    .cols-margin .col3,
    .cols-margin .col4,
    .cols-margin .col5,
    .cols-margin .col6,
    .cols-margin .col7,
    .cols-margin .col8,
    .cols-margin .col9,
    .cols-margin .col10,
    .cols-margin .col11,
    .cols-margin .col12 {
        margin-bottom: 20px;
    }

    .nav {
        margin: 0 0 70px;
    }

    .nav li a {
        padding-left: 50px;
        text-align: left;
        position: relative;
        font-size: 1em;
    }

    .nav li a i {
        -moz-transform: scale(.6);
        -webkit-transform: scale(.6);
        -o-transform: scale(.6);
        -ms-transform: scale(.6);
        transform: scale(.6);
        position: absolute;
        top: 8px;
        left: 0;
        width: 50px;
    }

    .timeframe {
        margin-bottom: 60px;
        padding-right: 0;
    }

    .timeframe .delete:before {
        display: inline-block;
        text-decoration: underline;
    }

    .timeframe .delete:after {
        display: none;
    }

    .timeframe .col4:first-child,
    .timeframe .col4:first-child + .col4 {
        width: 50%;
        float: left;
    }

    .select-group {
        font-size: .875em;
    }

    .tinynav {
        display: block;
    }

    #side-nav {
        display: none;
    }

}
