/**
 * Application Views
 */

/* Control */

section#main.control {
	margin-top: 48px;
	padding-top: 20px;
}

.items {
	min-height: 350px;
}

.items .item {
	padding: 20px;
}


.items .item h3 {
	margin: 5px 0px;
}

.items .item md-radio-button {
	display: inline;
}

.items .item md-slider {
	width: 100%;
}

.items .item h1.state {
	margin: 5px 0px;
}

.items .item h1.state:last-child {
	
}

.items .item p {
	margin: 0px;
	text-align: left;	
	white-space: nowrap;
	/*
	overflow: hidden;
	text-overflow: ellipsis;*/
	line-height: 38px;
}

.dimmer-widget md-slider {
	margin: 0px 10px;
}

.dimmer-widget .md-button.active {
	color: #01324D;
}

.number-control-widget {
	/* background: #EEE;	
	box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.26); */
	padding: 5px;
	border-radius: 2px;
	margin-top: 10px;	
}

.number-control-widget md-slider {
	margin: 0px;
}

.items .item .icontrol > div > div {
	height: 40px;
}

.items .item hr {
	margin: 10px 0px;
}

.items .item p[class^="icon-"]:before, .items .item p[class*=" icon-"]:before,
.items .item p[class^="md-icon-"]:before, .items .item p[class*=" md-icon-"]:before,
.items .item p[class^="home-icon-"]:before, .items .item p[class*=" home-icon-"]:before {
	margin-right: 10px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background-color: #4CAF50;
	color: white;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	padding: 10px;
}

.items .item md-input-container input {
	text-align: right;
}



/* Inbox */

.scan .fab-item md-progress-circular {
	position: absolute;
	left: 0px;
	right: 0px;
}

.thing-type-choose {
	margin-top: -20px;
}

.thing-type-choose .bindings {
	border-right: 1px solid #e0e0e0;
	box-shadow: 4px 0px 4px -3px rgba(0, 0, 0, 0.15);
	z-index: 1;
	padding-top: 10px;
}

.thing-type-choose .binding {
	padding: 5px 10px;
	cursor: pointer;
}

.thing-type-choose .binding.active {
	background-color: #e0e0e0;
}


.thing-type-choose .thing-types {
	padding-left: 10px;
	padding-top: 10px;
}

.thing-type-choose .thing-types .thing-type {
	
}

.thing-type-choose .thing-type.ng-enter, 
.thing-type-choose .thing-type.ng-leave
{ 
	-webkit-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.thing-type-choose .thing-type.ng-leave.ng-leave-active,
.thing-type-choose .thing-type.ng-enter {
 	-webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 0px;
    opacity: 0;
}
 
.thing-type-choose .thing-type.ng-enter.ng-enter-active, 
.thing-type-choose .thing-type.ng-leave {
	-webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}

.thing-configure .parameter {
	
}

/* Home Groups */

.homeGroup.fab-item h3 {
	line-height: 55px;
}