<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:samsungtv:tv">
		<parameter-group name="Cloud Connection">
			<label>Smartthings Connection</label>
			<description>
				This enables the Input Source and Channel Number channels on TV's that don't support this locally, by
				connecting wth the Smartthings cloud API. Only available with WebSocket and SecureWebSocket Protocols.
			</description>
			<advanced>true</advanced>
		</parameter-group>
		<parameter name="hostName" type="text" required="true">
			<label>Host Name</label>
			<description>Network address of the Samsung TV.</description>
			<context>network-address</context>
		</parameter>
		<parameter name="port" type="integer" min="1" max="65535">
			<label>TCP Port</label>
			<description>TCP port of the Samsung TV (legacy: 1515, 7001, 15500, 55000 websockets: 8001, 8002).</description>
			<default>55000</default>
		</parameter>
		<parameter name="macAddress" type="text">
			<label>MAC Address</label>
			<description>MAC Address of the Samsung TV.</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" unit="ms">
			<label>Refresh Interval</label>
			<description>States how often a refresh shall occur in milliseconds.
			</description>
			<default>1000</default>
		</parameter>
		<parameter name="protocol" type="text" required="true">
			<label>Remote Control Protocol</label>
			<description>The type of remote control protocol. This depends on the age of the TV.</description>
			<options>
				<option value="None">None</option>
				<option value="Legacy">Legacy (Before 2014)</option>
				<option value="WebSocket">Websocket (2016 and later TV's)</option>
				<option value="SecureWebSocket">Secure websocket (2016 and later TV's)</option>
			</options>
			<default>None</default>
		</parameter>
		<parameter name="webSocketToken" type="text" readOnly="true">
			<label>Websocket Token</label>
			<description>Security token for secure websocket connection</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="subscription" type="boolean">
			<label>Subscribe to UPNP</label>
			<description>Reduces polling on UPNP devices, but may be unreliable, disable if you have problems</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="smartThingsApiKey" type="text" groupName="Cloud Connection">
			<label>Smartthings PAT</label>
			<description>Go to https://account.smartthings.com/tokens and obtain a Personal Access Token, enter it here.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="smartThingsDeviceId" type="text" groupName="Cloud Connection">
			<label>Smartthings Device ID</label>
			<description>Once your PAT is entered and saved, look in the log for the Device ID for this TV, enter it here.</description>
			<advanced>true</advanced>
		</parameter>
	</config-description>

</config-description:config-descriptions>
