node_modules
package-lock.json
package.json
logs
docs
mkdocs.yml
/.venv-docs/
/.apt_generated/
/.apt_generated_tests/
# Temporary (wip)
.vscode
.directory
.github
.copilot
.editorconfig
project-type.txt
