<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<!-- Configuration for the BloomSky Binding -->
	<config-description uri="bridge-type:bloomsky:bridge-api">
		<parameter name="apikey" type="text" required="true">
			<context>password</context>
			<label>API Key</label>
			<description>API key to access the BloomSky Account.</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" min="5" unit="min">
			<label>Refresh Interval</label>
			<description>Specifies the refresh interval (in minutes).</description>
			<default>5</default>
		</parameter>
		<parameter name="units" type="text">
			<label>Measurement Display Units</label>
			<description>Specifies the units Imperial or Metric to use for displaying sensor readings.</description>
			<options>
				<option value="Imperial">Imperial Sensor Results (US)</option>
				<option value="Metric">Metric Sensor Results (Most of World)</option>
			</options>
			<default>Imperial</default>
		</parameter>

	</config-description>
</config-description:config-descriptions>
