<div class="container">

  <h2>All the doors in my house</h2>

  <ul class="line-list">
    <li ng-repeat="door in ctrl.doors">
      <div class="radio-block-wrap">
        <i class="fa fa-3x fa-sign-in"></i>
        <h4 class="up-case no-margin">{{door.name}}<br>
          <small>{{door.state}}</small>
        </h4>
        <label class="master-switch switch-small">
          <input type="checkbox" ng-model="door.state" ng-true-value="'open'" ng-false-value="'closed'">
          <span class="switch"></span>
        </label>
      </div>
    </li>
  </ul>

  <div class="row">
    <div class="col4">
      <h3 class="mobile-center">Open all</h3>
    </div>
    <div class="col8">
      <label class="master-switch">
        <span class="left">On</span>
        <span class="right">Off</span>
        <input type="checkbox" ng-model="ctrl.allOpen">
        <span class="switch"></span>
      </label>
    </div>
  </div>
  <!--row-->
</div>