<div class="container">

  <h2>Alarm</h2>

  <p>Enter a password to activate / deactivate the alarm. <a href="#"><strong>Forgot password?</strong></a></p>

  <form>

    <p><input type="password" class="field"></p>

    <div class="row fixed-row cols-margin">
      <div class="col4">
        <button class="btn btn-white btn-block">1</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">2</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">3</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">4</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">5</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">6</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">7</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">8</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">9</button>
      </div>
      <div class="col4">
        <button type="reset" class="btn btn-white btn-block">Reset</button>
      </div>
      <div class="col4">
        <button class="btn btn-white btn-block">0</button>
      </div>
      <div class="col4">
        <button type="submit" class="btn btn-block">Activate</button>
      </div>
    </div>
    <!--row-->

  </form>

</div>