    	<div class="container">
        	<h2>Alerts</h2>
            <table class="main-table">
            	<tr>
                	<td>1</td>
                    <td><a class="popup-with-move-anim" href="#dialog"><strong>Cost alert</strong></a></td>
                    <td><a class="popup-with-move-anim" href="#dialog">edit</a> <a class="popup-with-move-anim" href="#confirmation">delete</a></td>
                </tr>
                <tr>
                	<td>2</td>
                    <td><a class="popup-with-move-anim" href="#dialog"><strong>Usage alert</strong></a></td>
                    <td><a class="popup-with-move-anim" href="#dialog">edit</a> <a class="popup-with-move-anim" href="#confirmation">delete</a></td>
                </tr>
            </table>

            <a class="popup-with-move-anim underline" href="#dialog"><strong>+ Add new alert</strong></a>

			<div id="dialog" class="zoom-anim-dialog mfp-hide dialog dialog-small">
				<div class="dialog-header">
                	<h3>Alert</h3>
                 </div><!--popup-header-->
                 <div class="dialog-content">
                 	<p class="small-margin"><strong>Lorem ipsum dolar sit?</strong></p>
                    <ul class="no-style-list">
                    	<li>
                    		<label class="radio-wrap">
                                <input type="radio" name="alert-type" checked>
                                <span class="radio"></span>
                                Cost
                            </label>
                        </li>
                        <li>
                    		<label class="radio-wrap">
                                <input type="radio" name="alert-type">
                                <span class="radio"></span>
                                Usage
                            </label>
                        </li>
                    </ul>

                    <p class="small-margin"><strong>Lorem ipsum dolar sit?</strong></p>
                    <ul class="no-style-list">
                    	<li><label class="checkbox-wrap"><input type="checkbox"><span class="checkbox"></span> <strong>All rooms</strong></label></li>
                        <li><label class="checkbox-wrap"><input type="checkbox"><span class="checkbox"></span> Room 1</label></li>
                        <li><label class="checkbox-wrap"><input type="checkbox"><span class="checkbox"></span> Living room</label></li>
                        <li><label class="checkbox-wrap"><input type="checkbox"><span class="checkbox"></span> Dining room</label></li>
                        <li><label class="checkbox-wrap"><input type="checkbox"><span class="checkbox"></span> Kitchen</label></li>
                    </ul>

                    <label class="group">
                    	<p><strong>Warn me</strong></p>
                        <input type="text" class="field">
                    </label>

                    <p class="small-margin"><strong>Time frame</strong></p>
                    <ul class="no-style-list">
                    	<li>
                    		<label class="radio-wrap">
                                <input type="radio" name="time-frame" checked>
                                <span class="radio"></span>
                                Daily
                            </label>
                        </li>
                        <li>
                    		<label class="radio-wrap">
                                <input type="radio" name="time-frame">
                                <span class="radio"></span>
                                Weekly
                            </label>
                        </li>
                        <li>
                    		<label class="radio-wrap">
                                <input type="radio" name="time-frame">
                                <span class="radio"></span>
                                Monthly
                            </label>
                        </li>
                        <li>
                    		<label class="radio-wrap">
                                <input type="radio" name="time-frame">
                                <span class="radio"></span>
                                Billing cycle
                            </label>
                        </li>
                    </ul>

                 </div><!--popup-content-->
                 <div class="dialog-footer">
                 	<div class="row fixed-row">
                    	<div class="col6">
                        	<a class="popup-modal-dismiss cancel" href="#"><strong>CANCEL</strong></a>
                        </div>
                        <div class="col6 text-right">
                        	<a class="popup-modal-dismiss btn" href="#">Save</a>
                        </div>
                    </div><!--row-->
                 </div><!--dialog-footer-->
			</div><!--dialog-->

            <div id="confirmation" class="zoom-anim-dialog mfp-hide dialog dialog-small">
                 <div class="dialog-header">
                 	<h3>Delete alert?</h3>
                 </div><!--popup-header-->
                 <div class="dialog-content">
                 	Are you sure you want to delete Alert?
                 </div><!--popup-content-->
                 <div class="dialog-footer">
                 	<div class="row fixed-row">
                    	<div class="col6">
                        	<a class="popup-modal-dismiss cancel" href="#"><strong>CANCEL</strong></a>
                        </div>
                        <div class="col6 text-right">
                        	<a class="popup-modal-dismiss btn" href="#">Yes</a>
                        </div>
                    </div><!--row-->
                 </div><!--dialog-footer-->
			</div><!--confirmation-->
        <script>

          //popup
          $('.popup-with-move-anim').magnificPopup({
            type: 'inline',
            fixedContentPos:true,
            fixedBgPos: false,
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
          });
          $(document).on('click', '.popup-modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
          });

        </script>
        </div><!--container-->