<section id="main" class="control">
	<md-tabs md-stretch-tabs="always" class="section-tabs"
		md-selected="selectedTabIndex"> <md-tab
		ng-repeat="tab in tabs" label="{{tab.label}}" /></md-tabs>
	<div class="container">
		<div ng-controller="ControlController" class="items row"
			md-swipe-left="next()" md-swipe-right="prev()">
			<div class="col-lg-4 col-sm-6 col-xs-12 item-wrapper"
				ng-repeat="groupMemberItem in getItem(tabs[selectedTabIndex].name).members">
				<div class="card item {{groupMemberItem.type}}"
					data-item-name="{{groupMemberItem.name}}">
					<div class="ibadge">
						<span class="icon-x">
					</div>
					<div class="clabel" ng-if="groupMemberItem.type === 'GroupItem'">
						<h3>{{groupMemberItem.label}}</h3>
					</div>
					<div class="" ng-repeat="item in groupMemberItem.members"
						ng-if="groupMemberItem.type === 'GroupItem'">
						<div ng-include="'partials/include.itemcontrol.html'"></div>
						<hr ng-if="!$last" />
					</div>
					<div ng-init="item = groupMemberItem"
						ng-if="groupMemberItem.type !== 'GroupItem'">
						<div ng-include="'partials/include.itemcontrol.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>