<div class="container">

  <h2>Settings</h2>

  <nav>
    <ul class="cd-tabs-navigation">
      <li><a class="selected" href="#!/discover">Discover</a></li>
      <li><a href="#!/manual-setup">Manual setup</a></li>
      <li><a href="#!/groups">Groups</a></li>
    </ul>
  </nav>

  <div class="group">
    <h2>List of items found</h2>

    <p>Press to scan</p>
  </div>

  <div class="ui accordion">

    <div class="title">
      Max
    </div>
    <!--title-->
    <div class="content">
      <p class="no-margin"><strong>IP: 192.01.01.01</strong></p>

      <div class="row cols-margin">
        <div class="col4">
          Nickname
          <input type="text" class="field" value="Device">
        </div>
        <div class="col4">
          Group
          <select class="field">
            <option>Living room</option>
            <option>TV room</option>
            <option>Main room</option>
          </select>
        </div>
        <div class="col4">
          <br>
          <input type="submit" value="Save" class="btn btn-block">
        </div>
      </div>
      <!--row-->
    </div>
    <!--content-->

    <div class="title">
      Wheather
    </div>
    <!--title-->
    <div class="content">
      <p class="no-margin"><strong>IP: 192.01.01.01</strong></p>

      <div class="row cols-margin">
        <div class="col4">
          Nickname
          <input type="text" class="field" value="Device">
        </div>
        <div class="col4">
          Group
          <select class="field">
            <option>Living room</option>
            <option>TV room</option>
            <option>Main room</option>
          </select>
        </div>
        <div class="col4">
          <br>
          <input type="submit" value="Save" class="btn btn-block">
        </div>
      </div>
      <!--row-->
    </div>
    <!--content-->

    <div class="title">
      HUE
    </div>
    <!--title-->
    <div class="content">
      <p class="no-margin"><strong>IP: 192.01.01.01</strong></p>

      <div class="row cols-margin">
        <div class="col4">
          Nickname
          <input type="text" class="field" value="Device">
        </div>
        <div class="col4">
          Group
          <select class="field">
            <option>Living room</option>
            <option>TV room</option>
            <option>Main room</option>
          </select>
        </div>
        <div class="col4">
          <br>
          <input type="submit" value="Save" class="btn btn-block">
        </div>
      </div>
      <!--row-->
    </div>
    <!--content-->

    <div class="title">
      Sonos
    </div>
    <!--title-->
    <div class="content">
      <p class="no-margin"><strong>IP: 192.01.01.01</strong></p>

      <div class="row cols-margin">
        <div class="col4">
          Nickname
          <input type="text" class="field" value="Device">
        </div>
        <div class="col4">
          Group
          <select class="field">
            <option>Living room</option>
            <option>TV room</option>
            <option>Main room</option>
          </select>
        </div>
        <div class="col4">
          <br>
          <input type="submit" value="Save" class="btn btn-block">
        </div>
      </div>
      <!--row-->

    </div>
    <!--container-->
  </div>

  <script>

    //accordion
    $('.ui.accordion').accordion();

  </script>

</div>