<div>
  <span class="nav-btn" ng-click="toggleSidebar()">&equiv;</span>

  <div class="logo-wrap">
    <span><strong>Zoo</strong></span>
    <span>automation</span>
  </div>
  <div class="container">
    <form class="search-bar hidden-mobile">
      <input type="text" class="field">
    </form>
  </div>
  <ul class="user-area">
    <li>
        <span class="notifications wrap">
            <i class="icon i-notification"></i>
              <span class="unread">8</span>
        </span>
    </li>
    <li class="hidden-mobile">
      <a href="#!/profile" class="user wrap">
        <div class="photo-wrap">
          <img src="img/user.jpg" alt="Mr. Johnson">
        </div>
        <span class="welcome">Welcome back</span>
        <strong class="user-name">{{user.name}}</strong>
      </a>
    </li>
    <li>
      <a href="login.html" class="wrap logout">
        <i class="icon i-logout"></i>
      </a>
    </li>
  </ul>
</div>
