<div class="container">
	<h3>{{thingType.label}}</h3>
	<p>{{thingType.description}}</p>

	<div class="form-group parameter">
		<md-text-float label="Thing Name" ng-model="thing.item.label"
			class="long"></md-text-float>
	</div>
	<div class="form-group parameter">
		<md-text-float
			ng-click="openGroupSelectionDialog(thing.item.groupNames, $event)"
			label="Groups" ng-model="groups" class="long"></md-text-float>
	</div>
</div>

<hr />
<div class="container">
	<h3>Configuration Parameters</h3>
	<p>Configure parameters for the thing.</p>
	<div class="form-group parameter"
		ng-repeat="parameter in thingType.configParameters">
		<md-text-float label="{{parameter.label}}"
			ng-model="thing.configuration[parameter.name]"> </md-text-float>
		<p class="hint">
			<small>{{parameter.description}}</small>
		</p>
	</div>
</div>