<aside class="right-sidebar">
  <div class="group horizontal-divider">
    <h3>Today’s usage of all devices is:</h3>
    <h1><strong>156,231 kW</strong></h1>
  </div>
  <h2><strong>Usage</strong></h2>
  <table class="main-table">
    <thead>
    <tr>
      <th></th>
      <th>Today</th>
      <th>Weekly</th>
      <th>Monthly</th>
      <th>Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>ROOM 1</th>
      <td><span class="green">23 kW</span></td>
      <td><span class="orange">150 kW</span></td>
      <td><span class="red">580 kW</span></td>
      <td>$2,000</td>
    </tr>
    <tr>
      <th>ROOM 2</th>
      <td><span class="green">23 kW</span></td>
      <td><span class="orange">150 kW</span></td>
      <td><span class="red">580 kW</span></td>
      <td>$2,000</td>
    </tr>
    <tr>
      <th>ROOM 3</th>
      <td><span class="green">23 kW</span></td>
      <td><span class="orange">150 kW</span></td>
      <td><span class="red">580 kW</span></td>
      <td>$2,000</td>
    </tr>
    <tr>
      <th>LIVING<br>ROOM</th>
      <td><span class="green">23 kW</span></td>
      <td><span class="orange">150 kW</span></td>
      <td><span class="red">580 kW</span></td>
      <td>$2,000</td>
    </tr>
    <tr>
      <th>RINING<br>ROOM</th>
      <td><span class="green">23 kW</span></td>
      <td><span class="orange">150 kW</span></td>
      <td><span class="red">580 kW</span></td>
      <td>$2,000</td>
    </tr>
    <tr>
      <th>KITCHEN</th>
      <td><span class="green">23 kW</span></td>
      <td><span class="orange">150 kW</span></td>
      <td><span class="red">580 kW</span></td>
      <td>$2,000</td>
    </tr>
    </tbody>
  </table>
  <br>

  <ul class="weather-widget">
    <li>
      <div class="group">
        <h4><strong>TODAY, 12 March</strong></h4>
        <p class="muted">Australia, Sydney</p>
        <h1><strong>25°</strong> <small>20°</small></h1>
      </div>
      <i class="icon-weather-large i-sunny-large"></i>
      <!--<i class="icon-weather-large i-rainy-large"></i>
      <i class="icon-weather-large i-cloudy-large"></i>
      <i class="icon-weather-large i-storm-large"></i>-->
    </li>
    <li>
      <p>
        <strong>TUE</strong>
        <br>
        <small class="muted">13 MAR</small>
      </p>
      <i class="icon i-sunny"></i>
      <h3>24°</h3>
    </li>
    <li>
      <p>
        <strong>WED</strong>
        <br>
        <small class="muted">14 MAR</small>
      </p>
      <i class="icon i-cloudy"></i>
      <h3>25°</h3>
    </li>
    <li>
      <p>
        <strong>THU</strong>
        <br>
        <small class="muted">15 MAR</small>
      </p>
      <i class="icon i-rainy"></i>
      <h3>19°</h3>
    </li>
    <li>
      <p>
        <strong>FRI</strong>
        <br>
        <small class="muted">16 MAR</small>
      </p>
      <i class="icon i-storm"></i>
      <h3>23°</h3>
    </li>
    <li>
      <p>
        <strong>SAT</strong>
        <br>
        <small class="muted">17 MAR</small>
      </p>
      <i class="icon i-cloudy"></i>
      <h3>22°</h3>
    </li>
  </ul>
</aside>