<div class="cd-tabs">
  <nav>
    <ul class="cd-tabs-navigation">
      <!-- All of the selected room (default) -->
      <li><a ui-sref-active="selected" ui-sref="rooms.room({room:$stateParams.room})">Active <small>({{ctrl.rooms[$stateParams.room].members.length}})</small></a></li>

      <!-- Scenes in that room -->
      <li><a ui-sref-active="selected" ui-sref="rooms.scenes({room:$stateParams.room,scenes:'scenes'})">Scenes <small>({{ctrl.scenes.length}})</small></a></li>

      <!-- All devices, regardeless of the room: -->
      <li><a ui-sref-active="selected" ui-sref="rooms.room({all: true})">All <small>({{ctrl.items.length}})</small></a></li>
    </ul>
  </nav>
  
  <ul class="cd-tabs-content" style="height: auto">
    <li class="selected">

      <div class="line-list" ng-if="$stateParams.room=='all'">
        <ul class="row" ng-repeat="room in ctrl.rooms" ng-if="room.label!='All'">
          <div class="radio-block-wrap">
            <h4 class="up-case no-margin">{{room.label}}</h4>
            <label class="master-switch switch-small col-lg-3 col-md-3" for="switch-item-{{room.name}}">
              <input id="switch-item-{{room.name}}" type="checkbox" ng-model="room.display" ng-true-value="true" ng-false-value="false">
              <span class="switch col-lg-3 col-md-3"></span>
            </label>
          </div>
        </ul>
      
        <div class="row" ng-repeat="room in ctrl.rooms" ng-if="room.label!='All'">
          <ul class="line-list" ng-show="room.display" >
            <li ng-repeat="item in room.members" ng-switch="item.type">
              <h3><small>{{room.label}}</small></h3>
              <dimmer-item ng-switch-when="DimmerItem" item="item"></dimmer-item>
              <switch-item ng-switch-when="SwitchItem" item="item"></switch-item>
              <div ng-switch-default></div>
            </li>
          </ul>

        </div>
      
      </div>


      <div class="large-margin" ng-if="$stateParams.room!='all'">
        <h3>Master switch</h3>
        <master-switch item="ctrl.rooms[$stateParams.room]"></master-switch>
      </div>


      <ul class="line-list" ng-if="$stateParams.room!='all'">
        <li ng-repeat="item in ctrl.rooms[$stateParams.room].members" ng-switch="item.type">
          <dimmer-item ng-switch-when="DimmerItem" item="item"></dimmer-item>
          <switch-item ng-switch-when="SwitchItem" item="item"></switch-item>
          <div ng-switch-default><!-- Unsupported type {{item.type}}: {{item.name}} --></div>
        </li>
      </ul>
      <a href="#dialogSaveScene" magnific-popup class="btn btn-block popup-with-move-anim">Save Scene</a>
 


      <div id="dialogSaveScene" class="zoom-anim-dialog dialog dialog-small mfp-hide">
        <div class="dialog-header">
          <h3>New scene</h3>
        </div>

        <form name="ctrl.newSceneForm">
        <div class="dialog-content">
          <label>
            <p class="small-margin"><strong>Scene name</strong></p>
            <input type="text" class="field" name="name" ng-model="ctrl.newScene.name" required>
          </label>
        </div>
        </form>

        <div class="dialog-footer">
          <div class="row fixed-row">
            <div class="col6">
              <a class="popup-modal-dismiss cancel" href ng-click="closePopup()"><strong>CANCEL</strong></a>
            </div>
            <div class="col6 text-right">
              <a class="popup-modal-dismiss btn" href ng-click="ctrl.saveNewScene(closePopup)">Save</a>
            </div>
          </div>
        </div>
      </div>

    </li>
  </ul>
</div>