    	<div class="container">

            <h2>Rooms</h2>

        	<div class="row">

            	<div class="col4">
                	<p class="small-margin visible-mobile">Select a room</p>
                	<ul id="side-nav" class="line-list line-nav">
                    	<li class="selected"><a href="">Room 1</a></li>
                        <li><a href="">Room 2</a></li>
                        <li><a href="">Room 3</a></li>
                        <li><a href="">Living Room</a></li>
                        <li><a href="">Dining room</a></li>
                        <li><a href="">Kitchen</a></li>
                        <li><a href="">Backyard</a></li>
                    </ul>
                </div><!--col4-->

                <div class="col8">
                    <div class="cd-tabs">
                        <nav>
                            <ul class="cd-tabs-navigation">
                                <li><a data-content="1" class="selected" href="#0">Active <small>(4)</small></a></li>
                                <li><a data-content="2" href="#0">All power/appliances <small>(11)</small></a></li>
                            </ul>
                        </nav>

                        <ul class="cd-tabs-content">
                            <li data-content="1" class="selected">

                               	<div class="large-margin">
                                	<h3>Master switch</h3>
                                    <label class="master-switch">
                                    	<span class="left">On</span>
                                        <span class="right">Off</span>
                                        <input type="checkbox" checked>
                                        <span class="switch"></span>
                                    </label>
                                </div>

                            	<ul class="line-list">
                                	<li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-light-on-small powerranger js-change-opacity"></i>
                                        	<h4 class="up-case no-margin">lights<br><small>on</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                        <div class="slider">
                                            <input type="text" class="js-opacity" />
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-fridge"></i>
                                        	<h4 class="up-case no-margin">Fridge<br><small>on</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-microwave"></i>
                                        	<h4 class="up-case no-margin">microwave<br><small>on</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-door-small"></i>
                                        	<h4 class="up-case no-margin">front door<br><small>on</small></h4>
                                            <a class="popup-with-move-anim" href="#dialog">View CCTV</a>

                                            <div id="dialog" class="zoom-anim-dialog dialog mfp-hide">
                                            	<div class="dialog-header">
                                                	<h3>Front door cctv</h3>
                                                </div><!--popup-header-->
                                                <div class="dialog-content">
                                                	<div style="height:500px;background:#000;"></div>
                                                </div><!--popup-content-->
                                            </div>

                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul><!--line-list-->
                            </li><!--tab1-->

                            <li data-content="2">

                                <div class="large-margin">
                                	<h3>Master switch</h3>
                                    <label class="master-switch">
                                    	<span class="left">On</span>
                                        <span class="right">Off</span>
                                        <input type="checkbox" checked>
                                        <span class="switch"></span>
                                    </label>
                                </div>

                            	<ul class="line-list">
                                	<li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-light-on-small"></i>
                                        	<h4 class="up-case no-margin">lights<br><small>off</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-tv"></i>
                                        	<h4 class="up-case no-margin">Tv<br><small>on</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-power"></i>
                                        	<h4 class="up-case no-margin">Power<br><small class="muted">off</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-cctv-small"></i>
                                        	<h4 class="up-case no-margin">CCtv<br><small class="muted">off</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-blinds"></i>
                                        	<h4 class="up-case no-margin">Blinds<br><small class="muted">off</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-fan"></i>
                                        	<h4 class="up-case no-margin">Fan<br><small class="muted">off</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-door-small"></i>
                                        	<h4 class="up-case no-margin">Front door<br><small>on</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-microwave"></i>
                                        	<h4 class="up-case no-margin">microwave<br><small>on</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-sound-system"></i>
                                        	<h4 class="up-case no-margin">Sound system<br><small class="muted">off</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-sensor"></i>
                                        	<h4 class="up-case no-margin">Sensor<br><small class="muted">off</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox">
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="radio-block-wrap">
                                        	<i class="icon-appliance i-fridge"></i>
                                        	<h4 class="up-case no-margin">Fridge<br><small>on</small></h4>
                                            <label class="master-switch switch-small">
                                                <input type="checkbox" checked>
                                                <span class="switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul><!--line-list-->

                            </li><!--tab2-->
                        </ul><!-- cd-tabs-content -->
                    </div><!-- cd-tabs -->
                </div><!--col8-->

            </div><!--row-->
        <script>

          // Interacting with elements.
          var opct = document.querySelector('.js-opacity');
          var initOpct = new Powerange(opct, {
            callback: setOpacity,
            decimal: true,
            min: 0.1,
            max: .9,
            start: .5
          });

          function setOpacity() {
            document.querySelector('.js-change-opacity').style.opacity = opct.value;
          }

          //navigation to select
          $('#side-nav').tinyNav({
            active: 'selected'
          });

          //popup
          $('.popup-with-move-anim').magnificPopup({
            type: 'inline',
            fixedContentPos:true,
            fixedBgPos: false,
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
          });
        </script>
        </div>
