<div>
  <div class="group">
    <h2>List of items found</h2>
    <button ng-click="scan()">Press to scan</button>
  </div>

  <div class="ui accordion">

    <form ng-repeat="binding in discoverableBindings">
      <div class="title">
        {{binding}}
      </div>
      <div class="content">
        <!--<p class="no-margin"><strong>UID: {{thing.thingUID}}</strong></p>-->
        <div ng-repeat="thing in scanResults | filter:binding" class="row cols-margin">
          <p class="no-margin"><strong>UID: {{thing.thingUID}}</strong></p>
          <div class="col4">
            Name
            <input type="text" class="field" required name="label" ng-model="approveData[thing.thingUID].label">
          </div>
          <div class="col4">
            Group
            <select class="field" name="group" ng-model="approveData[thing.thingUID].group"></select>
          </div>
          <div class="col4">
            <br>
            
            <!--<input type="submit" value="Add" class="btn btn-block" ng-click="approve(thing.thingUID)">-->
            <a class="popup-with-move-anim btn btn-block" href="#dialog">Save</a>
             
            <!--dialog-start-->
			<div id="dialog" class="zoom-anim-dialog mfp-hide dialog dialog-small">
                        
				<div class="dialog-header">
					<h3>Characteristics of the item</h3>
				</div><!--dialog-header-->
                             
				<div class="dialog-content">    
					<p><strong>If it doesn't apply to your item, do not tick any boxes</strong></p>
					<ul class="no-style-list">
						<li>
							<label class="checkbox-wrap">
								<input type="checkbox" ng-model="approveData[thing.thingUID]">
								<span class="checkbox"></span>
                                Always on <small>(incase of freezers, refrigerators)</small>
                            </label> 
                        </li>
                       	<li>
							<label class="checkbox-wrap">
                        		<input type="checkbox">
                                <span class="checkbox"></span>
                                Keep locked <small>(incase of power outage do not open doors)</small>
                            </label> 
                       	</li>
					</ul>                        
				</div><!--dialog-content-->
                             
				<div class="dialog-footer">
					<div class="row fixed-row">
						<div class="col6">
                        	<a class="popup-modal-dismiss cancel" href="#"><strong>CANCEL</strong></a>
                        </div>
                        <div class="col6 text-right">
							<a class="popup-modal-dismiss btn" href="#" ng-click="approve(thing.thingUID)">Confirm</a>
						</div>
					</div><!--row-->
				</div><!--dialog-footer-->
			</div><!--dialog-->
    
          </div>
        </div>
      </div>
    </form>

  </div>

  <script>
    // TODO Angularify me
    $('.ui.accordion').accordion();
  </script>
</div>