<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:roku:rokuconfig">
		<parameter name="hostName" type="text" required="true">
			<context>network-address</context>
			<label>Host Name/IP Address</label>
			<description>Host Name or IP Address of the Roku device</description>
		</parameter>
		<parameter name="port" type="integer" min="1" max="65535" required="true">
			<label>Port</label>
			<description>Port for the ECP Connector of the Roku device</description>
			<default>8060</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="refresh" type="integer" min="1" required="false" unit="s">
			<label>Refresh Interval</label>
			<description>Specifies the Refresh Interval in Seconds</description>
			<default>10</default>
			<unitLabel>s</unitLabel>
		</parameter>
	</config-description>
</config-description:config-descriptions>
