# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK1  11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Format code
      run: mvn spotless:apply --file bundles/org.openhab.binding.webthing/pom.xml
    - name: Build with Maven
      run: mvn -B package --file bundles/org.openhab.binding.webthing/pom.xml
    - name: Copy
      run: mkdir staging && cp bundles/org.openhab.binding.webthing/target/*.jar staging
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
         name: Package
         path: staging
