<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="enocean:genericChannel:config">
		<parameter name="transformationType" type="text">
			<label>Type of transformation</label>
			<description>e.g. "MAP"</description>
			<required>true</required>
		</parameter>
		<parameter name="transformationFuntion" type="text">
			<label>Function of transformation type</label>
			<description>e.g. for transformation type map => filename of mapping file</description>
			<required>true</required>
		</parameter>
	</config-description>

</config-description:config-descriptions>
