<div layout="row" layout-align="start center" flex="100">
	<div class="item-label-container" flex="40">
        <i class="material-icons">{{::$ctrl.getIcon($ctrl.item.category, 'format_align_justify')}}</i>
        <div>{{::$ctrl.getLabel($ctrl.item, 'Position')}}</div>
    </div>
	<div flex="60" layout="row" layout-align="end center">
		<div ng-if="::$ctrl.item.readOnly">
			<span class="state">{{::$ctrl.item.stateText}}</span>
		</div>
		<form name="controlForm">
			<div layout="row" layout-align="end center" ng-if="::(!$ctrl.item.readOnly && !$ctrl.isOptionList($ctrl.item))">
				<span class="state edit" ng-if="!$ctrl.editMode" ng-click="$ctrl.editState()">{{$ctrl.item.stateText}}</span>
				<md-input-container ng-show="$ctrl.editMode" class="number-input">
				    <input name="{{::$ctrl.item.name}}"
				           ng-model="$ctrl.item.state"
				           aria-label={{::$ctrl.item.label}}
				           type="number"
				           min="0"
				           max="100">
				</md-input-container>
				<i class="md-button control-button material-icons"
				   ng-disabled="controlForm[$ctrl.item.name].$invalid"
				   ng-show="$ctrl.editMode"
				   ng-click="controlForm[$ctrl.item.name].$invalid || $ctrl.updateState()">check</i>
			</div>
		</form>
	</div>
</div>
<div ng-if="::(!$ctrl.isOptionList(item) && !$ctrl.item.readOnly)" layout="row" layout-align="start center" flex="100">
	<div flex="40" layout="row" layout-align="start center">
		<p>Control</p>
	</div>
	<div flex="60" layout="row" layout-align="end center">
		<i class="md-button control-button material-icons" 
		   ng-click="$ctrl.sendCommand('DOWN')">vertical_align_bottom</i> 
		<i class="md-button control-button material-icons" 
		   ng-click="$ctrl.sendCommand('STOP')">stop</i>
		<i class="md-button control-button material-icons"
		   ng-click="$ctrl.sendCommand('UP')">vertical_align_top</i>
	</div>
</div>
<div layout="row" layout-align="start center" ng-if="::($ctrl.isOptionList($ctrl.item) && !$ctrl.item.readOnly)">
    <item-state-dropdown item="$ctrl.item" on-change="$ctrl.updateState()"></item-state-dropdown>
</div>
