<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="voice:pipertts">
		<parameter name="preloadModel" type="boolean">
			<label>Preload Model</label>
			<description>
				Keep the last voice model loaded. If the parameter is set to true, the model will be reloaded only when
				using a different voice.
			</description>
			<default>false</default>
		</parameter>
	</config-description>

</config-description:config-descriptions>
