<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="bridge-type:avmfritz:fritzbox">
		<parameter-group name="network">
			<label>Network</label>
			<description>Network settings.</description>
		</parameter-group>
		<parameter-group name="authentication">
			<label>Authentication</label>
			<description>Authentication settings.</description>
		</parameter-group>
		<parameter-group name="connection">
			<label>Connection</label>
			<description>Connection settings.</description>
		</parameter-group>
		<parameter name="ipAddress" type="text" required="true" groupName="network">
			<context>network-address</context>
			<label>IP Address</label>
			<description>The local IP address or hostname of the FRITZ!Box.</description>
			<default>fritz.box</default>
		</parameter>
		<parameter name="port" type="integer" min="1" max="65535" groupName="network">
			<label>Port</label>
			<description>Port of the FRITZ!Box.</description>
		</parameter>
		<parameter name="protocol" type="text" groupName="network">
			<label>Protocol</label>
			<description>Protocol to connect to the FRITZ!Box (http or https).</description>
			<default>http</default>
			<options>
				<option value="http">HTTP</option>
				<option value="https">HTTPS</option>
			</options>
		</parameter>
		<parameter name="user" type="text" groupName="authentication">
			<label>Username</label>
			<description>User name which has HomeAuto permissions on the given FRITZ!Box.</description>
		</parameter>
		<parameter name="password" type="text" groupName="authentication">
			<context>password</context>
			<label>Password</label>
			<description>Password to access the FRITZ!Box.</description>
		</parameter>
		<parameter name="pollingInterval" type="integer" min="1" max="60" unit="s" groupName="connection">
			<label>Polling Interval</label>
			<description>Interval polling the FRITZ!Box (in seconds).</description>
			<default>15</default>
		</parameter>
		<parameter name="asyncTimeout" type="integer" min="1000" max="60000" unit="ms" groupName="connection">
			<label>Async Timeout</label>
			<description>Timeout for asynchronous connections (in milliseconds).</description>
			<default>10000</default>
		</parameter>
		<parameter name="syncTimeout" type="integer" min="500" max="15000" unit="ms" groupName="connection">
			<label>Timeout</label>
			<description>Timeout for synchronous connections (in milliseconds).</description>
			<default>2000</default>
		</parameter>
	</config-description>

	<config-description uri="bridge-type:avmfritz:fritzpowerline">
		<parameter-group name="network">
			<label>Network</label>
			<description>Network settings.</description>
		</parameter-group>
		<parameter-group name="authentication">
			<label>Authentication</label>
			<description>Authentication settings.</description>
		</parameter-group>
		<parameter-group name="connection">
			<label>Connection</label>
			<description>Connection settings.</description>
		</parameter-group>
		<parameter name="ain" type="text">
			<label>AIN</label>
			<description>The AHA id (AIN) that identifies one specific FRITZ! device.</description>
			<advanced>true</advanced>
		</parameter>
		<parameter name="ipAddress" type="text" required="true" groupName="network">
			<context>network-address</context>
			<label>IP Address</label>
			<description>The localIP address or hostname of the FRITZ!Powerline.</description>
			<default>fritz.powerline</default>
		</parameter>
		<parameter name="port" type="integer" min="1" max="65535" groupName="network">
			<label>Port</label>
			<description>Port of the FRITZ!Powerline.</description>
		</parameter>
		<parameter name="protocol" type="text" groupName="network">
			<label>Protocol</label>
			<description>Protocol to connect to the FRITZ!Powerline (http or https).</description>
			<default>http</default>
			<options>
				<option value="http">HTTP</option>
				<option value="https">HTTPS</option>
			</options>
		</parameter>
		<parameter name="password" type="text" required="true" groupName="authentication">
			<context>password</context>
			<label>Password</label>
			<description>Password to access the FRITZ!Powerline.</description>
		</parameter>
		<parameter name="pollingInterval" type="integer" min="1" max="60" unit="s" groupName="connection">
			<label>Polling Interval</label>
			<description>Interval polling the FRITZ!Powerline (in seconds).</description>
			<default>15</default>
		</parameter>
		<parameter name="asyncTimeout" type="integer" min="1000" max="60000" unit="ms" groupName="connection">
			<label>Async Timeout</label>
			<description>Timeout for asynchronous connections (in milliseconds).</description>
			<default>10000</default>
		</parameter>
		<parameter name="syncTimeout" type="integer" min="500" max="15000" unit="ms" groupName="connection">
			<label>Timeout</label>
			<description>Timeout for synchronous connections (in milliseconds).</description>
			<default>2000</default>
		</parameter>
	</config-description>

	<config-description uri="thing-type:avmfritz:fritzdevice">
		<parameter name="ain" type="text" required="true">
			<label>AIN</label>
			<description>The AHA id (AIN) that identifies one specific FRITZ! device.</description>
		</parameter>
	</config-description>

	<config-description uri="thing-type:avmfritz:fritzgroup">
		<parameter name="ain" type="text" required="true">
			<label>AIN</label>
			<description>The AHA id (AIN) that identifies one specific FRITZ! group.</description>
		</parameter>
	</config-description>

	<config-description uri="channel-type:avmfritz:temperature">
		<parameter name="offset" type="decimal" readOnly="true" unit="Cel">
			<label>Temperature Offset</label>
			<description>Current temperature offset (in °C).</description>
			<default>0</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
