<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
    xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

    <config-description uri="thing-type:openthermgateway:otgw">
        <parameter name="ipaddress" type="text" required="true">
		    <label>Hostname or IP address</label>
		    <description>The hostname or IP address to connect to the OpenTherm Gateway.</description>
		</parameter>
		<parameter name="port" type="integer" required="true">
		    <label>Port</label>
		    <description>The port used to connect to the OpenTherm Gateway.</description>
		</parameter>
    </config-description>

</config-description:config-descriptions>
